<div class="uk-container uk-margin-large-top">
<h2>Criar ou editar artigo do blog</h2>
    <editor
      [(ngModel)]="editorContent"
      [init]="editorConfig"
      apiKey="a8yzw2uhdu7v6niumnokr811bginwp5kfr689ismxj4dtnxu"

      
    ></editor>
    
    <button class="uk-margin-large-top botao-azul uk-button uk-button-large uk-border-rounded" (click)="save()">Salvar e publicar</button>

</div>
 
<!-- 

<div class="form-container">
  <h2>Create New Post</h2>
  
  @if (errorMessage) {
    <div class="error-message">
      {{ errorMessage }}
    </div>
  }

  <form (ngSubmit)="onSubmit()" #postForm="ngForm">
    <div class="form-group">
      <label for="title">Title*</label>
      <input
        type="text"
        id="title"
        [(ngModel)]="newPost.title"
        name="title"
        required
      >
    </div>

    <div class="form-group">
      <label for="content">Conteúdo*</label>
      <textarea
        id="content"
        [(ngModel)]="newPost.content"
        name="content"
        rows="6"
        required
      ></textarea>
    </div>

    <div class="form-group">
      <label for="imageUrl">Link da imagem (optional)</label>
      <input
        type="url"
        id="imageUrl"
        [(ngModel)]="newPost.imageUrl"
        name="imageUrl"
      >
    </div>

    <button 
      type="submit" 
      [disabled]="isSubmitting || !postForm.form.valid"
    >
      @if (isSubmitting) {
        <span>Publishing...</span>
      } @else {
        <span>Publish Post</span>
      }
    </button>
  </form>
</div>
-->