<div class="fundo-cabecalho">
    <div class="gradiente-texto-cabecalho">
        <div class="conteudo-cabecalho uk-margin-medium-top">
            <div class="uk-container uk-margin-large-bottom">
                <h4 style="color:white">Data Center</h4>
                <h1 style="color:rgba(39, 200, 227, 1); font-weight: bolder;">Infraestrutura robusta para um mundo
                    digital <br> sempre conectado.</h1>
            </div>
        </div>
    </div>
</div>

<div class="uk-container">
    <div class="uk-grid-column-small uk-grid-row-small uk-child-width-1-2@s uk-text-left uk-margin-large-top " uk-grid>

        <div>
            <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column uk-flex-stretch">
                <div class="uk-card-media-top">
                    <img class="border-2 card-image" src="img/servicos/cloud.jpeg" width="1800" height="1200" alt="">
                    <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder;"><b>AngoNAP</b></h2>
                    <p>Infraestrutura projetada com elevados padrões de segurança, capacidade de expansão e redundância
                        energética, garantindo serviços de alojamento e conectividade contínua. Ideal para empresas que
                        buscam alta disponibilidade, desempenho otimizado e soluções escaláveis, com suporte técnico
                        especializado e infraestrutura de ponta para operações críticas.</p>
                </div>
                <div
                    class="uk-margin-small-left uk-margin-small-right uk-margin-large-top uk-flex-1 uk-flex uk-flex-column">
                    <ul class="uk-subnav uk-subnav-pill" uk-switcher>
                        <li style="font-weight: bold"><a class="texto-abas-cronologia">Benefícios</a></li>
                        <li><a class="texto-abas-cronologia">Características</a></li>
                    </ul>
                    <div class="uk-switcher uk-flex-1">
                        <div style="background-color: white;" class="uk-child-width-expand@s" uk-grid>
                            <div class="uk-grid-item-match">
                                - O nosso serviço de IP Trânsito proporciona conectividade internacional
                                <br>- O nosso serviço de IP Trânsito proporciona conectividade internacional
                                <br>- O nosso serviço de IP Trânsito proporciona conectividade internacional
                            </div>
                        </div>
                        <div>Hello again!</div>
                    </div>
                </div>
                <div class="uk-text-center uk-margin-auto-top">
                    <a style="font-weight: bold;" href="#">
                        <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">Guia do
                            produto</button>
                    </a>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column uk-flex-stretch">
                <div class="uk-card-media-top">
                    <img class="border-2 card-image" src="img/servicos/cloud.jpeg" width="1800" height="1200" alt="">
                    <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder;"><b>Managed Services</b></h2>
                    <p>O serviço de Managed Services permite à sua empresa ter suporte para itens como routing,
                        switching, segurança, VoIP, infraestrutura e outros a serem desenhados, implementados e geridos
                        por um time de especialistas da Angola Cables, lhe poupando de erros na sua rede ou suprindo a
                        necessidade de mão-de-obra para tal.</p>
                </div>
                <div
                    class="uk-margin-small-left uk-margin-small-right uk-margin-large-top uk-flex-1 uk-flex uk-flex-column">
                    <ul class="uk-subnav uk-subnav-pill" uk-switcher>
                        <li style="font-weight: bold"><a class="texto-abas-cronologia">Benefícios</a></li>
                        <li><a class="texto-abas-cronologia">Características</a></li>
                    </ul>
                    <div class="uk-switcher uk-flex-1">
                        <div style="background-color: white;" class="uk-child-width-expand@s" uk-grid>
                            <div class="uk-grid-item-match"><p>
                                - O nosso serviço de IP Trânsito proporciona conectividade internacional
                                <br>- O nosso serviço de IP Trânsito proporciona conectividade internacional
                                <br>- O nosso serviço de IP Trânsito proporciona conectividade internacional 
                                </p>
                            </div>
                        </div>
                        <div>Hello again!</div>
                    </div>
                </div>
                <div class="uk-text-center uk-margin-auto-top">
                    <a style="font-weight: bold;" href="#">
                        <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">Guia do
                            produto</button>
                    </a>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column uk-flex-stretch">
                <div class="uk-card-media-top">
                    <img class="border-2 card-image" src="img/servicos/backups.png" width="1800" height="1200" alt="">
                    <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder;"><b>Global Data Center Interconnection</b>
                    </h2>
                  
                </div>
                  <p>O GDI é um serviço dedicado multiponto que conecta Pontos de Presença (PoPs) dentro da rede
                        global da Angola Cables, garantindo alta performance, segurança e confiabilidade para operações
                        críticas em escala internacional, com suporte técnico especializado e infraestrutura de ponta
                        para máxima eficiência e disponibilidade.</p>
                <div
                    class="uk-margin-small-left uk-margin-small-right uk-margin-large-top uk-flex-1 uk-flex uk-flex-column">
                    <ul class="uk-subnav uk-subnav-pill" uk-switcher>
                        <li style="font-weight: bold"><a class="texto-abas-cronologia">Benefícios</a></li>
                        <li><a class="texto-abas-cronologia">Características</a></li>
                    </ul>
                    <div class="uk-switcher uk-flex-1">
                        <div style="background-color: white;" class="uk-child-width-expand@s" uk-grid>
                            <div class="uk-grid-item-match">
                                - O nosso serviço de IP Trânsito proporciona conectividade internacional
                                <br>- O nosso serviço de IP Trânsito proporciona conectividade internacional
                                <br>- O nosso serviço de IP Trânsito proporciona conectividade internacional
                            </div>
                        </div>
                        <div>Hello again!</div>
                    </div>
                </div>
                <div class="uk-text-center uk-margin-auto-top">
                    <a style="font-weight: bold;" href="#">
                        <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">Guia do
                            produto</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="background-color: white;">
    <app-ad2></app-ad2>
</div>