<app-menu></app-menu>
<div class="fundo-cabecalho">
    <div class="gradiente-texto-cabecalho">
        <div class="conteudo-cabecalho uk-margin-medium-top">
            <div class="uk-container uk-margin-large-bottom">
                <h1 style="color:#fff; margin-top: 20px; font-weight: 800;">Connectivity</h1>
                <h2 style="color:white; ">Our carrier-neutral infrastructure delivers premium internet access,
                    interconnection, and backbone services.</h2>

            </div>
        </div>
    </div>
</div>






<div class="uk-container uk-margin-large-top ">

    <div class="uk-grid-large uk-grid-match " uk-grid>
        <!-- Sidebar -->
        <div class="  uk-width-1-4@m uk-margin-small-top">
            <ul class="sombra uk-nav uk-nav-default uk-card uk-card-body uk-card-small uk-border-rounded"
                style=" box-shadow: 2px 24px 90px rgba(0, 53, 103, 0.559); background: #fff;"
                uk-switcher="connect: #component-nav; animation: uk-animation-fade">

                <li class="uk-nav-header uk-text-uppercase uk-text-meta uk-margin-small-bottom"></li>
                <li><a href="#" class="uk-text-bold">Metro Ethernet (L2 VPN)</a></li>
                <li><a href="#" class="uk-text-bold">Global Data Center</a></li>
                <li><a href="#" class="uk-text-bold">Interconnection</a></li>
                <li><a href="#" class="uk-text-bold">Wavelenght (OTN/DWDM)</a></li>
                <li><a href="#" class="uk-text-bold">Dedicated Internet Acess</a></li>
                <li><a href="#" class="uk-text-bold">IP Transit</a></li>
                <li><a href="#" class="uk-text-bold">ACloud Connect</a></li>
            </ul>
        </div>




        <!-- Content Area -->
        <div class="uk-width-expand@m">
            <div id="component-nav" class="uk-switcher" uk-accordion="multiple: false; collapsible: true">

                <!-- INTERNET ACCESS -->
                <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-small">
                    <h1 style="color: rgba(0, 0, 78, 0.918);" class="uk-margin-bottom">Connect your infrastructure
                        to the internet with up to 99.95% SLA
                    </h1>


                    <ul uk-accordion="multiple: true" class="">
                        <li class="uk-open">
                            <a class="uk-accordion-title" href="#">

                                DIA (Dedicated Internet Access)
                            </a>
                            <div class="uk-accordion-content">
                                <p>Internet access with flexible capacity within a global, efficient and low-latency
                                    network.</p>

                                <ul class="uk-list uk-list-bullet uk-margin-small">
                                    <li>Global access to network</li>
                                    <li>Guaranteed speed and quality of service</li>
                                    <li>24x7x365 support up to 99.95% SLA</li>
                                    <li>Flexible billing and delivery model</li>
                                    <li>Service upgrade on demand</li>
                                </ul>


                            </div>
                        </li>


                        <li>
                            <a class="uk-accordion-title" href="#">

                                IP Transit
                            </a>
                            <div class="uk-accordion-content">
                                <p>BGP peering for IP advertising for B2B customers with ASN and flexible capacity.
                                </p>
                            </div>
                        </li>


                        <li>
                            <a class="uk-accordion-title" href="#">

                                Broadband Access
                            </a>
                            <div class="uk-accordion-content">
                                <p>Service provided to the customer location with single last mile connection or
                                    extension via fiber.</p>
                            </div>
                        </li>


                        <li>
                            <a class="uk-accordion-title" href="#">

                                Premium Delivery
                            </a>
                            <div class="uk-accordion-content">
                                <p>Access delivered to customer’s location with protected last mile connections via
                                    fiber-fiber.</p>
                            </div>
                        </li>

                        <li class="uk-margin-small-top">

                            <div class="uk-margin-small-top">
                                Ideal for:
                                <span class="tag">Technology</span>
                                <span class="tag">Energy</span>
                                <span class="tag">Oil & Gas</span>
                                <span class="tag">Manufacturing</span>
                                <span class="tag">Finance</span>
                                <span class="tag">Public Sector</span>
                                <span class="tag">General Markets</span>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- PRIVATE METRO CONNECTIONS -->
                <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-small">

                    <h1 style="color: rgba(0, 0, 78, 0.918);" class="uk-margin-bottom">Private site-to-site /
                        multisite dedicated connection
                    </h1>


                    <ul uk-accordion="multiple: true" class="">
                        <li class="uk-open">
                            <a class="uk-accordion-title" href="#">

                                EPLC - Layer2VPN
                            </a>
                            <div class="uk-accordion-content">
                                <p>Built for Enterprises that have a centralized core network at their HQ or Data
                                    Center
                                    and need to connect other sites.
                                    Dedicated Layer 2 site-to-site or site-to-multisite interconnection over fiber.
                                </p>

                                <ul class="uk-list uk-list-bullet uk-margin-small">
                                    <li>Consistent speed and quality of service</li>
                                    <li>Secured and reliable private symmetric connections</li>
                                    <li>On-demand service upgrades</li>
                                    <li>24x7x365 NOC support</li>
                                </ul>
                                Ideal for:
                                <div class="uk-margin-small-top">

                                    <span class="tag">Finance</span>
                                    <span class="tag">Technology</span>
                                    <span class="tag">Energy</span>
                                    <span class="tag">Oil & Gas</span>
                                    <span class="tag">Manufacturing</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- INTERNATIONAL PRIVATE CIRCUIT -->
                <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-small">
                    <h1 style="color: rgba(0, 0, 78, 0.918);" class="uk-margin-bottom">Dedicated international
                        circuits for global site interconnections
                    </h1>


                    <ul uk-accordion="multiple: true" class="">
                        <li class="uk-open">
                            <a class="uk-accordion-title" href="#">

                                IPLC - OTN / DWDM
                            </a>
                            <div class="uk-accordion-content">
                                <p>Leased line connection from a local site to international points. Over 1,000 data
                                    centers across the globe supported
                                    by a resilient submarine cable network from Europe to Africa, the Americas, and
                                    Asia.</p>

                                <ul class="uk-list uk-list-bullet uk-margin-small">
                                    <li>International connectivity & global coverage</li>
                                    <li>Improved latency to endpoints</li>
                                    <li>Assured service delivery</li>
                                    <li>24x7x365 technical support & security services</li>
                                </ul>

                                <div class="uk-margin-small-top">
                                    Ideal for:
                                    <span class="tag">Financial Sector</span>
                                    <span class="tag">Technology</span>
                                    <span class="tag">Oil & Gas</span>
                                    <span class="tag">Multinationals</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- PUBLIC CLOUD ACCESS -->
                <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-small">
                    <h1 style="color: rgba(0, 0, 78, 0.918);" class="uk-margin-bottom">Secured connections to Public
                        Cloud Service Providers from Europe
                    </h1>



                    <ul uk-accordion="multiple: true" class="">
                        <li class="uk-open">
                            <a class="uk-accordion-title" href="#">

                                EPLC - ACloudConnect
                            </a>
                            <div class="uk-accordion-content">
                                <p>Leased capacity connections from a customer site to one or multiple international
                                    Cloud Service Providers from over
                                    500+ cloud zones in ROA, EMEA, the Americas, and Asia.</p>

                                <ul class="uk-list uk-list-bullet uk-margin-small">
                                    <li>Improved quality of service</li>
                                    <li>Dedicated, low-latency links to Cloud Service Providers</li>
                                    <li>Private & secured connection to customer premises (optional)</li>
                                </ul>

                                <div class="uk-margin-small-top">
                                    Ideal for:
                                    <span class="tag">Entertainment</span>
                                    <span class="tag">Finance</span>
                                    <span class="tag">Education</span>
                                    <span class="tag">Technology</span>
                                    <span class="tag">Multinationals</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- REMOTE IX CONNECTIONS -->
                <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-box-shadow-small">


                    <h1 style="color: rgba(0, 0, 78, 0.918);">Connect to IXPs without being physically present at
                        the exchange
                        location
                    </h1>

                    <ul uk-accordion="multiple: true" class="">
                        <li class="uk-open">
                            <a class="uk-accordion-title" href="#">

                                EPLC - Remote Peering
                            </a>
                            <div class="uk-accordion-content">
                                <p>Remote Peering enables customers to connect to leading global Internet Exchange
                                    Points (IXPs) without the need for
                                    physical presence. Leverage Angola Cables’ international backbone and extensive
                                    interconnections to reach multiple
                                    IXPs worldwide, exchanging traffic directly with ISPs, CDNs, and cloud
                                    providers.
                                </p>

                                <ul class="uk-list uk-list-bullet uk-margin-small">
                                    <li>Cost savings – no need for physical infrastructure or local staff</li>
                                    <li>Extended reach – access to multiple IXPs worldwide</li>
                                    <li>Better performance – lower latency and direct routing compared to IP transit
                                    </li>
                                    <li>Operational simplicity – quick activation via a single provider</li>
                                </ul>

                                <div class="uk-margin-small-top">
                                    Ideal for:
                                    <span class="tag">Financial Sector</span>
                                    <span class="tag">Technology</span>
                                    <span class="tag">Multinationals</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>



<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit-icons.min.js"></script>



<app-ad2></app-ad2>

<app-rodape></app-rodape>