<app-menu></app-menu>
<div class="fundo-cabecalho">
    <div class="gradiente-texto-cabecalho">
        <div class="conteudo-cabecalho uk-margin-medium-top">
            <div class="uk-container uk-margin-large-bottom">
                <h4 style="color:white; font-size: 1.1rem;">Conectividade</h4>
                <h1 style="color:rgba(39, 200, 227, 1); margin-top: 20px; font-weight: 800;">Acesso rápido e eficiente às principais
                    <br>redes e hubs digitais do mundo.</h1>
            </div>
        </div>
    </div>
</div>






<div class="uk-container">
    <div class="uk-grid-column-small uk-grid-row-small uk-child-width-1-2@s uk-text-left uk-margin-large-top " uk-grid>

        <!-- Global Data Center Interconnection -->
        <div>
            <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column">
                <div class="uk-card-media-top">
                    <img style="border-radius: 20px;"  class="border-2 card-image" src="img/servicos/dia.jpeg" width="1800" height="1200" alt="">
                    <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder;"><b>Global Data Center Interconnection</b>
                    </h2>
                    <p>O GDI é um serviço dedicado multiponto que conecta Pontos de Presença (PoPs) dentro da rede
                        global da Angola Cables, garantindo alta performance, segurança e confiabilidade para operações
                        críticas em escala internacional.

                    </p>
                </div>
                <!-- Switcher Section -->

                <!-- Button -->
                <a style="font-weight: bold;" href="https://angolacables.rds.land/conectividade_ac">
                    <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">Guia do
                        produto</button>
                </a>
            </div>
        </div>
        <!-- IP Transit -->
        <div>
            <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column">
                <div class="uk-card-media-top">
                    <img style="border-radius: 20px;"  class="border-2 card-image" src="img/servicos/ip-transit.jpeg" width="1800" height="1200"
                        alt="">
                    <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder;"><b>IP Transit</b></h2><br>
                    <p>O IP Trânsito oferece conectividade local e internacional para provedores de conteúdo (CDNs) e
                        acesso aos principais ISPs (Tier 1), com acordos estratégicos de troca de tráfego e acesso
                        direto aos maiores IXPs globais.</p>
                </div>
                <!-- Switcher Section -->

                <!-- Button -->
                <a style="font-weight: bold;" href="https://angolacables.rds.land/conectividade_ac">
                    <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">Guia do
                        produto</button>
                </a>
            </div>
        </div>


        <div>
            <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column">
                <div class="uk-card-media-top">
                    <img style="border-radius: 20px;"  class="border-2 card-image" src="img/servicos/dia.jpeg" width="1800" height="1200" alt="">
                    <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder;"><b>Direct Internet Acess (DIA)</b></h2>
                    <br>
                    <p>A solução DIA garante acesso seguro e dedicado para redes de conteúdos digitais (CDN´s) e
                        provedores Tier 1 globais, excluindo a necessidade de um ASN (Autonomous System Number). A
                        entidade passa a beneficiar de uma estrutura intercontinental multivalente que interliga
                        estrategicamente mais de 27 pontos de atractividade IP.</p>
                </div>
               
                <!-- Button -->
                <a style="font-weight: bold;" href="https://angolacables.rds.land/conectividade_ac">
                    <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">Guia do
                        produto</button>
                </a>
            </div>
        </div>



        <div>
            <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column">
                <div class="uk-card-media-top">
                    <img style="border-radius: 20px;"  class="border-2 card-image" src="img/servicos/ip-gamer.png" width="1800" height="1200" alt="">
                    <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder;"><b>IP Gamer</b></h2><br>
                    <p>A melhor experiência de jogo com latências reduzidas, conectando diretamente aos principais
                        servidores globais e garantindo desempenho superior, estabilidade, qualidade e uma conexão
                        confiável para jogadores mais exigentes, com suporte dedicado, acesso a plataformas de última
                        geração e roteamento otimizado para máxima eficiência.



                    </p>
                </div>
               
                <!-- Button -->
                <a style="font-weight: bold;" href="https://angolacables.rds.land/conectividade_ac">
                    <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">Guia do
                        produto</button>
                </a>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column">
                <div class="uk-card-media-top">
                    <img style="border-radius: 20px;"  class="border-2 card-image" src="img/servicos/ip-exchange.png" width="1800" height="1200"
                        alt="">
                    <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder;"><b>IP Exchange</b></h2><br>
                    <p>Acesso direto a mais de 27 IXPs e 6000 operadores globais, CDNs, OTTs e serviços de nuvem,
                        garantindo conectividade de alta performance, roteamento eficiente e baixa latência para uma
                        experiência de rede robusta e confiável em escala internacional, com suporte técnico
                        especializado e infraestrutura de ponta.

                        .



                    </p>
                </div>
             
                <!-- Button -->
                <a style="font-weight: bold;" href="https://angolacables.rds.land/conectividade_ac">
                    <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">Guia do
                        produto</button>
                </a>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column">
                <div class="uk-card-media-top">
                    <img style="border-radius: 20px;"  class="border-2 card-image" src="img/servicos/remote-peering.jpeg" width="1800" height="1200"
                        alt="">
                    <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder;"><b>Remote Peering</b></h2><br>
                    <p>O Remote Peering permite conexão remota a pontos de troca de tráfego (IXPs) globais, oferecendo
                        maior eficiência, redução de custos e latência otimizada. Ideal para empresas que buscam
                        interconectar-se diretamente a múltiplas redes, melhorando desempenho e alcance global com
                        infraestrutura robusta e segura.




                    </p>
                </div>
               
                <!-- Button -->
                <a style="font-weight: bold;" href="https://angolacables.rds.land/conectividade_ac">
                    <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">Guia do
                        produto</button>
                </a>
            </div>
        </div>



        <div>
            <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column">
                <div class="uk-card-media-top">
                    <img style="border-radius: 20px;"  class="border-2 card-image fundo-imagem" src="img/servicos/transporte.jpeg" width="1800"
                        height="1200" alt="">
                    <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder;"><b>Transporte</b></h2><br>
                    <p>Os produtos de conectividade (EPLC e IPLC) da Angola Cables oferecem conexões ponto-a-ponto ou
                        multiponto, com alta resiliência e baixa latência, conectando destinos estratégicos como Data
                        Centers e IXPs em África, Europa, Brasil, EUA e Ásia, garantindo desempenho superior para
                        sourcing de conteúdos digitais.


                    </p>
                </div>
               
                <!-- Button -->
                <a style="font-weight: bold;" href="https://angolacables.rds.land/conectividade_ac">
                    <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">Guia do
                        produto</button>
                </a>
            </div>
        </div>


        <div>
            <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column">
                <div class="uk-card-media-top">
                    <img style="border-radius: 20px;"  class="border-2 card-image fundo-imagem" src="img/servicos/cloud-connect.jpeg" width="1800"
                        height="1200" alt="">
                    <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder;"><b>ACloud Connect</b></h2><br>
                    <p>ACloud Connect é um serviço de conectividade fornecido pela Angola Cables que é caracterizado por
                        um alto nível de desempenho e segurança. Este serviço é projectado para clientes corporativos e
                        garante previsibilidade de aplicativos hospedados na nuvem. Em uma única interface, o cliente
                        tem acesso a várias conexões privadas globalmente (MS Azure, AWS, Oracle, Google Cloud Platform
                        e IBM).


                    </p>
                </div>
       
                <!-- Button -->
                <a style="font-weight: bold;" href="https://angolacables.rds.land/conectividade_ac">
                    <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">Guia do
                        produto</button>
                </a>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column">
                <div class="uk-card-media-top">
                    <img style="border-radius: 20px;"  class="border-2 card-image fundo-imagem" src="img/servicos/dark-fiber.jpg" width="1800"
                        height="1200" alt="">
                    <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder;"><b>Dark-Fiber</b></h2><br>
                    <p>O serviço de Dark Fiber oferece infraestrutura de fibra óptica dedicada e escalável, permitindo
                        total controle sobre a rede, alta capacidade de transmissão e segurança máxima. Ideal para
                        empresas que demandam desempenho superior, baixa latência e flexibilidade para personalização de
                        soluções de conectividade de ponta a ponta.



                        .



                    </p>
                </div>
              
                <!-- Button -->
                <a style="font-weight: bold;" href="https://angolacables.rds.land/conectividade_ac">
                    <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">Guia do
                        produto</button>
                </a>
            </div>
        </div>


        <div>
            <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column">
                <div class="uk-card-media-top">
                    <img style="border-radius: 20px;"  class="border-2 card-image fundo-imagem" src="img/servicos/angonix.jpg" width="1800"
                        height="1200" alt="">
                    <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder;"><b>Angonix</b></h2><br>
                    <p>O ANGONIX é um Internet Exchange (IXP) que transformou o ambiente africano da internet.
                        Localizado em Luanda, é ideal para troca de tráfego à distância, conectando redes globais,
                        operadoras e provedores de conteúdo, mantendo o tráfego local e oferecendo uma base de peering
                        estratégica no continente.


                    </p>
                </div>
               
                <!-- Button -->
                <a style="font-weight: bold;" href="https://angolacables.rds.land/conectividade_ac">
                    <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">Guia do
                        produto</button>
                </a>
            </div>
        </div>


        <div class="uk-margin-large-bottom">
            <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column">
                <div class="uk-card-media-top">
                    <img style="border-radius: 20px;"  class="border-2 card-image fundo-imagem" src="img/servicos/pix.png" width="1800" height="1200"
                        alt="">
                    <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder;"><b>PIX</b></h2><br>
                    <p>O PIX (Point for Internet Exchange) é uma solução de rede capaz de receber tráfego de clientes ou
                        revendedores (CIX) a partir de um determinado Ponto de Troca de Tráfego (IXP). Esse elemento faz
                        parte da matriz computacional que compõe um IXP, ou seja, cada PIX se conecta a outros PIX ou ao
                        PIX Central.


                    </p>
                </div>
              
                <!-- Button -->
                <a style="font-weight: bold;" href="https://angolacables.rds.land/conectividade_ac">
                    <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">Guia do
                        produto</button>
                </a>
            </div>
        </div>



    </div>
</div>

<app-rodape></app-rodape>