.fundo-cabecalho {
    background-image: url('/img/servicos/cabelhaco-servicos.png');
    position: relative;
    min-height: 400px; /* Adjust based on design */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000;
    position: relative;
    min-height: 400px; /* Adjust based on design */
        margin-top: 67px;

}


.logo-cabecalho-pagina {
    height: 40px;
    width: auto;
}

.conteudo-cabecalho {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 78, 0.918), rgba(0, 0, 78, 0.918), rgba(0, 0, 255, 0)); /* Blue to transparent */
}

.fundo-servicos {
    background-color: rgb(247, 247, 247);
}

.botao-guia {
    background-color: rgba(40, 193, 253, 1);
    color: rgba(0, 0, 78, 0.918);
}

.uk-subnav-pill>.uk-active>a {
    border-radius: 5px;
    background-color: rgba(40, 193, 253, 1);
    color: rgba(5, 5, 51, 1);
    font-weight: bolder;
}

.uk-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.uk-card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.uk-flex-1 {
    flex: 1;
}


.card-image {
    width: 100%; /* Make the image fill the container width */
    height: 400px; /* Set a fixed height for all images */
    object-fit: cover; /* Ensure the image covers the entire area without distortion */
    border-radius: 8px; /* Optional: Add rounded corners */
}

.fundo-imagem{
    background: linear-gradient(to top, rgba(0, 0, 78, 0.918), rgba(0, 0, 78, 0.918), rgb(0, 0, 0)); /* Blue to transparent */
}

.botao-guia {
    background-color: rgba(40, 193, 253, 1);
    color: rgba(0, 0, 78, 0.918);
}


