<app-menu></app-menu>
<div class="fundo-cabecalho">
  <div class="gradiente-texto-cabecalho">
    <div class="conteudo-cabecalho uk-margin-medium-top">
      <div class="uk-container uk-margin-large-bottom">
        <h4 style="color:white; font-size: 1.1rem;">{{ 'conectividade_titulo' | translate }}</h4>
        <h1 style="color:rgba(39, 200, 227, 1); margin-top: 20px; font-weight: 800;">{{ 'conectividade_subtitulo_parte1'
          | translate }}<br>{{ 'conectividade_subtitulo_parte2' | translate }}</h1>
      </div>
    </div>
  </div>
</div>


<div class="uk-container">

  <div class="uk-grid-column-small uk-grid-row-small uk-child-width-1-2@s uk-text-left uk-margin-large-top " uk-grid>

    <div>
      <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column uk-flex-stretch">
        <div class="uk-card-media-top">
          <img style="border-radius: 20px;" class="border-2 card-image" src="img/servicos/dia.jpeg" width="1800"
            height="1200" alt="">
          <div style="margin-top: 15px; margin-bottom: 15px;">
            <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder; "><b>{{ 'gdi_titulo' | translate }}</b></h2>
          </div>
          <p>{{ 'gdi_descricao' | translate }}</p>
        </div>
        <div class="uk-text-center uk-margin-auto-top">
          <a style="font-weight: bold;" href="https://angolacables.rds.land/conectividade_ac">
            <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">{{
              'guia_produto_botao' | translate }}</button>
          </a>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column uk-flex-stretch">
        <div class="uk-card-media-top">
          <img style="border-radius: 20px;" class="border-2 card-image" src="img/servicos/ip-transit.jpeg" width="1800"
            height="1200" alt="">
          <div style="margin-top:15px;margin-bottom: 15px;">
            <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder; "><b>{{ 'ip_transit_titulo' | translate }}</b>
            </h2>
          </div>
          <p>{{ 'ip_transit_descricao' | translate }}</p>
        </div>
        <div class="uk-text-center uk-margin-auto-top">
          <a style="font-weight: bold;" href="https://angolacables.rds.land/conectividade_ac">
            <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">{{
              'guia_produto_botao' | translate }}</button>
          </a>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column uk-flex-stretch">
        <div class="uk-card-media-top">
          <img style="border-radius: 20px;" class="border-2 card-image" src="img/servicos/dia.png" width="1800"
            height="1200" alt="">
          <div style="margin-top:15px;margin-bottom: 15px;">
            <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder; "><b>{{ 'dia_titulo' | translate }}</b></h2>
          </div>
          <p>{{ 'dia_descricao' | translate }}</p>
        </div>
        <div class="uk-text-center uk-margin-auto-top"> <a style="font-weight: bold;"
            href="https://angolacables.rds.land/conectividade_ac">
            <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">{{
              'guia_produto_botao' | translate }}</button>
          </a>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column uk-flex-stretch">
        <div class="uk-card-media-top">
          <img style="border-radius: 20px;" class="border-2 card-image" src="img/servicos/ip-gamer.png" width="1800"
            height="1200" alt="">
          <div style="margin-top:15px;margin-bottom: 15px;">
            <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder; "><b>{{ 'ip_gamer_titulo' | translate }}</b></h2>
          </div>
          <p>{{ 'ip_gamer_descricao' | translate }}</p>
        </div>
        <div class="uk-text-center uk-margin-auto-top"> <a style="font-weight: bold;"
            href="https://angolacables.rds.land/conectividade_ac">
            <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">{{
              'guia_produto_botao' | translate }}</button>
          </a>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column uk-flex-stretch">
        <div class="uk-card-media-top">
          <img style="border-radius: 20px;" class="border-2 card-image" src="img/servicos/ip-exchange.png" width="1800"
            height="1200" alt="">
          <div style="margin-top:15px;margin-bottom: 15px;">
            <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder; "><b>{{ 'ip_exchange_titulo' | translate }}</b>
            </h2>
          </div>
          <p>{{ 'ip_exchange_descricao' | translate }}</p>
        </div>
        <div class="uk-text-center uk-margin-auto-top"> <a style="font-weight: bold;"
            href="https://angolacables.rds.land/conectividade_ac">
            <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">{{
              'guia_produto_botao' | translate }}</button>
          </a>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column uk-flex-stretch">
        <div class="uk-card-media-top">
          <img style="border-radius: 20px;" class="border-2 card-image" src="img/servicos/remote-peering.jpeg"
            width="1800" height="1200" alt="">
          <div style="margin-top:15px;margin-bottom: 15px;">
            <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder; "><b>{{ 'remote_peering_titulo' | translate }}</b>
            </h2>
          </div>
          <p>{{ 'remote_peering_descricao' | translate }}</p>
        </div>
        <div class="uk-text-center uk-margin-auto-top"> <a style="font-weight: bold;"
            href="https://angolacables.rds.land/conectividade_ac">
            <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">{{
              'guia_produto_botao' | translate }}</button>
          </a>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column uk-flex-stretch">
        <div class="uk-card-media-top">
          <img style="border-radius: 20px;" class="border-2 card-image" src="img/servicos/transporte.jpeg" width="1800"
            height="1200" alt="">
          <div style="margin-top:15px;margin-bottom: 15px;">
            <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder; "><b>{{ 'transporte_titulo' | translate }}</b>
            </h2>
          </div>
          <p>{{ 'transporte_descricao' | translate }}</p>
        </div>
        <div class="uk-text-center uk-margin-auto-top"> <a style="font-weight: bold;"
            href="https://angolacables.rds.land/conectividade_ac">
            <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">{{
              'guia_produto_botao' | translate }}</button>
          </a>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column uk-flex-stretch">
        <div class="uk-card-media-top">
          <img style="border-radius: 20px;" class="border-2 card-image" src="img/servicos/cloud-connect.jpeg"
            width="1800" height="1200" alt="">
          <div style="margin-top:15px;margin-bottom: 15px;">
            <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder; "><b>{{ 'acloud_connect_titulo' | translate }}</b>
            </h2>
          </div>
          <p>{{ 'acloud_connect_descricao' | translate }}</p>
        </div>
        <div class="uk-text-center uk-margin-auto-top"> <a style="font-weight: bold;"
            href="https://angolacables.rds.land/conectividade_ac">
            <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">{{
              'guia_produto_botao' | translate }}</button>
          </a>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column uk-flex-stretch">
        <div class="uk-card-media-top">
          <img style="border-radius: 20px;" class="border-2 card-image" src="img/servicos/dark-fiber.jpg" width="1800"
            height="1200" alt="">
          <div style="margin-top:15px;margin-bottom: 15px;">
            <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder; "><b>{{ 'dark_fiber_titulo' | translate }}</b>
            </h2>
          </div>
          <p>{{ 'dark_fiber_descricao' | translate }}</p>
        </div>
        <div class="uk-text-center uk-margin-auto-top"> <a style="font-weight: bold;"
            href="https://angolacables.rds.land/conectividade_ac">
            <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">{{
              'guia_produto_botao' | translate }}</button>
          </a>
        </div>
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column uk-flex-stretch">
        <div class="uk-card-media-top">
          <img style="border-radius: 20px;" class="border-2 card-image" src="img/servicos/angonix.jpg" width="1800"
            height="1200" alt="">
          <div style="margin-top:15px;margin-bottom: 15px;">
            <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder; "><b>{{ 'angonix_titulo' | translate }}</b></h2>
          </div>
          <p>{{ 'angonix_descricao' | translate }}</p>
        </div>
        <div class="uk-text-center uk-margin-auto-top"> <a style="font-weight: bold;"
            href="https://angolacables.rds.land/conectividade_ac">
            <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">{{
              'guia_produto_botao' | translate }}</button>
          </a>
        </div>
      </div>
    </div>

    <div class="uk-margin-large-bottom">
      <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column uk-flex-stretch">
        <div class="uk-card-media-top">
          <img style="border-radius: 20px;" class="border-2 card-image" src="img/servicos/pix.png" width="1800"
            height="1200" alt="">
          <div style="margin-top:15px;margin-bottom: 15px;">
            <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder; "><b>{{ 'pix_titulo' | translate }}</b></h2>
          </div>
          <p>{{ 'pix_descricao' | translate }}</p>
        </div>
        <div class="uk-text-center uk-margin-auto-top"> <a style="font-weight: bold;"
            href="https://angolacables.rds.land/conectividade_ac">
            <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">{{
              'guia_produto_botao' | translate }}</button>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
<app-rodape></app-rodape>