<app-menu></app-menu>
<div class="fundo-cabecalho">
    <div class="gradiente-texto-cabecalho">
        <div class="conteudo-cabecalho uk-margin-medium-top">
            <div class="uk-container uk-margin-large-bottom">
                <h1 style="color:white; font-weight: bolder; font-size: 2.43rem; font-weight: 800; margin-top: 20px;">Trânsito IP: A Chave para a Eficiência e Fiabilidade na Transferência de Dados Globais</h1>
            </div>
        </div>
    </div>
</div>

<div class="fundo-artigo">
    <div class="uk-container uk-margin-large-bot">
        <div class="uk-grid-large uk-margin-large-bottom" uk-grid>
            
            <!-- Main Article Section -->
            <div class="uk-width-expand">
                <article style="color:white" class="uk-article uk-margin-large-top">
                    <div class="">
                        <p style="font-size: 0.9rem; color: #A2A2B2;">Escrito por:
                                   <b style="color: white;"> Marinela Liomba </b></p>
                    
                           
                                    <p style="color: #A2A2B2;" >Publicado em: <b style="color: white;" >   30 Março 2024 </b></p>
                      
                    </div>

                    <h1 style="color:white" class="uk-article-title"><a class="uk-link-reset" href="">Trânsito IP</a></h1>
                    
                    <p style="color:white" class="uk-text-lead">O trânsito IP não é apenas um termo técnico, é a espinha dorsal que mantém a rede global a funcionar. Pense no trânsito IP como as auto-estradas de alta velocidade da Internet, onde os dados atravessam continentes, ligando empresas, governos e indivíduos num piscar de olhos.</p>
                    
                    <p style="color:white">Porque é que o trânsito IP é tão importante? A resposta é simples. No nosso mundo interligado, a eficiência e a fiabilidade da transferência de dados são fundamentais. O IP Transit assegura que os pacotes de dados sigam as rotas mais eficientes através da complexa teia de redes globais.</p>

                    <h2>1. A estrutura da Internet</h2>
                    <p>É importante conhecer a estrutura da Internet para compreender o trânsito IP. Esta estrutura mostra o sistema hierárquico da rede e o roteamento dos dados.</p>
                    
                    <p>A Internet é uma rede de redes, constituída por sistemas autónomos (ASes) geridos por ISPs e ligados por pontos de troca de tráfego (IXPs). Ela utiliza uma variedade de métodos de ligação, incluindo fibra ótica, DSL, micro-ondas e satélite, para fornecer conetividade global. Isto torna possível o intercâmbio de dados e o acesso à Internet sem descontinuidades, independentemente do dispositivo ou da região.</p>
                    
                    <p>A imagem seguinte ilustra a infraestrutura da Internet:</p>
                    <img class="uk-border-rounded" src="img/artigos/ip-transit.png" alt="Infraestrutura da Internet">
                    
                    <div class="uk-margin-large-top">
                        <ul class="uk-list uk-list-disc">
                            <li>Sistemas Autónomos (ASes) formam a espinha dorsal da Internet;</li>
                            <li>Pontos de Troca de Tráfego (IXPs) onde os ASes trocam tráfego;</li>
                            <li>Provedores de serviços Internet (ISPs) oferecem diferentes formas de acesso aos utilizadores finais;</li>
                            <li>Tecnologias de acesso à Internet, incluindo redes Wi-Fi, celulares e de satélite.</li>
                        </ul>
                    </div>
                    
                    <p>O serviço de trânsito IP é criado quando um ISP permite que outras redes (como outros ISPs, empresas ou diferentes ASes) transmitam dados através da sua rede. Este serviço é essencial para os pequenos ISPs ou para as redes que não dispõem de infraestruturas que lhes permitam aceder a todas as partes da Internet por si próprias.</p>

                    <h2>2. Acordos e tecnologias de rede</h2>
                    <p>A funcionalidade e o vasto alcance da Internet são mantidos através de uma complexa teia de relações e ligações entre diferentes redes de fornecedores de serviços Internet, empresas, nuvens, redes de distribuição de conteúdos, etc. Para compreender estas relações, vejamos mais de perto como são estabelecidas. Há duas formas de o fazer: peering e trânsito.</p>
                    
                    <h3>a. Serviço de peering</h3>
                    <p>O peering é um acordo de redes entre ISPs, para troca direta de tráfego. Este intercâmbio é geralmente gratuito. O peering reduz a latência e a dependência de redes de terceiros. Existem dois tipos principais de peering: público e privado. O peering público tem lugar nos pontos de troca de tráfego na Internet (IXPs), onde muitas redes se encontram. O peering privado é uma ligação direta entre duas redes.</p>
                    
                    <h3>b. Serviço de trânsito</h3>
                    <p>O trânsito é um serviço através do qual uma rede dá a outra rede acesso a toda a Internet. Ao contrário do peering, o trânsito é uma relação cliente-fornecedor. As pequenas redes pagam aos fornecedores pelo trânsito para poderem aceder ao resto da Internet. O trânsito é vital para os pequenos ISPs.</p>
                    
                    <h3>c. Acesso Dedicado à Internet (DIA)</h3>
                    <p>O DIA é uma conexão de internet de alta velocidade, que é dedicada ao seu negócio e não é compartilhada com outras empresas. Acesso dedicado à internet é entregue via Ethernet ou linha privada, com a finalidade de fornecer conectividade de internet altamente segura e confiável para empresas gerenciarem as suas operações.</p>
                    
                    <h3>d. Como é que funcionam em conjunto?</h3>
                    <p>O diagrama seguinte mostra como as diferentes partes da Internet se ligam utilizando o trânsito e o peering. Ilustra a forma como os pedidos de acesso à Internet (de indivíduos ou empresas) são encaminhados através de diferentes redes.</p>
                    
                    <img class="uk-border-rounded" src="img/artigos/transit-peering.png" alt="Trânsito e Peering">
                    
                    <div class="uk-margin-large-top">
                        <ul class="uk-list uk-list-disc">
                            <li>Fornecedor de serviços de trânsito: A nuvem no centro representa uma grande empresa de serviços de rede que movimenta o tráfego da Internet ao longo de grandes distâncias. É um operador de autoestrada que permite que muitos condutores diferentes (dados) utilizem as suas estradas.</li>
                            <li>Provedores de serviços de Internet: As nuvens designadas por "ISP 1", "ISP 2" e "ISP 3" representam as empresas que permitem a todos aceder à Internet. São como as estradas locais que ligam as casas e as empresas às auto-estradas mais largas.</li>
                            <li>Ligações: As ligações de trânsito mostram como os ISP se ligam a um fornecedor de trânsito maior para enviar e receber dados. As ligações de peering mostram como os ISP se interligam entre si. Para além disso, as ligações dedicadas de Internet são o caminho final seguido pelos dados para chegarem ao seu destino.</li>
                            <li>Hierarquia: Os fornecedores de trânsito também podem ser ISPs. Os ISPs de nível 1 (Tier 1) dispõem de grandes redes para acesso global e competem exclusivamente entre si. Os ISP de nível 2 (Tier 2) e de nível 3 (Tier 3) têm escalas mais pequenas. Podem comprar ou alugar acesso à Internet a ISP de nível 1 de maior dimensão e ligar-se à Internet mais alargada (trânsito IP).</li>
                        </ul>
                    </div>

                    <h2>3. Encaminhamento em trânsito (AS e BGP)</h2>
                    <p>O encaminhamento é essencial para a navegação de dados através da complexa rede de redes da Internet. No peering, as redes trocam informações de encaminhamento para enviar e receber dados diretamente. Em trânsito, um fornecedor oferece um acesso mais alargado, encaminhando os dados dos clientes através de toda a Internet. Estes processos de encaminhamento orientam os pacotes de dados ao longo de caminhos óptimos para os seus destinos, moldando a conetividade e a funcionalidade da Internet.</p>
                    
                    <p>No domínio do encaminhamento, há dois conceitos importantes a considerar e que surgem frequentemente: AS e BGP:</p>
                    
                    <div>
                        <ul class="uk-list uk-list-disc">
                            <li>AS (Autonomous System): Um AS é um conjunto de rotas de Internet ligadas sob o controlo de um ou mais operadores de rede (ou ISPs). A cada AS é atribuído um número único, designado por ASN, que permite a sua identificação na Internet global. Este sistema permite às grandes redes gerir eficazmente as suas rotas e políticas, garantindo assim a fluidez do tráfego na Internet.</li>
                            <li>BGP (Border Gateway Protocol): O BGP é o cartógrafo da Internet, decidindo sobre as melhores rotas para que os dados fluam de forma eficiente e segura. O protocolo BGP pode ser eBGP (BGP exterior) ou iBGP (BGP interior). O eBGP é utilizado para o encaminhamento entre diferentes ASes na Internet, enquanto o iBGP é utilizado para o encaminhamento dentro de um único AS.</li>
                        </ul>
                    </div>

                    <h3>a. Como é que os AS comunicam usando o BGP?</h3>
                    <p>O diagrama seguinte ilustra como diferentes Sistemas Autónomos (ASes) comunicam usando o protocolo BGP. Mostra-nos como redes de Internet separadas usam o BGP para enviar dados entre si e dentro de si da forma mais eficiente possível.</p>
                    
                    <img class="uk-border-rounded" src="img/artigos/bgp-communication.png" alt="Comunicação AS via BGP">
                    
                    <ul>
                        <li><strong>Sistemas Autónomos (AS):</strong> Cada círculo representa uma rede ou AS, identificado com um número como por exemplo "AS 101".</li>
                        <li><strong>Routers BGP:</strong> Dentro de cada AS, existe um router. Os routers utilizam o protocolo BGP para comunicar, garantindo que os dados sigam a melhor rota.</li>
                        <li><strong>eBGP e iBGP:</strong> O eBGP liga routers localizados em diferentes ASes. O iBGP, por outro lado, liga routers dentro do mesmo AS.</li>
                    </ul>

                    <h3>b. Trânsito IP via roteamento BGP + segurança (com RPKI)</h3>
                    <p>Agora que já conhece as noções básicas de AS e BGP, vamos introduzir o conceito de trânsito. Também vamos adicionar segurança com RPKI (Resource Public Key Infrastructure), que adiciona uma camada extra de segurança ao roteamento BGP.</p>
                    
                    <img class="uk-border-rounded" src="img/artigos/bgp-rpki.png" alt="Trânsito IP com BGP e RPKI">
                    
                    <ul>
                        <li><strong>Redes empresariais (AS102 e AS103):</strong> Representam duas redes empresariais separadas, cada uma com o seu próprio AS e um router eBGP.</li>
                        <li><strong>ISP (AS101):</strong> Rede de um fornecedor de serviços Internet (ISP) que liga as empresas à Internet.</li>
                        <li><strong>Validação RPKI:</strong> Todas as redes têm validação RPKI para garantir a segurança das rotas.</li>
                        <li><strong>Outros ISP e empresas:</strong> Representam muitas redes conectadas à Internet global.</li>
                    </ul>

                    <h2>Cenário da Internet em África</h2>
                    <p>Com aproximadamente 480 milhões de usuários, a penetração da Internet em África é de 28%, abaixo da média global de 60%.</p>
                    
                    <p>Apesar desse atraso, entre 2000 e 2012, o número de usuários conectados no continente cresceu sete vezes a média mundial, segundo o Internet World Statistics. "África atingiu uma penetração que quebrou a barreira dos 15% e isso é importante", diz Nii Quaynor.</p>
                    
                    <p>Os principais desafios incluem a falta de profissionais na área e a ausência de estratégias de investimento em tecnologia. As novas conexões submarinas trouxeram avanços significativos na capacidade e custo da Internet.</p>
                    
                    <p><strong>Angola Cables</strong> possui uma rede de cabos submarinos (WACS, SACS e MONET), cobrindo mais de 33.000 km e estendendo serviços para mais de 50.000 km por meio de cabos parceiros.</p>
                    
                    <p>Embora a África esteja rodeada por cabos submarinos, os países do interior enfrentam desafios de conexão. Está nas mãos dos governos implementar políticas para permitir a conectividade internacional.</p>

                    <h2>Conclusão</h2>
                    <p>A Internet está gerando valor social e econômico na África, promovendo o empreendedorismo e a inovação. Para reduzir as divisórias digitais, é necessário:</p>
                    <ul class="uk-list uk-list-disc">
                        <li>Maior acesso à infraestrutura da Internet</li>
                        <li>Melhor capacidade de aquisição</li>
                        <li>Serviços e conteúdo digital local mais relevantes</li>
                        <li>Habilidades digitais mais amplas</li>
                    </ul>
                </article>
            </div>
            
            <!-- Sidebar Section for More Articles -->
            <aside style="color:white;padding: 30px; border-radius: 8px;" class="fundo-mais-artigos uk-width-1-3@m uk-margin-large-top uk-margin-left">
                <h4 style="color:white"><span>Mais Artigos</span></h4>
                <ul class="uk-list uk-list-divider">
                    <li>
                        <div class="">
                            <div class="uk-grid-small" uk-grid>
                                <div>
                                    <img class="foto-mais-artigos uk-border-rounded" src="img/foto-1.jpeg" alt="Avatar">
                                </div>
                                <div class="uk-width-expand">
                                    <p style="color: rgba(40, 193, 253, 1)" class="uk-margin-remove-bottom">Artigo 1</p>
                                    <p style="color: #A2A2B2;" class="uk-text-meta uk-margin-remove-top">Mollit proident consectetur elit adipisicing sunt Lorem nostrud...</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="">
                            <div class="uk-grid-small" uk-grid>
                                <div>
                                    <img class="foto-mais-artigos uk-border-rounded" src="img/foto-1.jpeg" alt="Avatar">
                                </div>
                                <div class="uk-width-expand">
                                    <p style="color:rgba(40, 193, 253, 1);" class="uk-margin-remove-bottom">Artigo 2</p>
                                    <p style="color: #A2A2B2; " class="uk-text-meta uk-margin-remove-top">Mollit proident consectetur elit adipisicing sunt Lorem nostrud...</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="">
                            <div class="uk-grid-small" uk-grid>
                                <div>
                                    <img class="foto-mais-artigos uk-border-rounded" src="img/foto-1.jpeg" alt="Avatar">
                                </div>
                                <div class="uk-width-expand">
                                    <p style="color: rgba(40, 193, 253, 1);" class="uk-margin-remove-bottom">Artigo 3</p>
                                    <p style="color: #A2A2B2;"  class="uk-text-meta uk-margin-remove-top">Mollit proident consectetur elit adipisicing sunt Lorem nostrud...</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="">
                            <div class="uk-grid-small" uk-grid>
                                <div>
                                    <img class="foto-mais-artigos uk-border-rounded" src="img/foto-1.jpeg" alt="Avatar">
                                </div>
                                <div class="uk-width-expand">
                                    <p style="color: rgba(40, 193, 253, 1);" class="uk-margin-remove-bottom">Artigo 4</p>
                                    <p class="uk-text-meta uk-margin-remove-top">Mollit proident consectetur elit adipisicing sunt Lorem nostrud...</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <div class="uk-margin uk-text-center">
                        <a class="uk-margin-large-top" style="color: rgba(40, 193, 253, 1);" href="#">Ver todos</a>
                    </div>
                </ul>
            </aside>
        </div>
    </div>
</div>

<app-rodape></app-rodape>