<!-- TEXTO DE CHAMADA: SOBRE ANGOLA CABLES -->
<div class=" bg-pattern">
  <div class="uk-container ">
    <h2 class="uk-text-center uk-container uk-margin-large-top"><b style="color:#28C1FD ;">Angola Cables</b> {{ 'ac.descricao' | translate
      }}</h2>
  </div>
</div>

<!-- 2 Colunas | Presença Global & Vídeo Institucional AC -->

<div class="uk-container uk-margin-large-top">
  <div
    class="uk-margin-medium-top uk-child-width-1-2@m uk-grid-medium uk-child-width-1-2@s uk-grid-match uk-grid uk-text-left">

    <!--Lado esquerdo-->
    <div class=" uk-width-1-2@m  uk-margin-large-bottom ">
      <div class="uk-text-left">
        <div class=" uk-border-rounded">
          <p style="color: #000026; font-size: 1.3rem;" class=" "><img class="uk-margin-small-right" width="55" height="58"
              src="img/icone-ac.png"> <b>{{ 'ac.presenca' | translate }}</b>
          </p>
        </div>
        <p style="color: #000026; font-size: 1.1rem;" class=" uk-margin-small-right">{{ 'ac.presencadescricao' | translate }}</p>
      </div>


      <!-- BOTÕES | SOBRE ANGOLA CABLES -->
      <div
        class="uk-margin uk-margin-medium-top uk-child-width-1-2@m uk-grid-small uk-child-width-1-2@s uk-grid-match uk-grid uk-text-center">
        <a href="#modal-video" uk-toggle class="uk-text-decoration-none">
          <button class="botao uk-button uk-button-default uk-button-large uk-border-pill">{{ 'ver.videoinstitucional' |
            translate }}</button>
        </a>

        <a href="https://www.submarinecablemap.com/landing-point/sangano-angola" class="uk-text-decoration-none">
          <button class="botao uk-button uk-button-default uk-button-large uk-border-pill">{{ 'ver.mapa' | translate
            }}</button>
        </a>
      </div>

      <div class="uk-margin-small-top">
        <a routerLink="/acerca" class="uk-text-decoration-none">
          <button class="botao-azul uk-button uk-button-primary uk-width-1-1 uk-button-large uk-border-pill">{{
            'mais.sobre' |
            translate }}</button>
        </a>
      </div>
    </div>

    

    <!-- Lado Direito | Vídeo Sobre Angola Cables -->
    <div class=" uk-width-1-2@m  uk-margin-medium-bottom uk-flex uk-flex-center uk-flex-top  ">
      <div class="uk-text-center">

        <!-- This is a button toggling the modal -->

<!-- This is an anchor toggling the modal -->
<a href="#modal-video" uk-toggle>


<img src="img/video-miniatura.png">

</a>

<!-- This is the modal -->  
<div class="  " id="modal-video" uk-modal>

    <div class=" uk-container uk-margin-auto-vertical ">
      <button class="uk-modal-close-default" type="button" uk-close></button>

      <video controls="true" loop muted id="promoVideo" class="promo-video uk-border-rounded">
        <source src="https://marketing.host2africa.com/files/AC-Angolaoutlook-EN-2025%202-new.mp4" type="video/mp4" />
        Seu navegador não suporta o vídeo em falta.
      </video>

   
    </div>
</div>

       
      </div>
    </div>
  </div>
</div>