<div class="uk-container">
    <div
class=" uk-margin-medium-top uk-child-width-1-2@m uk-grid-small uk-child-width-1-1@s uk-grid-match uk-grid uk-text-left"
>
<!-- Lado esquerdo-->

<!--Lado direito-->
<div
  class="uk-width-1-2@m uk-margin-medium-top uk-margin-medium-bottom"
>
  <div class="uk-text-center">
    <img src="img/ac-partner.png" uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; end: 50vh + 50%;" />
  </div>
</div>

<div
  class="uk-container uk-width-1-2@m uk-margin-medium-top uk-margin-medium-bottom "
>
<h2 class="" style="color: rgb(18, 72, 130); font-weight: 700">
    Participe na presença global da Angola Cables 

  </h2>

  <p class=" " style="color: rgb(18, 72, 130); font-size:22px" uk-parallax="opacity: 0,1; y: 0, x:-100; scale: 1,1; end: 50vh + 50%;" >
    Juntos vamos alcançar mercados e promover a nossa rede em soluções de transmissão, Internet e ICT, no Brasil, EUA, América Latina (LATAM), Europa, África e Médio-Oriente.
    <br><br>

    O nosso programa é a oportunidade perfeita empresas de telecomunicações,
    operadoras e provedores de serviços de internet que desejam crescer em
    volume de negócios e expandir em alcance.
  </p>
</div>
</div>
</div>
<!-- 
<div
  class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-border-rounded"
  style="background-image: url('img/fundo.png')"
>
  <div
    class="uk-container uk-width-1-1@m uk-text-center uk-margin-auto uk-margin-auto-vertical uk-margin-medium-top"
  >
    <h2 class="" style="color: rgb(18, 72, 130); font-weight: 700">
      Expanda sua presença global com o nosso programa de parceiros.
      <br />Alcance mercados como EUA, América Latina (LATAM), Europa e África.
    </h2>
    <p class=" " style="color: rgb(18, 72, 130)">
      O nosso programa é a oportunidade perfeita empresas de telecomunicações,
      operadoras e provedores de serviços de internet que desejam crescer em
      volume de negócios e expandir em alcance.
    </p>
  </div>
</div>
-->

<div class="fundo-div">
  <div class="uk-container">
    <div
      class="uk-container uk-margin-medium-top uk-text-center uk-margin-large-left uk-margin-large-right"
    >

      <div
        class="uk-margin-medium-top uk-child-width-1-2@m uk-grid-small uk-child-width-1-1@s uk-grid-match uk-grid uk-text-left"
      >

        <!-- Lado esquerdo-->
        <div
          class="uk-container uk-width-1-2@m uk-margin-medium-top uk-margin-medium-bottom"
        >   

          <h2 style="font-weight: bold" class="texto-div uk-text-left">
            Porquê tornar-se <br> AC Partner?

          </h2>
          <p style="font-size:22px" class="texto-div uk-text-left">
            A Angola Cables é uma empresa multinacional no sector de Tecnologias de Informação e Comunicação (TIC), que oferece soluções de conectividade personalizadas para os mercados grossistas e corporativos. Com uma infraestrutura de cabo submarino de última geração e uma rede IP altamente interconectada, garantimos aos nossos parceiros acesso a uma das maiores plataformas de interconexão global. 

          </p>
        </div>
        <!--Lado direito-->
        <div
          class="uk-width-1-2@m uk-margin-large-top uk-margin-medium-bottom uk-flex uk-flex-center uk-flex-middle"
        >
          <div class="uk-margin-medium-top">
            <video
              controls="true"
              autoplay
              loop
              muted
              id="promoVideo"
              class="promo-video uk-border-rounded"
            >
              <source src="vid/angola-cables.mp4" type="video/mp4" />
              Seu não navegador não suporta o vídeo em falta.
            </video>
          </div>
        </div>
      </div>

      <div
        class="uk-child-width-1-2@m uk-grid-small uk-child-width-1-1@s uk-grid-match uk-grid uk-text-left"
      >
        <!-- Lado esquerdo-->
        <div class="uk-width-1-2@m uk-margin-small-top">
          <h3 style="font-weight: bold;" class="uk-text-left texto-div">
            Confiável . Transparente . Responsável
          </h3>

          <div
            class="uk-margin-medium-bottom uk-child-width-expand@s uk-text-center uk-flex uk-flex-middle"
            uk-grid
            uk-grid-match
          >
            <div class="uk-text-center uk-margin-medium-bottom">
              <img
                style="height: 100px"
                src="img/world-interconected-angola-cables.png"
              />
              <p class="texto-div uk-text-center">
                21ª operadora <br />mais conectada do mundo
              </p>
            </div>

            <div class="uk-text-center uk-margin-medium-bottom">
              <img
                style="height: 100px"
                src="img/first-interconected-angola-cables.png"
              />
              <p class="texto-div">
                1ª operadora <br />mais conectada de África
              </p>
            </div>

            <div class="uk-text-center uk-margin-medium-bottom">
              <img style="height: 100px" src="img/selocplp-pt-2024.png" />
              <p class="texto-div">
                Operadora <br />
                mais conectada <br />
                da CPLP
              </p>
            </div>
          </div>
        </div>
        <!--Lado direito-->
        <div class="uk-width-1-2@m uk-margin-small-top">
          <h3 style="font-weight: bold;" class="uk-text-center texto-div">As Nossas Certificações</h3>

          <div
            class="uk-margin-large-small uk-child-width-expand@s uk-text-center uk-flex uk-flex-center"
            uk-grid
            uk-grid-match
          >
          <div class="uk-container uk-margin-large-left  uk-text-center uk-margin-large-bottom">
            <img src="img/iso.png">
          </div>

          </div>
    
          

        </div>
      
      </div>
      
      

      



    </div>
  </div>
</div>


