.fundo-div{
    background-color: rgba(2, 0, 38) !important;

}

.texto-div{
    color: white;
 

}


.uk-button-secondary{
    border-color: black;
    border-width: 2px;
}

.promo-video{
    border-radius: 30px;
}


.bg-pattern{

    background-image: url('/img/bg-pattern.jpg');
    background-size: cover;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;




}


.fundo-dc{
    background-image: url('/img/conectividade_angolacables.jpeg');
    background-position: center;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(5, 0, 100, 0.788);
    background-blend-mode: darken;
}

.fundo-acess{
    background-image: url('/img/acess_angolacables.jpeg');
    background-position: center;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(5, 0, 100, 0.788);
    background-blend-mode: darken;
}


.fundo-dc2{
    background-image: url('/img/acess_angolacables.jpeg');
    background-position: center;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(5, 0, 100, 0.788);
    background-blend-mode: darken;
}



.fundo-dc3{
    background-image: url('/img/datacenter-1.png');
    background-position: center;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(5, 0, 100, 0.788);
    background-blend-mode: darken;
}

.fundo-dc4{
    background-image: url('/img/seguranca.jpeg');
    background-position: center;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(5, 0, 100, 0.788);
    background-blend-mode: darken;
}



.fundo-dc5{
    background-image: url('/img/cloud.jpeg');
    background-position: center;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(5, 0, 100, 0.788);
    background-blend-mode: darken;
}



.fundo-dc6{
    background-image: url('/img/virtualizacao.jpeg');
    background-position: center;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(5, 0, 100, 0.788);
    background-blend-mode: darken;
}
.fundo-dc7{
    background-image: url('/img/erp.png');
    background-position: center;
    border-color: #fff;
    border-width: 1px;
    border-style: solid;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(5, 0, 100, 0.788);
    background-blend-mode: darken;
}

.madcix-bg{
    background: linear-gradient(-180deg, #00a2ff, #003796);
    height: auto;/* Background color for the navbar */
    border-radius: 20px;

}

.uk-button-secondary{
    background: linear-gradient(-190deg, #131313, #000000, #141414);
    color: #fff;
}

.uk-button-secondary:hover{
    background: linear-gradient(-190deg, #131313, #292929, #191919);
    
    color: #fff;
    transition: 800ms;
}


.fundo-telcables{
    background-color: #151250;
}

    /* Make buttons responsive by setting width to 100% */

.border{
    border-radius: 30px;
}

.border-2{
    border-radius: 30px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}









.texto{
    color:white !important;
    font-family: "Roboto", serif !important; 
}

.selos{
    width: auto;
    height: auto;
}


.fundo-connectivity{
    background-image: url('/img/sacs.jpg');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(5, 0, 100, 0.788);
    background-blend-mode: darken;
    padding-top:  20px;

}


.fundo-datacenter{
    background-image: url('/img/fundo-datacenter.jpg');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(5, 0, 100, 0.788);
    background-blend-mode: darken;
    padding-top:  20px;

}

.fundo-cloud{
    background-image: url('/img/cloud.jpg');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(5, 0, 100, 0.788);
    background-blend-mode: darken;
    padding-top:  20px;

}

.fundo-grid{
    background: linear-gradient(180deg, rgb(0, 25, 49), rgb(0, 6, 27), rgb(0, 25, 49));
    

}