<div class=" uk-margin-medium-bottom uk-margin-small-top ">
  <p style="font-weight: 900; font-size:35px; color: #022561" class="uk-text-center texto-div">
    {{'nossos.parceiros' | translate}}

  </p>
</div>


<div class="fundo">

  <div class=" slider-container shadow-top uk-margin-small-top uk-background-muted">
    <div class="slider uk-margin-medium-top uk-margin-medium-bottom">
      <div class="slider-inner">
       
         <img class="uk-border-rounded" src="img/parceiros/tceu/AMS-IX_logo.png" alt="AMS-IX Internet Exchange logo">
        <img class="uk-border-rounded" src="img/parceiros/tceu/cogent.png" alt="Cogent Communications logo">
        <img class="uk-border-rounded" src="img/parceiros/tceu/colt.png" alt="Colt Technology Services logo">
        <img class="uk-border-rounded" src="img/parceiros/tceu/decix.png" alt="DE-CIX Internet Exchange logo">
        <img class="uk-border-rounded" src="img/parceiros/tceu/Digital_Realty_TM_Brandmark_RGB_Black.png" alt="Digital Realty data center logo">
        <img class="uk-border-rounded" src="img/parceiros/tceu/equinix.png" alt="Equinix data center logo">
        <img class="uk-border-rounded" src="img/parceiros/tceu/franceix.png" alt="France-IX Internet Exchange logo">
        <img class="uk-border-rounded" src="img/parceiros/tceu/google.png" alt="Google logo">
        <img class="uk-border-rounded" src="img/parceiros/tceu/gtt.png" alt="GTT Communications logo">
        <img class="uk-border-rounded" src="img/parceiros/tceu/igapix.png" alt="GigaPIX Internet Exchange logo">
        <img class="uk-border-rounded" src="img/parceiros/tceu/linx.png" alt="LINX London Internet Exchange logo">
        <img class="uk-border-rounded" src="img/parceiros/tceu/megaport.png" alt="Megaport connectivity platform logo">
        <img class="uk-border-rounded" src="img/parceiros/tceu/meo.png" alt="MEO telecom operator logo">
        <img class="uk-border-rounded" src="img/parceiros/tceu/nlix.png" alt="NL-IX Internet Exchange logo">
        <img class="uk-border-rounded" src="img/parceiros/tceu/ntt.png" alt="NTT Communications logo">
        <img class="uk-border-rounded" src="img/parceiros/tceu/tata.png" alt="Tata Communications logo">
        <img class="uk-border-rounded" src="img/parceiros/tceu/teliasonera.png" alt="TeliaSonera telecom logo">
        <img class="uk-border-rounded" src="img/parceiros/tceu/arelion.png" alt="Arelion (Telia Carrier) logo">
        <img class="uk-border-rounded" src="img/parceiros/tceu/bics.png" alt="BICS global communications logo">


      </div>
    </div>
  </div>
  <div class="uk-container uk-text-center">

  </div>
</div>