



<div 
    class="uk-position-relative uk-visible-toggle" 
    tabindex="-1" 
    uk-slideshow="animation: fade; autoplay: true; autoplay-interval: 3500; min-height: 600; max-height: 600">

    <div class="uk-slideshow-items">
        <!-- Slide 1 -->
        <div>
            <img src="img/acsa-partner.jpg" alt="Referral Program" uk-cover>
            <div class="uk-container uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-padding-small">
                <h3 class="uk-margin-remove">SEJA PARCEIRO INDICADOR DE NEGÓCIOS</h3>
                <p class="uk-margin-remove">
                    Apresente novas oportunidades de negócios, encontre novos clientes, <br>recomende-nos alguns leads qualificados que resultem em novos contratos e para si resultem em comissões e remunerações.
                </p>
                <div class="uk-margin-small-top">
                    <a href="#"><button class="uk-button uk-button-default uk-border-pill">REGISTAR NEGÓCIO  COMO PARCEIRO INDICADOR</button></a>
                </div>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="    ">
            <img src="img/acsa-partner-3.jpg" alt="Sales Agent Program" uk-cover>
            <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-padding-small">
                <h3 class="uk-margin-remove">SEJA PARCEIRO AGENTE DE VENDAS AUTORIZADO</h3>
                <p class="uk-margin-remove">
                    Os Agentes de Vendas representam a Angola Cables no relacionamento com clientes, qualificam leads, desenvolvem relacionamento,<br> acompanham vendas, crescimento e fecham negócios em nome da Angola Cables nos mercados locais 
                   <br> Será fornecido treino, formação e suporte à venda e gestão de canal local
                </p>
                <div class="uk-margin-small-top">
                    <a href="#"><button class="uk-button uk-button-default uk-border-pill">SEJA AGENTE DE VENDAS AUTORIZADO </button></a>
                </div>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="">
            <img src="img/acsa-partner-2.jpg" alt="Reseller Program" uk-cover>
            <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-padding-small">
                <h3 class="uk-margin-remove">SEJA PARCEIRO REVENDEDOR</h3>
                <p class="uk-margin-remove ">
                    Os Parceiros Revendedores Angola Cables gerem de forma autónoma os seus clientes, respectivos contratos de processos de vendas. <br>Garantem por via da parceria de revenda oficial o acesso a um stock de produtos disponibilizado  através de  tarifas especiais pré-negociadas com a Angola Cables que lhes permitam abordar clientes nos seus mercados e negociar produtos em condições competitivas beneficiando de uma infraestrutura e capacidade de resposta técnica e humana de backup de suporte aos produtos que o revendedor vende.
                </p>
                <div class="uk-margin-small-top">
                    <a href="#"><button class="uk-button uk-button-default uk-border-pill">SEJA PARCEIRO REVENDEDOR</button></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Navigation -->
    <div class="uk-light">
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    </div>
</div>
