<div style=" position: relative; overflow: hidden;" class="uk-position-relative">
    <video src="https://marketing.host2africa.com/drive/tcng/tcng-loop_1.mp4" autoplay muted loop playsinline uk-cover
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;"></video>

    <div class="uk-container uk-position-relative uk-visible-toggle" tabindex="-1"
        uk-slideshow="animation: fade; autoplay: true; autoplay-interval: 3000">
        <div class="uk-slideshow-items">
            <div>
                <div class="uk-position-center-left uk-position-small uk-text-center uk-light">
                    <p style="font-size:3.0rem; font-weight: 800; color: white; line-height: normal;">Premium
                        connectivity for companies that
                        can't afford downtime.</p>
                    <a href="#"> <button
                            class="uk-button uk-button-default uk-border-pill uk-button-width-large uk-padding">View our
                            network map</button> </a>
                </div>
            </div>

            <div>
                <div class="uk-position-center-left uk-position-small uk-text-center uk-light">
                    <p style="font-size:3.0rem; font-weight: 800; color: white; line-height: normal;">We shield your
                        business from surprises and failures.</p>
                    <a href="#"> <button
                            class="uk-button uk-button-default uk-border-pill uk-button-width-large uk-padding">View our
                            network map</button> </a>
                </div>
            </div>

        </div>

        <div class="uk-light">
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous
                uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next
                uk-slideshow-item="next"></a>
        </div>
    </div>
</div>