<div style="position: relative; overflow: hidden;" class="uk-position-relative uk-margin-large-top">
 <!--   <video src="https://marketing.host2africa.com/drive/tcng/tcng-loop_1.mp4" autoplay muted loop playsinline uk-cover
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;"></video>
--> 
<img src="img/lagos-tcng.png" 
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">


    <div class="uk-container uk-position-relative uk-visible-toggle" tabindex="-1"
        uk-slideshow="animation: fade; autoplay: true; autoplay-interval: 4000">
        <div class="uk-slideshow-items">
            <!-- Slide 1 -->
            <div>
                <div class="uk-container">
                    <div class="uk-grid-collapse uk-child-width-1-2@m" uk-grid>
                        <!-- Left side - Text content -->
                        <div class="uk-flex uk-flex-middle" style="min-height: 80vh;">
                            <div class="uk-light uk-margin-medium-top " style="max-width: 600px;">
                                <p style="font-size:3.0rem; font-weight: 800; color: white; line-height: normal;">
                                    The Network Connecting West Africa to the World
                                </p>
                                <p>Connectivity, IP Transit, Data Center and Cloud solutions backed by TelCables West
                                    Africa.</p>
                                <div class="uk-flex uk-flex-wrap uk-margin-medium-top">
                                    <a href="#" >
                                        <button  style="background-color: #FAA61A; color: #002561; font-weight: 700;    padding: 8px 40px;
;"
                                            class="  uk-button   uk-button-medium uk-border-pill "><span style="margin-left: 10px; margin-right: 10px">Network map</span>
                                            
                                        </button>
                                    </a>
                              
                                </div>
                            </div>
                        </div>
                        <!-- Right side - Image placeholder -->
                        <div class="uk-flex uk-flex-middle uk-flex-center">
                            <div class="uk-light"
                                >
                               <img src="img/redemetro-nigeria2.png" alt="Network Image"
                                    style=" object-fit: contain;;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div>
                <div class="uk-container">
                    <div class="uk-grid-collapse uk-child-width-1-2@m" uk-grid>
                        <!-- Left side - Text content -->
                        <div class="uk-flex uk-flex-middle" style="min-height: 80vh;">
                            <div class="uk-light" style="max-width: 600px;">
                                <p style="font-size:3.0rem; font-weight: 800; color: white; line-height: normal;">
                                    Resilient Connectivity. Guaranteed Performance
                                </p>
                                <p>Empower your business with robust infrastructure and direct routes to the Americas,
                                    Europe and Asia</p>
                                <div class="uk-flex uk-flex-wrap uk-margin-medium-top">
                                    <a href="#" class="uk-margin-small-right">
                                        <button  style="background-color: #FAA61A; color: #002561; font-weight: 700; padding: 8px 40px; "
                                            class="uk-button uk-border-pill uk-button-width-large uk-padding"><span style="margin: 5px">Check latencies </span>
                                            
                                        </button>
                                    </a>
                           
                                </div>
                            </div>
                        </div>
                        <!-- Right side - Image placeholder -->
                        <div class="uk-flex uk-flex-middle uk-flex-center">
                            <div class="uk-light"
                                >
                               <img src="img/redemetro-nigeria2.png" alt="Network Image"
                                    style=" object-fit: contain;;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

 <div>
                <div class="uk-container">
                    <div class="uk-grid-collapse uk-child-width-1-2@m" uk-grid>
                        <!-- Left side - Text content -->
                        <div class="uk-flex uk-flex-middle" style="min-height: 80vh;">
                            <div class="uk-light" style="max-width: 600px;">
                                <p style="font-size:3.0rem; font-weight: 800; color: white; line-height: normal;">
                                    Local Cloud for Every Business Operations.
                                </p>
                                <p>With Clouds2Africa in three local nodes we provide a NGN billed and scalable cloud service to businesses accros Nigeria.
 </p>
                                <div class="uk-flex uk-flex-wrap uk-margin-medium-top">
                                    <a href="#" class="uk-margin-small-right">
                                        <button style="background-color: #FAA61A; color: #002561; font-weight: 700; padding: 8px 40px; "
                                            class="uk-button uk-border-pill uk-button-width-large uk-padding uk-hover">
                                        Learn more
                                        </button>
                                    </a>
                              
                                </div>
                            </div>
                        </div>
                        <!-- Right side - Image placeholder -->
                        <div class="uk-flex uk-flex-middle uk-flex-center">
                          <div class="uk-light"
                                >
                               <img src="img/redemetro-nigeria2.png" alt="Network Image"
                                    style=" object-fit: contain;;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>


        


        <!-- 
        <div class="uk-light">
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous
                uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next
                uk-slideshow-item="next"></a>
        </div>
        -->
    </div>
</div>