<div  class=" fundo-cta uk-container uk-margin-large-top uk-margin-large-bottom uk-margin-large-left uk-margin-large-right">
    <h1 style="color: white;" class="uk-text-center uk-margin-large-top"> {{'ad.entre' | translate }} <b> {{'ad.contacto' | translate }} </b></h1>
    <h2 style="color: white;" class="uk-text-center uk-margin-large-top"> {{'ad.descricao' | translate }} </h2>
        <div class="uk-text-center">

            <a routerLink="/contacto"> <button class=" botao-ad uk-button-large uk-button-primary uk-border-pill">{{'ad.botao' | translate }}</button></a>
