<div
    class=" fundo-cta uk-container uk-margin-large-top uk-margin-large-bottom">
    <h1 style="color: white;" class="uk-text-center uk-margin-large-top"> {{'ad.entre' | translate }} <b>
            {{'ad.contacto' | translate }} </b></h1>
            <div  uk-margin="auto" class="uk-text-center uk-margin-large-top uk-margin-large-bottom">
                <h2 style="color: white; font-size:1.55rem; width: 100%;" class=""> {{'ad.descricao'
        | translate }} </h2>
            </div>

    <div class="uk-text-center">

        <a routerLink="/contacto"> <button
                class=" botao-azul uk-button-large  uk-border-pill">{{'ad.botao' | translate
                }}</button></a>
    </div>