<div class="uk-container uk-margin-top">
  @if (paineis$ | async; as eventos) {
    <div class="uk-grid uk-child-width-1-2@m uk-grid-medium uk-text-center uk-light" uk-grid>
      @for (evento of eventos; track evento.id) {
        <div class="uk-transition-toggle" tabindex="0">
          <div class="uk-panel uk-text-center">
            <img class="border-2" [src]="evento.imageUrl" alt="Imagem do evento" />
            <div class="overlay">
              <a [href]="evento.painelUrl" target="_blank" rel="noopener">
                <p class="uk-transition-slide-bottom-small uk-button-default uk-button uk-border-pill">
                  Ver detalhes
                </p>
              </a>
            </div>
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="uk-flex uk-flex-center uk-margin-large-top">
      <div uk-spinner></div>
    </div>
  }
</div>
