<div  class="uk-container" >

    <div class=" uk-margin-small-top">
        <div class="uk-child-width-1-3@m uk-grid-small uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center">
            <div class="uk-margin-small-bottom">
                <div class="fundo-grid uk-border-rounded uk-card uk-card-body uk-width-1-1@m">
                    <h3  style="font-weight:700; font-size: 28px;" class="texto uk-card-title uk-text-center">Parceiros <br>Indicador de Negócios</h3>
                    <p class="texto uk-text-center">Os Parceiros Indicadores têm a oportunidade de receber comissões ou taxas de recomendação ao apresentar oportunidades qualificadas que resultem em novos contratos com a Angola Cables.
                      Parceiros de Recomendação <br>Este tipo de parceiro regista o lead e encaminha a oportunidade directamente para a equipa comercial da Angola Cables ou das suas subsidiárias. Além disso, fornece um briefing detalhado sobre as condições e participa ativamente nas interações, como reuniões, apresentações ou trocas de e-mails com o cliente indicado.
                       </p>
                     
                     <div>
                        <a href="#">
                          <button class="uk-button-primary uk-border-pill uk-button ">TORNAR-SE PARCEIRO</button>
                        </a>
                      </div>
                      
                 
                      <p style="color: white;">Descarregar Ficha: 
                      <span class="icone uk-margin-small-right" uk-icon="file-pdf"  style="color: white !important; "></span> PT | EN | FR</p>
                        
                </div>
            </div>
            <div class="uk-margin-small-bottom">
                                   <div class="fundo-datacenter uk-border-rounded uk-card uk-card-body uk-width-1-1@m">
                    <h3  style="font-weight:700; font-size: 28px;" class="texto uk-card-title uk-text-center">Parceiros - Agente de Vendas Autorizado</h3>
                    <p class="texto">
                      Os Agentes de Vendas Autorizados da Angola Cables são parceiros registrados e aprovados que contribuem consistentemente para o sucesso do programa. Estes parceiros desempenham um papel activo na qualificação de leads, construção de relacionamentos, identificação de oportunidades e concretização de novos negócios.
<br>Para tornarem-se Agentes de Vendas, os parceiros precisam concluir os treinamentos e obter as certificações nas principais soluções da Angola Cables.
</p>
                     <div>
                       
                        <a href="#">
                          <button class="uk-button-primary uk-border-pill uk-button ">TORNAR-SE PARCEIRO</button>
                        </a>
                      </div>
                      <p style="color: white;">Descarregar Ficha: 
                      <span class="icone uk-margin-small-right" uk-icon="file-pdf"  style="color: white !important; "></span> PT | EN | FR</p>
                        
                </div>
            </div>
            <div class="uk-margin-small-bottom">
                <div class="fundo-grid uk-border-rounded uk-card uk-card-body uk-width-1-1@m">
                    <h3  style="font-weight:700; font-size: 28px;" class="texto uk-card-title uk-text-center">Parceiros <br>Revendedor</h3>
                    <p class="texto">
                      Os Parceiros Revendedores da Angola Cables celebram contratos directamente com os seus clientes e operam sob um acordo principal com a Angola Cables ou as suas subsidiárias, TelCables.
                      Estes parceiros têm controlo total sobre o processo de vendas e a gestão do relacionamento com os clientes, garantindo deste modo que estes permanecem na sua carteira.
                      <br><br><b>Vantagens exclusivas para Revendedores:</b><br>
                      Acesso a tarifas com desconto para espaço em racks, circuitos de transporte e trânsito IP, permitindo a definição de margens próprias.
                       </p>
                 
                     <div>
                        <a href="#">
                          <button class="uk-button-primary uk-border-pill uk-button ">TORNAR-SE PARCEIRO</button>
                        </a>
                      </div>
                  
                      
                      <p style="color: white;">Descarregar Ficha: 
                      <span class="icone uk-margin-small-right" uk-icon="file-pdf"  style="color: white !important; "></span> PT | EN | FR</p>
                        
                </div> 
            </div>
          
        </div>
    </div>
    

</div>
