.texto{
    color:white !important;
  
    line-height: 1.5;    word-spacing: normal !important;
  
}

.selos{
    width: auto;
    height: auto;
}


.fundo-connectivity{
    background-image: url('/img/acordo_angolacables.jpeg');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    padding-top:  20px;
   

}


.fundo-datacenter{
    background-image: url('/img/agente.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgb(18, 72, 130);
    background-blend-mode: multiply;

}

.fundo-cloud{
    background-image: url('/img/reseller-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(5, 0, 100, 0.788);
    background-blend-mode: multiply;
    padding-top:  20px;

}

.fundo-grid{
    background-image: url('/img/acordo_angolacables.jpeg');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top:  20px;
    border-radius: 30px;

}

.fundo-grid2{
    background-image: url('/img/rosto_angolacables.jpeg');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top:  20px;
    border-radius: 30px;

}

.fundo-selos{
    
        background: linear-gradient(180deg, rgb(0, 25, 49), rgb(0, 6, 27), rgb(0, 25, 49));
        border-radius: 30px;

        
    
    
}

.fundo-selos2{
    
    background: linear-gradient(180deg, rgb(0, 25, 49), rgb(0, 6, 27), rgb(0, 25, 49));

    
    
}

.icone{
    color: white !important;
}


.linha {
    line-height: 25px;
}


.counter-container {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
  }