<div class="uk-container" >

    <div class=" uk-margin-large-top ">
        <div id="tipos"  class="uk-child-width-1-3@m uk-grid-small uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center">
            <div class="uk-margin-small-bottom">
                <div class="fundo-grid uk-border-rounded uk-card uk-card-body uk-width-1-1@m">
                    <h3  style="font-weight:700; font-size: 28px;" class="texto uk-card-title uk-text-center">Indicador de Negócios</h3>
                    <p   class="texto ">Os Indicadores de Negócios têm a possibilidade de apresentar oportunidades comerciais qualificadas que resultem em novos contratos com a Angola Cables.

                      <br><br>O parceiro regista o lead e encaminha a oportunidade para a equipa comercial Angola Cables ou TelCables.
                       
                      <br><br>Caso o processo seja, bem informado, processado no sistema AC e validado, poderá  receber comissões ou taxas de recomendação, em caso de sucesso.</p>
                     
                   
                 
                             
                </div>
            </div>
            <div class="uk-margin-small-bottom">
                                   <div class="fundo-datacenter uk-border-rounded uk-card uk-card-body uk-width-1-1@m">
                    <h3  style="font-weight:700; font-size: 28px;" class="texto uk-card-title uk-text-center"> Agente de Vendas Autorizado</h3>
                    <p class="texto">
                      Os Agentes de Vendas Autorizados são parceiros comerciais indirectos registados e aprovados para actuar no mercado em nome da Angola Cables ou TelCables. 
<br><br>Estes parceiros desempenham um papel activo na qualificação de leads, construção de relacionamentos, identificação de oportunidades e concretização de negócios.

<br><br>Para serem aprovados como Agentes de Vendas, os parceiros precisam concluir treino e formação, bem como, obter as certificações nas principais soluções técnicas e de produtos da Angola Cables.
</p>
                   
                   
                </div>
            </div>
            <div class="uk-margin-small-bottom">
                <div class="fundo-grid uk-border-rounded uk-card uk-card-body uk-width-1-1@m">
                    <h3  style="font-weight:700; font-size: 28px;" class="texto uk-card-title uk-text-center"><br>Revendedor</h3>
                    <p class="texto">
                      Os Revendedores da Angola Cables  contratos directamente com os seus clientes e operam sob um acordo principal com a Angola Cables ou subsidiárias TelCables. 
<br><br>Estes parceiros têm controlo total a sua carteira de clientes, stock de produtos, processo de vendas e relacionamento com os clientes e mercado.
<br><br><b>Vantagens exclusivas para Revendedores:</b>
<br><br>Acesso a tarifas com desconto em circuitos de transmissão, internet, colocation e ICT, permitindo a definição de margens próprias
<br><br><b>Vantagens exclusivas para Revendedores:</b>
Acesso a tarifas com desconto para espaço em racks, circuitos de transporte e trânsito IP, permitindo a definição de margens próprias
 </p>
                 
              
                  
                 
                </div> 
            </div>
          
        </div>
    </div>
    

</div>
