<app-menu></app-menu>

<div class="fundo-cabecalho">

    <div class=" gradiente-texto-cabecalho">

        <div class=" conteudo-cabecalho uk-margin-medium-top   ">
            <div class="uk-container uk-margin-large-bottom">
                <img class=" logo-cabecalho-pagina" src="img/layout/logo-cabecalho-pagina.png">
                <h4 class="" style="color:white">Sobre a empresa</h4>
                <h1 style="color:white; font-weight: bolder;"> Estamos
                    conectando o mundo<br> todo com o nosso trabalho. </h1>
            </div>

        </div>

    </div>

</div>


<div class="fundo-cronologia">



    <div class="conteudo-cronologia uk-container ">
        <div class="">
            <h1 class=" uk-margin-large-top " style="font-weight: bolder; color:  rgba(0, 0, 78, 0.918)"> Nossa História
            </h1>
            <div>
                <h3 class=""> Angola Cables é uma multinacional de
                    telecomunicações que oferece soluções avançadas de conectividade global por meio de uma robusta
                    infraestrutura de cabos submarinos, data centers e pontos de interconexão.</h3>

            </div>

        </div>


    </div>




</div>

<div class="fundo-cronologia-abas">

    <div class="uk-container">

        <div class="uk-margin-small-left uk-margin-small-right uk-padding ">

            <ul class="uk-subnav uk-subnav-pill" uk-switcher>
                <li style="font-weight: bold"><a class="texto-abas-cronologia">2009</a></li>
                <li><a class="texto-abas-cronologia">2010</a></li>
                <li><a class="texto-abas-cronologia">2011</a></li>
                <li><a class="texto-abas-cronologia">2012</a></li>
                <li><a class="texto-abas-cronologia">2013</a></li>
                <li><a class="texto-abas-cronologia">2014</a></li>
                <li><a class="texto-abas-cronologia">2015</a></li>
                <li><a class="texto-abas-cronologia">2016</a></li>
            </ul>

            <div class="uk-switcher uk-margin ">
                <div style="background-color: white;" class="uk-child-width-expand@s" uk-grid>
                    <div class="uk-grid-item-match">
                        <div class="uk-card  uk-card-body">
                            <h2 style="font-weight: bolder;">2009</h2>
                            <p>
                                <img class="uk-border-rounded" src="img/cronologia/ac-simbolo.png">
                            </p>
                        </div>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                        <div class="uk-flex uk-flex-middle">
                            <h4 class="uk-margin-large-right">Angola Cables nasce do consórcio do cabo WACS e com ela a
                                visão de conectar Angola ao mundo</h4>

                        </div>

                    </div>
                </div>
                <div style="background-color: white;" class="uk-child-width-expand@s" uk-grid>
                    <div class="uk-grid-item-match">
                        <div class="uk-card  uk-card-body">
                            <h2 style="font-weight: bolder;">2010</h2>
                            <p>
                                <img class="uk-border-rounded" src="img/cronologia/ac-simbolo.png">
                            </p>
                        </div>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                        <div class="uk-flex uk-flex-middle">
                            <h4 class="uk-margin-large-right">Angola Cables nasce do consórcio do cabo WACS e com ela a
                                visão de conectar Angola ao mundo</h4>

                        </div>

                    </div>
                </div>
                <div style="background-color: white;" class="uk-child-width-expand@s" uk-grid>
                    <div class="uk-grid-item-match">
                        <div class="uk-card  uk-card-body">
                            <h2 style="font-weight: bolder;">2011</h2>
                            <p>
                                <img class="uk-border-rounded" src="img/cronologia/ac-simbolo.png">
                            </p>
                        </div>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                        <div class="uk-flex uk-flex-middle">
                            <h4 class="uk-margin-large-right">Angola Cables nasce do consórcio do cabo WACS e com ela a
                                visão de conectar Angola ao mundo</h4>

                        </div>

                    </div>
                </div>
                <div style="background-color: white;" class="uk-child-width-expand@s" uk-grid>
                    <div class="uk-grid-item-match">
                        <div class="uk-card  uk-card-body">
                            <h2 style="font-weight: bolder;">2012</h2>
                            <p>
                                <img class="uk-border-rounded" src="img/cronologia/ac-simbolo.png">
                            </p>
                        </div>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                        <div class="uk-flex uk-flex-middle">
                            <h4 class="uk-margin-large-right">Angola Cables nasce do consórcio do cabo WACS e com ela a
                                visão de conectar Angola ao mundo</h4>

                        </div>

                    </div>
                </div>                <div style="background-color: white;" class="uk-child-width-expand@s" uk-grid>
                    <div class="uk-grid-item-match">
                        <div class="uk-card  uk-card-body">
                            <h2 style="font-weight: bolder;">2013</h2>
                            <p>
                                <img class="uk-border-rounded" src="img/cronologia/ac-simbolo.png">
                            </p>
                        </div>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                        <div class="uk-flex uk-flex-middle">
                            <h4 class="uk-margin-large-right">Angola Cables nasce do consórcio do cabo WACS e com ela a
                                visão de conectar Angola ao mundo</h4>

                        </div>

                    </div>
                </div>
                <div style="background-color: white;" class="uk-child-width-expand@s" uk-grid>
                    <div class="uk-grid-item-match">
                        <div class="uk-card  uk-card-body">
                            <h2 style="font-weight: bolder;">2014</h2>
                            <p>
                                <img class="uk-border-rounded" src="img/cronologia/ac-simbolo.png">
                            </p>
                        </div>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                        <div class="uk-flex uk-flex-middle">
                            <h4 class="uk-margin-large-right">Angola Cables nasce do consórcio do cabo WACS e com ela a
                                visão de conectar Angola ao mundo</h4>

                        </div>

                    </div>
                </div>                <div>Bazinga!</div>
                <div style="background-color: white;" class="uk-child-width-expand@s" uk-grid>
                    <div class="uk-grid-item-match">
                        <div class="uk-card  uk-card-body">
                            <h2 style="font-weight: bolder;">2015</h2>
                            <p>
                                <img class="uk-border-rounded" src="img/cronologia/ac-simbolo.png">
                            </p>
                        </div>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                        <div class="uk-flex uk-flex-middle">
                            <h4 class="uk-margin-large-right">Angola Cables nasce do consórcio do cabo WACS e com ela a
                                visão de conectar Angola ao mundo</h4>

                        </div>

                    </div>
                </div>                 <div style="background-color: white;" class="uk-child-width-expand@s" uk-grid>
                    <div class="uk-grid-item-match">
                        <div class="uk-card  uk-card-body">
                            <h2 style="font-weight: bolder;">2016</h2>
                            <p>
                                <img class="uk-border-rounded" src="img/cronologia/ac-simbolo.png">
                            </p>
                        </div>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                        <div class="uk-flex uk-flex-middle">
                            <h4 class="uk-margin-large-right">Angola Cables nasce do consórcio do cabo WACS e com ela a
                                visão de conectar Angola ao mundo</h4>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="fundo-valores ">

    <div class="uk-container uk-padding">
        <div class="uk-child-width-expand@s" uk-grid>
            <div class="uk-grid-item-match">
                <div class="uk-card  uk-card-body">
                    <h1 style="color: rgba(40, 193, 253, 1); font-weight: bolder;">MISSÃO</h1>
                    <h4 style="color:white">
                        Liderar a conectividade digital no Atlântico
                        Sul e potenciar o crescimento dos mercados emergentes. </h4>
                </div>
            </div>
            <div>
                <img class="uk-border-rounded missao-imagem" src="img/ac-missao.jpg">

            </div>
        </div>
    </div>

    <div class="uk-container uk-padding">
        <div class="uk-child-width-expand@s" uk-grid>

            <div>
                <img class="uk-border-rounded missao-imagem" src="img/ac-visao.jpg">

            </div>
            <div class="uk-grid-item-match">
                <div class="uk-card  uk-margin-small-top">
                    <h1 style="color: rgba(40, 193, 253, 1); font-weight: bolder;">VISÃO</h1>
                    <h4 style="color:white">
                        Tornar Angola num dos principais Hubs de Telecomunicações em África e acelerar a transformação
                        digital nos países do Atlântico Sul. </h4>
                </div>
            </div>

        </div>
    </div>


    <div class="uk-container uk-padding">

        <h1 style="color: rgba(40, 193, 253, 1); font-weight: bolder;">VALORES</h1>


        <div class="uk-child-width-expand@s uk-grid-match" uk-grid>

            <div>
                <div class="uk-card fundo-card-valores uk-card-body uk-border-rounded">
                    <h1 style="color: rgba(40, 193, 253, 1); font-weight: bolder;">Paixão</h1>
                    <p style="color:white">
                        Valorizamos o sentimento colectivo de amor pelo que fazemos. A forma como cada um se envolve
                        para o resultado final é de extrema importância para que ele alcance o nível de entrega que
                        almejamos.
                        Estamos todos conectados com irreverência, energia e orgulho na empresa e na equipa.
                        Transformamos o impossível em realidade, porque somos apaixonados pelo que fazemos </p>
                </div>
            </div>
            <div class="uk-grid-item-match">
                <div class="uk-card fundo-card-valores uk-card-body uk-border-rounded">
                    <h1 style="color: rgba(40, 193, 253, 1); font-weight: bolder;">Sustentabilidade</h1>
                    <p style="color:white">
                        Trabalhamos pensando no impacto mundial no presente para sustentar o futuro. Da empresa, dos
                        negócios, dos projectos sociais e ambientais, das comunidades e mercados onde nos inserimos.
                    </p>

                    <p style="color:white">Todos estamos conectados com o planeta e cuidar dele é o dever de cada um.
                    </p>
                </div>
            </div>

        </div>


        <div class="uk-child-width-expand@s uk-grid-match" uk-grid>

            <div>
                <div class="uk-card fundo-card-valores uk-card-body uk-border-rounded">
                    <h1 style="color: rgba(40, 193, 253, 1); font-weight: bolder;">Talento</h1>
                    <p style="color:white">
                        Valorizamos o sentimento colectivo de amor pelo que fazemos. A forma como cada um se envolve
                        para o resultado final é de extrema importância para que ele alcance o nível de entrega que
                        almejamos.
                        Estamos todos conectados com irreverência, energia e orgulho na empresa e na equipa.
                        Transformamos o impossível em realidade, porque somos apaixonados pelo que fazemos </p>
                </div>
            </div>
            <div class="uk-grid-item-match">
                <div class="uk-card fundo-card-valores uk-card-body uk-border-rounded">
                    <h1 style="color: rgba(40, 193, 253, 1); font-weight: bolder;">Eficiência</h1>
                    <p style="color:white">
                        Estamos empenhados no cumprimento ético e objectivo dos procedimentos e objectivos da
                        organização.  Gerimos a nossa ferramenta e recursos utilizando os mais elevados padrões e
                        certificações para fornecer serviços superiores aos nossos parceiros comerciais e clientes.  O
                        nosso investimento contínuo no desenvolvimento do conhecimento e na criação de talentos são os
                        motores de eficiência que alimentam o nosso crescimento e evolução. 
                    </p>
                </div>
            </div>

        </div>




    </div>


</div>

<div class="fundo-valores">
    <app-telcables></app-telcables>
</div>


<div class="fundo-accionistas uk-container">


    <div class="uk-padding uk-child-width-expand@s " uk-grid>

        <div>
            <div class="">
                <h2 style="color: rgba(5, 5, 51, 1);; font-weight: bolder;">ESTRUTURA DE ACCIONISTAS</h2>
                <p>
                    Angola Cables, S. A., é uma sociedade de direito angolano, com sede social na Rua das Quipacas, Casa
                    n.º 186, Bairro e Município da Ingombota, Luanda, Angola. </p>
                <img src="img/layout/acionistas-participaco.png">
            </div>
        </div>
        <div class="uk-grid-item-match">
            <img src="img/layout/acionistas-chart.png">

        </div>

    </div>
</div>

<div class="fundo-equipa">

    <div class="uk-padding">
        <h2 class="uk-text-center" style="color: rgba(5, 5, 51, 1); font-weight: bolder;">NOSSA EQUIPA</h2>
        <p style="color: rgba(5, 5, 51, 1); margin-right: 20%; margin-left:20%" class="uk-text-center">
            A nossa equipa de comerciais está cá para o ajudar com o seu negócio. Trabalham diariamente para que consiga
            atingir os seus objectivos e que tenha as melhores soluções, adaptadas às suas necessidades e do seu
            negócio.
        </p>
    </div>

    <div class="uk-container uk-padding">

        <!-- First Row -->
        <div class="uk-child-width-expand@s" uk-grid>
            <div>
                <div style="background-color: white;" class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded" data-src="img/equipa/alisha-badassy-min.png" uk-img>
                    <div class="uk-padding gradiente-nome-equipa uk-border-rounded">
                        <b style="font-size: 18px; color: white; border-radius: 30px;">ALISHA<br> BADASSY</b>
                        <p style="color:rgba(40, 193, 253, 1); border-radius: 30px" class="uk-text-left">Member of the Board | CCO</p>
                    </div>
                </div>
            </div>
            <div>
                <div style="background-color: white;" class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded" data-src="img/equipa/angelo-gama-min.png" uk-img>
                    <div class="uk-padding gradiente-nome-equipa uk-border-rounded">
                        <b style="font-size: 18px; color: white; border-radius: 30px;">ÂNGELO <br> GAMA</b>
                        <p style="color:rgba(40, 193, 253, 1); border-radius: 30px" class="uk-text-left">Member of the Board | CCO</p>
                    </div>
                </div>
            </div>
            <div>
                <div style="background-color: white;" class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded" data-src="img/equipa/ariete-pereira-min.png" uk-img>
                    <div class="uk-padding gradiente-nome-equipa uk-border-rounded">
                        <b style="font-size: 18px; color: white; border-radius: 30px;">ARIETE<br> PEREIRA</b>
                        <p style="color:rgba(40, 193, 253, 1); border-radius: 30px" class="uk-text-left">Member of the Board | CCO</p>
                    </div>
                </div>
            </div>
            <div>
                <div style="background-color: white;" class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded" data-src="img/equipa/artur-mendes-min.png" uk-img>
                    <div class="uk-padding gradiente-nome-equipa uk-border-rounded">
                        <b style="font-size: 18px; color: white; border-radius: 30px;">ARTUR <br>MENDES</b>
                        <p style="color:rgba(40, 193, 253, 1); border-radius: 30px" class="uk-text-left">Member of the Board | CCO</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second Row -->
        <div class="uk-child-width-expand@s uk-grid-match" uk-grid>
            <div class="uk-child-width-expand@s" uk-grid>
                <div>
                    <div style="background-color: white;" class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded" data-src="img/equipa/claudio-florindo-min.png" uk-img>
                        <div class="uk-padding gradiente-nome-equipa uk-border-rounded">
                            <b style="font-size: 18px; color: white; border-radius: 30px;">CLÁUDIO<br> FLORINDO</b>
                            <p style="color:rgba(40, 193, 253, 1); border-radius: 30px" class="uk-text-left">Member of the Board | CCO</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="background-color: white;" class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded" data-src="img/equipa/fernando-fernandes-min.png" uk-img>
                        <div class="uk-padding gradiente-nome-equipa uk-border-rounded">
                            <b style="font-size: 18px; color: white; border-radius: 30px;">FERNANDO<br> FERNANDES</b>
                            <p style="color:rgba(40, 193, 253, 1); border-radius: 30px" class="uk-text-left">Member of the Board | CCO</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="background-color: white;" class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded" data-src="img/equipa/frederico-oliveira-min.png" uk-img>
                        <div class="uk-padding gradiente-nome-equipa uk-border-rounded">
                            <b style="font-size: 18px; color: white; border-radius: 30px;">FREDERICO<br> OLIVEIRA</b>
                            <p style="color:rgba(40, 193, 253, 1); border-radius: 30px" class="uk-text-left">Member of the Board | CCO</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="background-color: white;" class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded" data-src="img/equipa/julio-chilela-min.png" uk-img>
                        <div class="uk-padding gradiente-nome-equipa uk-border-rounded">
                            <b style="font-size: 18px; color: white; border-radius: 30px;">JÚLIO<br> CHILELA</b>
                            <p style="color:rgba(40, 193, 253, 1); border-radius: 30px" class="uk-text-left">Member of the Board | CCO</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Third Row -->
        <div class="uk-child-width-expand@s uk-grid-match" uk-grid>
            <div class="uk-child-width-expand@s" uk-grid>
                <div>
                    <div style="background-color: white;" class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded" data-src="img/equipa/laura-carneiro-min.png" uk-img>
                        <div class="uk-padding gradiente-nome-equipa uk-border-rounded">
                            <b style="font-size: 18px; color: white; border-radius: 30px;">LAURA<br> CARNEIRO</b>
                            <p style="color:rgba(40, 193, 253, 1); border-radius: 30px" class="uk-text-left">Member of the Board | CCO</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="background-color: white;" class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded" data-src="img/equipa/lucenildo-junios-min.png" uk-img>
                        <div class="uk-padding gradiente-nome-equipa uk-border-rounded">
                            <b style="font-size: 18px; color: white; border-radius: 30px;">LUCENILDO<br> JUNIOS</b>
                            <p style="color:rgba(40, 193, 253, 1); border-radius: 30px" class="uk-text-left">Member of the Board | CCO</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="background-color: white;" class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded" data-src="img/equipa/mahen-naidu-min.png" uk-img>
                        <div class="uk-padding gradiente-nome-equipa uk-border-rounded">
                            <b style="font-size: 18px; color: white; border-radius: 30px;">MAHEN<br> NAIDU</b>
                            <p style="color:rgba(40, 193, 253, 1); border-radius: 30px" class="uk-text-left">Member of the Board | CCO</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="background-color: white;" class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded" data-src="img/equipa/rui-faria-min.png" uk-img>
                        <div class="uk-padding gradiente-nome-equipa uk-border-rounded">
                            <b style="font-size: 18px; color: white; border-radius: 30px;">RUI<br> FARIA</b>
                            <p style="color:rgba(40, 193, 253, 1); border-radius: 30px" class="uk-text-left">Member of the Board | CCO</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Fourth Row -->
        <div class="uk-child-width-expand@s uk-grid-match" uk-grid>
            <div class="uk-child-width-expand@s" uk-grid>
                <div>
                    <div style="background-color: white;" class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded" data-src="img/equipa/samuel-carvalho-min.png" uk-img>
                        <div class="uk-padding gradiente-nome-equipa uk-border-rounded">
                            <b style="font-size: 18px; color: white; border-radius: 30px;">SAMUEL<br> CARVALHO</b>
                            <p style="color:rgba(40, 193, 253, 1); border-radius: 30px" class="uk-text-left">Member of the Board | CCO</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="background-color: white;" class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded" data-src="img/equipa/sergio-pozuelo-min.png" uk-img>
                        <div class="uk-padding gradiente-nome-equipa uk-border-rounded">
                            <b style="font-size: 18px; color: white; border-radius: 30px;">SERGIO<br> POZUELO</b>
                            <p style="color:rgba(40, 193, 253, 1); border-radius: 30px" class="uk-text-left">Member of the Board | CCO</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="background-color: white;" class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded" data-src="img/equipa/suddhir-juggernath-min.png" uk-img>
                        <div class="uk-padding gradiente-nome-equipa uk-border-rounded">
                            <b style="font-size: 18px; color: white; border-radius: 30px;">SUDDHIR JUGGERNATH</b>
                            <p style="color:rgba(40, 193, 253, 1); border-radius: 30px" class="uk-text-left">Member of the Board | CCO</p>
                        </div>
                    </div>
                </div>

                <div>

                </div>

                
            </div>
        </div>

    </div>
</div>
<div class="uk-margin-medium-top uk-container">


    <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: push">

        <div class="uk-slideshow-items">
            <div class="video-container">
                <video autoplay loop muted id="backgroundVideo" class="background-video ">
                    <source src="https://marketing.host2africa.com/files/tartaruga-sangano.mp4" type="video/mp4">
                    Seu não navegador não suporta o vídeo em falta.
                </video>
                <div class="uk-position-left uk-position-small uk-text-left uk-light uk-padding">
                    <h2 class="uk-margin-remove">Os nossos cabos submarinos são colocados nas profundezas do oceano,
                        local onde habitam as tartarugas, deste modo queremos preservar o ecossistema e queremos
                        deixá-lo de uma forma sustentável as próximas gerações.</h2>
                </div>

                <div class="uk-position-bottom uk-position-small uk-text-left uk-light uk-padding">
                    <p class="uk-margin-remove">Fazemos todo o investimento possível para que as nossas operações
                        continuem a preservar os mares e oceanos, assim como as espécies que lá habitam nomeadamente as
                        tartarugas Kitabanga que estão em extinção.</p>
                </div>


            </div>

        </div>

        <div class="uk-light">
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous
                uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next
                uk-slideshow-item="next"></a>
        </div>

    </div>


</div>

<app-rodape></app-rodape>