<app-menu></app-menu>
<div class="fundo-cabecalho">
    <div class="gradiente-texto-cabecalho">
        <div class="conteudo-cabecalho uk-margin-medium-top">
            <div class="uk-container uk-margin-large-bottom">
                <img class="logo-cabecalho-pagina" src="img/layout/logo-cabecalho-pagina.png">
                <h4 style="font-size: 1.1rem; color:white">{{ 'empresa.page_title' | translate }}</h4>
                <h1 style="color:white; font-size: 2.4rem; font-weight: 800; margin-top: 20px;">{{
                    'empresa.header_title' | translate }}</h1>
            </div>
        </div>
    </div>
</div>


<!-- 2 Colunas | Presença Global & Vídeo Institucional AC -->

<div class="uk-container uk-margin-large-bottom uk-margin-large-top">
    <div class=" uk-child-width-1-2@m uk-grid-medium uk-child-width-1-2@s uk-grid-match-height uk-grid uk-text-left">

        <!--Lado esquerdo-->
        <div class=" uk-width-1-2@m  uk-margin-small-bottom ">
            <div class="uk-text-left ">
                <div class=" uk-border-rounded fundo-forma  ">
                    <div style="color: #000026; font-size: 1.7rem; " class=" presenca-global ">
                        <b>{{ 'ac.presenca' | translate }}</b>
                    </div>
                </div>
                <p style="color: #000026; font-size: 1.1rem;"
                    class=" sobre-angola-cables uk-margin-small-right uk-margin-medium-top">{{
                    'ac.presencadescricao' |
                    translate }}</p>
            </div>





        </div>


        <!-- Right Side | Video About Angola Cables -->
        <div class="uk-width-1-2@m uk-margin-medium-bottom uk-flex uk-flex-center uk-flex-top">
            <div class="uk-text-center">

                <!-- Button to toggle the modal -->
                <a href="#modal-video" uk-toggle>
                    <img src="img/video-miniatura.png" alt="Video Thumbnail">
                </a>

                <!-- Modal -->
                <div id="modal-video" uk-modal>
                    <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body uk-border-rounded">
                        <button class="uk-modal-close-default" type="button" uk-close></button>

                        <video controls loop muted id="promoVideo" class="promo-video uk-border-rounded">
                            <source src="https://marketing.host2africa.com/files/AC-Angolaoutlook-EN-2025%202-new.mp4"
                                type="video/mp4" />
                            Seu navegador não suporta o vídeo em falta.
                        </video>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>














<!-- 
<div class="fundo-valores">
    <div class="uk-container uk-padding">
        <div style="margin-top: 60px;" class="uk-child-width-expand@s" uk-grid>
            <div class="uk-grid-item-match">
                <div class="uk-flex  uk-flex-column  uk-flex-center">
                    <h1 style="color: rgba(40, 193, 253, 1); font-size: 2.3rem; font-weight: bolder;">
                        {{ 'empresa.valores.missao.title' | translate }}
                    </h1>
                    <h4 style="color:white">
                        {{ 'empresa.valores.missao.text' | translate }}
                    </h4>
                </div>
            </div>
            <div>
                <img style="border-radius: 20px;" class="uk-border-rounded missao-imagem" src="img/ac-missao.jpg">
            </div>
        </div>
    </div>

    <div class="uk-container uk-padding">
        <div class="uk-child-width-expand@s" uk-grid>
            <div>
                <img style="border-radius: 20px;" class=" missao-imagem" src="img/ac-visao.jpg">
            </div>
            <div class="uk-grid-item-match">
                <div class="uk-card uk-margin-small-top  uk-flex  uk-flex-column  uk-flex-center ">

                    <h1
                        style="color: rgba(40, 193, 253, 1); font-weight: bolder; font-size: 2.3rem; font-weight: bolder;">
                        {{ 'empresa.valores.visao.title' | translate }}
                    </h1>


                    <h4 style="color: white;">
                        {{ 'empresa.valores.visao.text' | translate }}
                    </h4>


                </div>
            </div>
        </div>
    </div>

    <div class="uk-container uk-padding">
        <div style="padding-bottom: 15px;">
            <h1 style="color: rgba(40, 193, 253, 1); font-weight: bolder; font-size: 2.3rem; margin-bottom: 35px;">
                {{ 'empresa.valores.title' | translate }}
            </h1>
        </div>
        <div class="uk-child-width-expand@s uk-grid-match" uk-grid>
            <div>
                <div class="uk-card fundo-card-valores uk-card-body uk-border-rounded">
                    <h2 style="color: rgba(40, 193, 253, 1); font-weight: bolder; font-size: 1.7rem;">

                        <span class="uk-margin-small-right" uk-icon="icon: heart; ratio:2"></span>
                        {{ 'empresa.valores.paixao.title' | translate }}
                    </h2>
                    <div style="margin-top: 10px;">
                        <p style="color:white">
                            {{ 'empresa.valores.paixao.text' | translate }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="uk-grid-item-match">
                <div class="uk-card fundo-card-valores uk-card-body uk-border-rounded">

                    <h2 style="color: rgba(40, 193, 253, 1); font-weight: bolder; font-size: 1.7rem;">
                        <span class="uk-margin-small-right" uk-icon="icon: lifesaver; ratio:2"></span>
                        {{ 'empresa.valores.sustentabilidade.title' | translate }}
                    </h2>
                    <div style="margin-top: 10px;">
                        <p style="color:white">
                            {{ 'empresa.valores.sustentabilidade.text' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-child-width-expand@s uk-grid-match" uk-grid>
            <div>
                <div class="uk-card fundo-card-valores uk-card-body uk-border-rounded">
                    <h2 style="color: rgba(40, 193, 253, 1); font-weight: bolder; font-size: 1.7rem;">
                        <span class="uk-margin-small-right" uk-icon="icon: star; ratio:2"></span>
                        {{ 'empresa.valores.talento.title' | translate }}
                    </h2>
                    <div style="margin-top: 10px;">
                        <p style="color:white">
                            {{ 'empresa.valores.talento.text' | translate }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="uk-grid-item-match">
                <div class="uk-card fundo-card-valores uk-card-body uk-border-rounded">
                    <h2 style="color: rgba(40, 193, 253, 1); font-weight: bolder; font-size: 1.7rem;">
                        <span class="uk-margin-small-right" uk-icon="icon: cog; ratio:2"></span>
                        {{ 'empresa.valores.eficiencia.title' | translate }}
                    </h2>
                    <div style="margin-top:10px">
                        <p style="color:white">
                            {{ 'empresa.valores.eficiencia.text' | translate }}
                        </p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="fundo-valores">
    <app-telcables></app-telcables>
</div>
-->
<!-- 
<div class="fundo-accionistas uk-container uk-margin-medium-top uk-margin-medium-bottom">


    <div class="uk-padding padding-mobile uk-child-width-expand@s  " uk-grid>

        <div class="uk-margin-medium-top">
            <div class="">
                <h2 style="color: rgba(5, 5, 51, 1); font-weight: bolder;">{{ "estrutura.accionista" | translate }}
                </h2>
                <div style="margin-top: 15px">

                    <p>{{ "accionistas.description" | translate }} </p>

                </div>
                <div class="uk-margin-medium-top">
                    <img src="img/layout/participacao.svg">
                </div>
            </div>
        </div>
        <div class="">
            <img src="img/layout/acionistas-ac.svg">

        </div>

    </div>
</div>

-->

<div class="fundo-contador">

    <div class="uk-padding uk-container">
        <h2 class="uk-text-center" style="color: #fff; font-weight: 800;">{{ "equipa.title" | translate }}
        </h2>

    </div>

    <div class="uk-container uk-padding">

        <!-- First Row -->
        <div class="uk-child-width-expand@s" uk-grid>
            <!-- Angelo Gama -->
            <div>
                <div style="background-color: white; border-radius: 20px;"
                    class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded"
                    data-src="img/equipa/fernando-fernandes-min.png" uk-img>
                    <div style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;"
                        class="uk-padding gradiente-nome-equipa">
                        <b style="font-size: 18px; color: white; border-radius: 30px;">{{ "equipa.fernando_fernandes.name" |
                            translate }}</b>
                        <p style="color:rgba(40, 193, 253, 1); border-radius: 30px" class="uk-text-left">{{
                            "equipa.fernando_fernandes.position" | translate }}</p>
                        <button class="uk-button uk-button-default uk-margin-remove uk-button-small uk-border-rounded"
                            type="button" uk-toggle="target: #modal-jonadab">{{ "equipa.bio_button" | translate
                            }}</button>
                    </div>
                </div>
            </div>

            <div>
                <div style="background-color: white; border-radius: 20px;"
                    class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded"
                    data-src="img/equipa/jonadab_brown.png" uk-img>
                    <div style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;"
                        class="uk-padding gradiente-nome-equipa">
                        <b style="font-size: 18px; color: white; border-radius: 30px;">{{ "equipa.jonadab.name" |
                            translate }}</b>
                        <p style="color:rgba(40, 193, 253, 1); border-radius: 30px" class="uk-text-left">{{
                            "equipa.jonadab.position" | translate }}</p>
                        <button class="uk-button uk-button-default uk-margin-remove uk-button-small uk-border-rounded"
                            type="button" uk-toggle="target: #modal-jonadab">{{ "equipa.bio_button" | translate
                            }}</button>
                    </div>
                </div>
            </div>

            <!-- Laura Carneiro -->


            <!-- Rui Faria -->
            <div>
                <div style="background-color: white; border-radius: 20px;"
                    class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded"
                    data-src="img/equipa/osibanjo.png" uk-img>
                    <div style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;"
                        class="uk-padding gradiente-nome-equipa uk-border-rounded">
                        <b style="font-size: 18px; color: white; border-radius: 30px;">{{ "equipa.osibanjo.name" |
                            translate }}</b>
                        <p style="color:rgba(40, 193, 253, 1); border-radius: 30px" class="uk-text-left">{{
                            "equipa.osibanjo.position" | translate }}</p>
                        <button class="uk-button uk-button-default uk-margin-remove uk-button-small uk-border-rounded"
                            type="button" uk-toggle="target: #modal-osibanjo">{{ "equipa.bio_button" | translate
                            }}</button>
                    </div>
                </div>
            </div>

            <!-- Sergio Pozuelo -->


        </div>


        <!-- First Row -->
        <div class="uk-child-width-expand@s" uk-grid>

            <div>
                <div style="background-color: white; border-radius: 20px;"
                    class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light "
                    data-src="img/equipa/israel_ogboi.png" uk-img>
                    <div style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;"
                        class="uk-padding gradiente-nome-equipa  ">
                        <b style="font-size: 18px; color: white; border-radius: 30px;">{{ "equipa.israel.name" |
                            translate }}</b>
                        <p style="color:rgba(40, 193, 253, 1); border-radius: 30px" class="uk-text-left">{{
                            "equipa.israel.position" | translate }}</p>
                        <button class="uk-button uk-button-default uk-margin-remove uk-button-small uk-border-rounded"
                            type="button" uk-toggle="target: #modal-israel">{{ "equipa.bio_button" | translate
                            }}</button>
                    </div>
                </div>
            </div>

            <div>
                <div style="background-color: white; border-radius: 20px;"
                    class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded"
                    data-src="img/equipa/eric.png" uk-img>
                    <div style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;"
                        class="uk-padding gradiente-nome-equipa uk-border-rounded">
                        <b style="font-size: 18px; color: white; border-radius: 30px;">{{ "equipa.eric.name" |
                            translate }}</b>
                        <p style="color:rgba(40, 193, 253, 1); border-radius: 30px" class="uk-text-left">{{
                            "equipa.eric.position" | translate }}</p>
                        <button class="uk-button uk-button-default uk-margin-remove uk-button-small uk-border-rounded"
                            type="button" uk-toggle="target: #modal-babatunde">{{ "equipa.bio_button" | translate
                            }}</button>
                    </div>
                </div>
            </div>


            <!-- Sergio Pozuelo -->
            <div>
                <div style="background-color: white; border-radius: 20px;"
                    class="uk-height-large uk-flex uk-flex-bottom uk-flex-middle uk-background-cover uk-light uk-border-rounded"
                    data-src="img/equipa/babatunde.png" uk-img>
                    <div style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;"
                        class="uk-padding gradiente-nome-equipa uk-border-rounded">
                        <b style="font-size: 18px; color: white; border-radius: 30px;">{{ "equipa.babatunde.name" |
                            translate }}</b>
                        <p style="color:rgba(40, 193, 253, 1); border-radius: 30px" class="uk-text-left">{{
                            "equipa.babatunde.position" | translate }}</p>
                        <button class="uk-button uk-button-default uk-margin-remove uk-button-small uk-border-rounded"
                            type="button" uk-toggle="target: #modal-babatunde">{{ "equipa.bio_button" | translate
                            }}</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Empty div for layout balance -->
        <div></div>
    </div>






</div>

<!-- All Modals -->
<div id="modal-jonadab" uk-modal>
    <div style="border-radius: 20px" class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title"><b>{{ "equipa.jonadab" | translate }}</b></h2>
        <p class="uk-margin-small-top" style="text-align: justify;" [innerHTML]="'equipa.jonadab.bio' | translate"></p>
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-margin-medium-top">
            {{ "conectar-texto" | translate }} <a target="_blank"
                href="https://www.linkedin.com/in/jonadab-brown-b7b32066"><img src="img/social-icons/linkedin.png"> </a>
        </div>
    </div>
</div>

<div id="modal-israel" uk-modal>
    <div style="border-radius: 20px" class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title"><b>{{ "equipa.israel.name" | translate }}</b></h2>
        <p class="uk-margin-small-top" style="text-align: justify;" [innerHTML]="'equipa.israel.bio' | translate"></p>
        <p class="uk-text-right">
            <button class="uk-modal-close-default" type="button" uk-close></button>
        </p>
        <div class="uk-margin-medium-top">
            {{ "conectar-texto" | translate }} <a target="_blank" href="https://www.linkedin.com/in/israelogboi">
                <img src="img/social-icons/linkedin.png"> </a>
        </div>
    </div>
</div>

<div id="modal-osibanjo" uk-modal>
    <div style="border-radius: 20px" class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title"><b>{{ "equipa.osibanjo.name" | translate }}</b></h2>
        <p class="uk-margin-small-top" style="text-align: justify;" [innerHTML]="'equipa.osibanjo.bio' | translate"></p>
        <p class="uk-text-right">
            <button class="uk-modal-close-default" type="button" uk-close></button>
        </p>
        <div class="uk-margin-medium-top">
            {{ "conectar-texto" | translate }} <a target="_blank"
                href="https://www.linkedin.com/in/osibanjo-olalekan-nim-mmp-asf-844a6382">
                <img src="img/social-icons/linkedin.png"> </a>
        </div>
    </div>
</div>


<div id="modal-eric" uk-modal>
    <div style="border-radius: 20px" class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title"><b>{{ "equipa.eric.name" | translate }}</b></h2>
        <p class="uk-margin-small-top" style="text-align: justify;" [innerHTML]="'equipa.eric.bio' | translate"></p>
        <p class="uk-text-right">
            <button class="uk-modal-close-default" type="button" uk-close></button>
        </p>
        <div class="uk-margin-medium-top">
            {{ "conectar-texto" | translate }} <a target="_blank"
                href="https://www.linkedin.com/in/eric-owusu-647491110"> <img src="img/social-icons/linkedin.png"> </a>
        </div>
    </div>
</div>


<div id="modal-babatunde" uk-modal>
    <div style="border-radius: 20px" class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title"><b>{{ "equipa.babatunde.name" | translate }}</b></h2>
        <p class="uk-margin-small-top" style="text-align: justify;" [innerHTML]="'equipa.babatunde.bio' | translate">
        </p>
        <p class="uk-text-right">
            <button class="uk-modal-close-default" type="button" uk-close></button>
        </p>
        <div class="uk-margin-medium-top">
            {{ "conectar-texto" | translate }} <a target="_blank" href="https://www.linkedin.com/in/tundeadeoye"> <img
                    src="img/social-icons/linkedin.png"> </a></div>
    </div>
</div>




<div class="uk-margin-medium-top uk-container" style="height: 80vh;">
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

        <div class="uk-slider-items uk-grid" uk-grid>
            <div class="uk-width-1-1">
                <div class="uk-panel">
                    <div class="video-container">
                        <video autoplay loop muted id="backgroundVideo" class="background-video"
                            style="  border-radius: 20px;">
                            <source src="https://marketing.host2africa.com/files/tartaruga-sangano.mp4"
                                type="video/mp4">
                            {{ 'slideshow.video_alt_text' | translate }}
                        </video>
                        <div class="uk-position-left uk-position-small uk-text-left uk-light uk-padding">
                            <h4 class="uk-margin-remove responsive-title">
                                {{ 'slideshow.slide1.title' | translate }}
                            </h4>
                        </div>
                        <div class="uk-position-bottom uk-position-small uk-text-left uk-light uk-padding">
                            <p class="uk-margin-remove responsive-description">
                                {{ 'slideshow.slide1.description' | translate }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Slide 2: Image -->
            <div class="uk-width-1-1">
                <div>
                    <img src="img/sangano-escola-new.png" alt="" style="  border-radius: 20px; margin-left: 10px;"
                        uk-cover>
                    <!-- You can add text overlays here if needed -->
                </div>
            </div>

            <!-- Add more slides as needed -->


            <!--
            <div class="uk-width-3-4">
                <div class="uk-panel">
                    <img src="images/photo3.jpg" alt="" style="width: 100%; height: 100%; object-fit: cover; border-radius: 20px;">
                    <div class="uk-position-center uk-panel"><h1>Optional Text</h1></div>
                </div>
            </div>
            -->
        </div>

        <!-- Navigation Arrows with circular blue background -->
        <a class="uk-position-center-left-out uk-position-small  uk-border-circle uk-background-primary uk-padding-small"
            href uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right-out uk-position-small  uk-border-circle uk-background-primary uk-padding-small"
            href uk-slidenav-next uk-slider-item="next"></a>
    </div>
</div>

<app-ad2></app-ad2>
<app-rodape></app-rodape>