
<div class="uk-container">

    





<div class="uk-container uk-margin-medium-top uk-margin-small-bottom uk-text-center uk-margin-large-left uk-margin-large-right">
    <div uk-scrollspy="cls: uk-animation-fade; target: .motion-1; delay: 40; repeat: true" class="  uk-child-width-1-2@m uk-grid-medium uk-child-width-1-1@s uk-grid-match uk-grid uk-text-left" >
<!-- Lado esquerdo-->
        <div class="uk-width-1-2@m ">
            <div class="uk-margin-medium-right">
                <h2 class="texto-azul motion-1"> Benefícios  </h2>
                <p class="motion-1">Ao aproveitar a infraestrutura robusta e as soluções de conectividade da Angola Cables, os participantes podem desbloquear novas oportunidades de negócios, aprimorar a entrega de serviços e estabelecer uma presença mais forte nos mercados globais.</p>
            </div>

            <div class="uk-margin-small-top uk-margin-large-bottom ">
                <h3 class="texto-azul motion-1"> Pronto para a parceria?  </h3>

                <ul class="uk-nav uk-nav-default uk-list " uk-nav>
                    <li class="uk-parent motion-1 " >
                        <a href="#">
                            <button class="motion-1 uk-border-pill uk-button uk-button-primary uk-border-pill">
                                Escolher o tipo de parceria <span uk-nav-parent-icon></span>
                            </button>
                        </a>
                           
                        
                    </li>
                </ul>
            </div>
        </div>
<!--Lado direito-->
        <div class="uk-width-1-2@m  " uk-grid uk-scrollspy="cls: uk-animation-fade; target: .motion-1; delay: 40; repeat: true">
            <ul class="uk-text-center uk-grid-divider  uk-grid uk-child-width-1-3@s uk-child-width-1-1" uk-grid>
                <li class="motion-1">
                    <a class="" href="" uk-icon="icon: plus-circle; ratio:2"></a>
                    <p>Incentivos <br>e Recompensas</p>
                </li>
                <li class="motion-1">
                    <span class="" uk-icon="icon: file-edit; ratio: 2"></span>
                    <p>Treinamento <br>de Produto</p>
                </li >
                <li class="motion-1">
                    <span class="" uk-icon="icon: lifesaver; ratio: 2"></span>
                    <p>                    Suporte de <br>Vendas                  </p>
                </li>
                <li class="motion-1">
                    <span class="" uk-icon="icon: file-text; ratio: 2"></span>
                    <p>                    Plano de <br>Vendas SDR                   </p>
                </li> 
                <li class="motion-1">
                    <span class="" uk-icon="icon: users; ratio: 2"></span>
                    <p>                    Acesso à <br>Equipe Técnica                    </p>
                </li>
                <li class="motion-1">
                    <span class="" uk-icon="icon:social; ratio: 2"></span>
                    <p>                    Suporte de <br>Marketing                    </p>
                </li>
                <li class="motion-1">
                    <span class="" uk-icon="icon: calendar; ratio: 2"></span>

                    <p>                    Eventos <br>Exclusivos                    </p>
                </li> 
                <li class="motion-1">
                   <a class="icon-blue"> <span class="" uk-icon="icon: world; ratio: 2"></span></a>

                    <p>                    Expansão <br>Global                    </p>
                </li>
                <li class="motion-1">
                    <span class="" uk-icon="icon: bookmark; ratio: 2"></span>
                    <p>                    Uso de Logotipos <br>Especiais                    </p>
                </li>
            </ul>
        </div>

       

    </div>
</div>




</div>