<div class="uk-container">
    <div class="uk-container uk-margin-medium-top uk-margin-small-bottom uk-text-center uk-margin-large-left uk-margin-large-right">
        <div class="uk-child-width-1-2@m uk-grid-medium uk-child-width-1-1@s uk-grid-match uk-grid uk-text-left">
            <!-- Lado esquerdo -->
            <div class="uk-width-1-2@m">
                <div id="beneficios" class="uk-margin-medium-right">
                    <h2 class="texto-azul motion-1">{{ 'beneficios' | translate }}</h2>
                    <p class="motion-1">{{ 'descricao_beneficios' | translate }}</p>
                </div>
                <div class="uk-margin-small-top uk-margin-large-bottom">
                    <h3 class="texto-azul motion-1">{{ 'pronto_para_parceria' | translate }}</h3>
                    <a class="uk-button uk-button-primary uk-border-pill" href="#tipos" uk-scroll>{{ 'escolher_tipo_parceria' | translate }}</a>
                </div>
            </div>
            <!-- Lado direito -->
            <div class="uk-width-1-2@m" uk-grid>
                <ul class="uk-text-center uk-grid-divider uk-grid uk-child-width-1-3@s uk-child-width-1-1" uk-grid>
                    <li>
                        <span uk-icon="icon: plus-circle; ratio: 2"></span>
                        <p>{{ 'incentivos_recompensas' | translate }}</p>
                    </li>
                    <li class="motion-1">
                        <span uk-icon="icon: file-edit; ratio: 2"></span>
                        <p>{{ 'treinamento_produto' | translate }}</p>
                    </li>
                    <li class="motion-1">
                        <span uk-icon="icon: lifesaver; ratio: 2"></span>
                        <p>{{ 'suporte_vendas' | translate }}</p>
                    </li>
                    <li class="motion-1">
                        <span uk-icon="icon: file-text; ratio: 2"></span>
                        <p>{{ 'plano_vendas_sdr' | translate }}</p>
                    </li>
                    <li class="motion-1">
                        <span uk-icon="icon: users; ratio: 2"></span>
                        <p>{{ 'acesso_equipe_tecnica' | translate }}</p>
                    </li>
                    <li class="motion-1">
                        <span uk-icon="icon: social; ratio: 2"></span>
                        <p>{{ 'suporte_marketing' | translate }}</p>
                    </li>
                    <li class="motion-1">
                        <span uk-icon="icon: calendar; ratio: 2"></span>
                        <p>{{ 'eventos_exclusivos' | translate }}</p>
                    </li>
                    <li class="motion-1">
                        <span uk-icon="icon: world; ratio: 2"></span>
                        <p>{{ 'expansao_global' | translate }}</p>
                    </li>
                    <li class="motion-1">
                        <span uk-icon="icon: bookmark; ratio: 2"></span>
                        <p>{{ 'uso_logotipos_especiais' | translate }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
