<div class="uk-container uk-margin-top">
    @if (noticias$ | async; as noticias) {
        <div class="uk-flex uk-flex-center">
            <div class="uk-grid uk-child-width-1-1@s uk-child-width-1-3@m uk-grid-medium uk-grid-match" uk-grid>
                @for (noticia of noticias | slice:0:3 ; track noticia.id) {
                    <div>
                        <div class="uk-card uk-flex uk-flex-column uk-height-1-1 uk-border-rounded uk-text-left"
                             style="box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08); border-radius: 30px;">
                             
                            <!-- Featured Image -->
                            <div *ngIf="noticia.imageUrl" class="uk-card-media-top">
                                <img [src]="noticia.imageUrl" alt="Imagem de destaque" 
                                     style="border-top-left-radius: 20px; border-top-right-radius: 20px; width: 100%; height: 150px; object-fit: cover;" />
                            </div>

                            <div class="uk-flex-1"
                                 style="background: #022561; padding: 25px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">

                                <a style="color: #1A1A1A;" target="_blank" href="{{ noticia.noticiaUrl }}">
                                    <p style="color: #fff !important; min-height: 60px; font-weight:600" class="titulo-noticia"
                                       [innerHTML]="noticia.title | truncate:50"></p>
                                </a>

                                <p class="uk-text-meta uk-margin-remove-top uk-text-left"
                                   style="font-size: 0.5rem; margin-bottom: 5px;">
                                    {{ noticia.createdAt?.toDate() | date: 'dd/MM/yyyy ' }}
                                </p>

                                <div class="uk-child-width-expand@s uk-margin-top" uk-grid>
                                    <div>
                                        <p style="font-size: .8rem; color: #ffffff7a;" class="uk-text-left">
                                            {{ noticia.author }}
                                        </p>
                                    </div>
                                    <div>
                                        <a style="color: #fff; font-size: 0.95rem;" href="{{ noticia.noticiaUrl }}" target="_blank">
                                            <p class="botao-azul-2">Read more</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    } @else {
        <div class="uk-flex uk-flex-center uk-margin-large-top">
            <div uk-spinner></div>
        </div>
    }
</div>
