
<div class="uk-container">

    <h2 style="font-weight: bolder; color:rgba(0, 0, 38, 1);" class="uk-text-center uk-margin-large-top"><b> {{'caracteristicas' | translate}} </b>
    </h2>

    <div class="uk-margin-large-top">
        <div uk-grid uk-height-match="row: false" id="tipos"
            class="uk-child-width-1-3@m uk-grid-small uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center">
            <!--
            <div class="uk-margin-small-bottom">
                <div class="border uk-border-rounded uk-card uk-card-body uk-width-1-1@m">

                    <table class="uk-table uk-margin-large-top uk-margin-large-bottom">
                   
                        <tbody>
                            <tr>
                                <td class="uk-flex uk-flex-center uk-flex-middle"><img style="width: 100px;" src="img/world-interconected-angola-cables.png"
                                    alt="" /></td>
                                <td class="uk-flex uk-flex-center uk-flex-middle" style="color: white;" class="uk-text-left">{{ 'conectada.mundo' | translate }}
                                    </td>
                                
                            </tr>
                            <tr>
                                <td class="uk-flex uk-flex-center uk-flex-middle"><img style="width: 100px;" src="img/first-interconected-angola-cables.png"
                                    alt="{{ 'conectada.africa' | translate }}" /></td>
                                <td style="color: white;" class="uk-text-left">{{ 'conectada.africa' | translate }}
                                    </td>
                            </tr>

                            <tr>
                                <td class="uk-flex uk-flex-center uk-flex-middle"><img style="width: 100px;" src="img/selocplp-pt-2024.png"
                                    alt="{{ 'operadora_conectada_mundo' | translate }}" /></td>
                                <td style="color: white;" class="uk-text-left">{{ 'conectada.cplp' | translate }}
                                    </td>
                            </tr>
                        </tbody>
                     
                    </table>

                </div>
            </div>
 -->
            <div class="uk-margin-small-bottom">
                <div class="fundo-grid2 uk-border-rounded uk-card uk-card-body uk-width-1-1@m">
                  <img style="width: 220px; font-size:32px" src="img/world-interconected-angola-cables.png"
                  alt="" />
                  <h2 style="color:white">21ª operadora mais interconectada do mundo</h2>
                </div>
            </div>

            <div class="uk-margin-small-bottom">
                <div class="fundo-grid2 uk-border-rounded uk-card uk-card-body uk-width-1-1@m">
                  <img style="width: 220px; font-size:32px" src="img/first-interconected-angola-cables.png"
                  alt="" />
                  <h2 style="color:white">Operadora mais interconectada de África</h2>
                </div>
            </div>
            <div class="uk-margin-small-bottom">
              <div class="fundo-grid2 uk-border-rounded uk-card uk-card-body uk-width-1-1@m">
                <img style="width: 165px; height: auto; font-size:32px" src="img/selocplp-pt-2024.png"
                alt="" />
                <h2 style="color:white">Operadora mais interconectada da CPLP</h2>
              </div>
          </div>
        </div>
    </div>

</div>



 <!-- 
<div class="uk-margin-medium-bottom uk-margin-large-top">
    <h3 style="font-weight: bold " class="uk-text-center texto-div">
      {{ 'nossas_certificacoes' | translate }}
    </h3>
  </div>


<div class="fundo-selos">

    <div class="uk-child-width-expand@s uk-text-center uk-padding" uk-grid>
        <div>
            <img style="height: 100px" src="img/iso/iso1.png" alt="" />
          </div>
          <div>
            <img style="height: 100px" src="img/iso/iso2.png" alt="" />
          </div>
          <div>
            <img style="height: 100px" src="img/iso/iso3.png" alt="" />
          </div>
          <div>
            <img style="height: 100px" src="img/iso/iso4.png" alt="" />
          </div>
          <div>
            <img style="height: 100px" src="img/iso/iso5.png" alt="" />
          </div>
          <div>
            <img style="height: 100px" src="img/iso/iso6.png" alt="" />
          </div>
          <div>
            <img style="height: 100px" src="img/iso/iso7.png" alt="" />
          </div>
          <div>
            <img style="height: 100px" src="img/iso/tier.png" alt="" />
          </div>
    </div>

  -->