
  <app-menu></app-menu>

  <!-- Header -->
  <div class="fundo-cabecalho">
    <div class="gradiente-texto-cabecalho">
      <div class="conteudo-cabecalho uk-margin-medium-top">
        <div class="uk-container uk-margin-large-bottom">
          <h1 style="color:#fff; margin-top:20px; font-weight:800;">Solutions</h1>
          <h2 style="color:white;">Empower your business with secure, connected, and high-performance infrastructure solutions.</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- Content -->
  <div class="uk-container uk-margin-large-top uk-margin-large-bottom">

    <!-- GLOBAL CONNECTIVITY SOLUTIONS -->
    <h2 class="uk-heading-bullet uk-margin-medium-top uk-margin-large-bottom ">Global Connectivity Solutions</h2>

    <div class="uk-child-width-1-2@m uk-grid-match" uk-grid uk-height-match="target: > div > .uk-card">
      <div>
        <div class="uk-card uk-card-default uk-border-rounded uk-overflow-hidden uk-box-shadow-small uk-flex uk-flex-column">
          <div class="uk-inline">
            <img src="img/ip-transit.jpg" alt="Bulk IP Capacity" class="uk-border-rounded uk-width-1-1" style="height:220px; object-fit:cover;">
          </div>
          <div class="uk-card-body uk-flex-1 uk-margin-small-bottom ">
            <h3 class="uk-margin-small-bottom"><b>Bulk IP Capacity</b></h3>
            <p>Designed for Service Providers, this solution delivers high-volume IP Transit or Dedicated Internet Access capacity seamlessly distributed across our Lagos POPs for efficiency and scalability.</p>
            <ul class="uk-list uk-list-bullet">
              <li>Cost Savings – Lower unit costs via scale.</li>
              <li>Scalability – Expand easily as demand grows.</li>
              <li>Efficiency – Streamlined distribution across POPs.</li>
              <li>Improved Performance – Reliable, faster connectivity.</li>
              <li>Stronger Margins – Maximize profitability.</li>
              <li>Competitive Advantage – Offer better pricing & quality.</li>
            </ul>
          </div>
          <div class="uk-card-footer uk-text-right">
           <a style="color: rgba(2, 37, 97, 1); " routerLink="/" class="uk-text-decoration-none">
            <button style="background-color:#6fe0fc ; font-weight: 700;"
                class=" uk-button   uk-button-medium uk-border-pill"><span style="margin: 5px">
                   Talk to Our Experts</span></button>
        </a>
          </div>
        </div>
      </div>

      <div>
        <div class="uk-card uk-card-default uk-border-rounded uk-overflow-hidden uk-box-shadow-small uk-flex uk-flex-column">
          <div class="uk-inline">
            <img src="img/europe-digital-bridge.jpg" alt="Europe Digital Bridge" class="uk-border-rounded uk-width-1-1" style="height:220px; object-fit:cover;">
          </div>
          <div class="uk-card-body uk-flex-1">
            <h3 class="uk-margin-small-bottom"><b> Europe Digital Bridge </b></h3>
            <p>Leveraging subsea systems with SACS, this bridge connects Europe directly to Brazil, the USA, and Africa, providing resilient, low-latency international routes for carriers and enterprises.</p>
            <ul class="uk-list uk-list-bullet">
              <li>Resilient Connectivity – Avoids risky subsea routes.</li>
              <li>Global Reach – Direct westbound path via SACS + MONET.</li>
              <li>Low Latency – Optimized for speed and reliability.</li>
              <li>Diversification – Adds route redundancy.</li>
              <li>Carrier-Grade Reliability – Robust subsea infrastructure.</li>
            </ul>
          </div>
          <div class="uk-card-footer uk-text-right">
           <a style="color: rgba(2, 37, 97, 1); " routerLink="/" class="uk-text-decoration-none">
            <button style="background-color:#6fe0fc ; font-weight: 700;"
                class=" uk-button   uk-button-medium uk-border-pill"><span style="margin: 5px">
                   Talk to Our Experts</span></button>
        </a>
          </div>
        </div>
      </div>
    </div>

    <!-- LOCAL BUSINESS SOLUTIONS -->
    <h2 class="uk-heading-bullet uk-margin-large-top uk-margin-medium-bottom">Local Business Solutions</h2>

    <div class="uk-child-width-1-1@s uk-grid-match" uk-grid uk-height-match="target: > div > .uk-card">
      <div>
        <div class="uk-card uk-card-default uk-border-rounded uk-overflow-hidden uk-box-shadow-small uk-flex uk-flex-column">
          <div class="uk-inline">
            <img src="img/private-cloud-1.jpg" alt="Private Cloud" class="uk-border-rounded uk-width-1-1" style="height:240px; object-fit:cover;">
          </div>
          <div class="uk-card-body uk-flex-1">
            <h3 class="uk-margin-small-bottom"><b> Private Cloud for In-House Management </b></h3>
            <p>Deploy a dedicated private cloud node directly at your facility for full control over sensitive data and compliance with strict financial industry standards — powered by Clouds2Europe.</p>
            <ul class="uk-list uk-list-bullet">
              <li>Regulatory Compliance & Data Sovereignty</li>
              <li>Enhanced Security & Customer Trust</li>
              <li>Hybrid Integration & Operational Control</li>
              <li>High Availability for Financial Workloads</li>
            </ul>
          </div>
          <div class="uk-card-footer uk-text-right">
            <a style="color: rgba(2, 37, 97, 1); " routerLink="/" class="uk-text-decoration-none">
            <button style="background-color:#6fe0fc ; font-weight: 700;"
                class=" uk-button   uk-button-medium uk-border-pill"><span style="margin: 5px">
                   Talk to Our Experts</span></button>
        </a>
          </div>
        </div>
      </div>
    </div>

    <!-- CUSTOMIZED SOLUTIONS -->
    <h2 class="uk-heading-bullet uk-margin-large-top uk-margin-medium-bottom">Customized Telecom Solutions </h2>

    <div class="uk-child-width-1-2@m uk-grid-match" uk-grid uk-height-match="target: > div > .uk-card">
      <div>
        <div class="uk-card uk-card-default uk-border-rounded uk-overflow-hidden uk-box-shadow-small uk-flex uk-flex-column">
          <div class="uk-inline">
            <img src="img/telecom.jpg" alt="Integrated Telecom" class="uk-border-rounded uk-width-1-1" style="height:200px; object-fit:cover;">
          </div>
          <div class="uk-card-body uk-flex-1">
            <h3>Integrated Telecom Solutions</h3>
            <p>Combine Internet, VPN, Cloud, and Security into one seamless package — ideal for B2B clients seeking simplicity and unified service delivery.</p>
          </div>
          <div class="uk-card-footer uk-text-right">
       <a style="color: rgba(2, 37, 97, 1); " routerLink="/service-contact" class="uk-text-decoration-none">
            <button style="background-color:#6fe0fc ; font-weight: 700;"
                class=" uk-button   uk-button-medium uk-border-pill"><span style="margin: 5px">
                   Talk to Our Experts</span></button>
        </a>
          </div>
        </div>
      </div>

      <div>
        <div class="uk-card uk-card-default uk-border-rounded uk-overflow-hidden uk-box-shadow-small uk-flex uk-flex-column">
          <div class="uk-inline">
            <img src="img/high-capacity-telecom.jpg" alt="High Capacity" class="uk-border-rounded uk-width-1-1" style="height:200px; object-fit:cover;">
          </div>
          <div class="uk-card-body uk-flex-1">
            <h3><b> High-Capacity Telecom Solutions</b></h3>
            <p>Deliver ultra-fast connections (10G–400G) for ISPs, carriers, and data centers managing heavy data flows — optimized for speed and scale.</p>
          </div>
          <div class="uk-card-footer uk-text-right">
         <a style="color: rgba(2, 37, 97, 1); " routerLink="/service-contact" class="uk-text-decoration-none">
            <button style="background-color:#6fe0fc ; font-weight: 700;"
                class=" uk-button   uk-button-medium uk-border-pill"><span style="margin: 5px">
                   Talk to Our Experts</span></button>
        </a>
          </div>
        </div>
      </div>

      <div>
        <div class="uk-card uk-card-default uk-border-rounded uk-overflow-hidden uk-box-shadow-small uk-flex uk-flex-column">
          <div class="uk-inline">
            <img src="img/enterprise-telecom.webp" alt="Enterprise Telecom" class="uk-border-rounded uk-width-1-1" style="height:200px; object-fit:cover;">
          </div>
          <div class="uk-card-body uk-flex-1">
            <h3> <b> Enterprise Telecom Solutions </b></h3>
            <p>Reliable and secure corporate connectivity — Dedicated Internet, VPNs, SD-WAN, and Cloud Access for professional-grade performance.</p>
          </div>
          <div class="uk-card-footer uk-text-right">
        <a style="color: rgba(2, 37, 97, 1); " routerLink="/service-contact" class="uk-text-decoration-none">
            <button style="background-color:#6fe0fc ; font-weight: 700;"
                class=" uk-button   uk-button-medium uk-border-pill"><span style="margin: 5px">
                   Talk to Our Experts</span></button>
        </a>
          </div>
        </div>
      </div>

      <div>
        <div class="uk-card uk-card-default uk-border-rounded uk-overflow-hidden uk-box-shadow-small uk-flex uk-flex-column">
          <div class="uk-inline">
            <img src="img/managed-network.jpg" alt="Managed Telecom" class="uk-border-rounded uk-width-1-1" style="height:200px; object-fit:cover;">
          </div>
          <div class="uk-card-body uk-flex-1">
            <h3><b> Managed Telecom Solutions </b></h3>
            <p>End-to-end network delivery, monitoring, and maintenance — allowing your business to focus on its core operations.</p>
          </div>
          <div class="uk-card-footer uk-text-right">
           <a style="color: rgba(2, 37, 97, 1); " routerLink="/service-contact" class="uk-text-decoration-none">
            <button style="background-color:#6fe0fc ; font-weight: 700;"
                class=" uk-button   uk-button-medium uk-border-pill"><span style="margin: 5px">
                   Talk to Our Experts</span></button>
        </a>
          </div>
        </div>
      </div>

      <div>
        <div class="uk-card uk-card-default uk-border-rounded uk-overflow-hidden uk-box-shadow-small uk-flex uk-flex-column">
          <div class="uk-inline">
            <img src="img/Multi-cloud-strategy.webp" alt="Multi-Cloud Network" class="uk-border-rounded uk-width-1-1" style="height:200px; object-fit:cover;">
          </div>
          <div class="uk-card-body uk-flex-1">
            <h3><b> Multi-Cloud Network Solution</b></h3>
            <p>Seamless, secure access to AWS, Azure, and Google Cloud with low latency and high reliability — ideal for enterprises and OTTs.</p>
          </div>
          <div class="uk-card-footer uk-text-right">
            <a style="color: rgba(2, 37, 97, 1); " routerLink="/service-contact" class="uk-text-decoration-none">
            <button style="background-color:#6fe0fc ; font-weight: 700;"
                class=" uk-button   uk-button-medium uk-border-pill"><span style="margin: 5px">
                   Talk to Our Experts</span></button>
        </a>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Footer -->
<app-ad2></app-ad2>
<app-rodape></app-rodape>
