<app-menu></app-menu>
<app-slider></app-slider>

<app-angolacables></app-angolacables>




<div>
    <hr style="border: none; height: 8px; background-color: #28C1FD; margin: 20px 0; width: 100%;">
</div>

<app-rodape></app-rodape>

<!--


<app-angolacables></app-angolacables>
<div class="uk-container uk-margin-large-top">
  <img class="border" src="img/ac-partner-banner.jpeg">
</div>

<app-categorias></app-categorias>

<app-parceiros></app-parceiros>
<app-blog></app-blog>
<div  class=" fundo-cta uk-container uk-margin-large-top uk-margin-large-bottom">
<h1 style="color: white;" class="uk-text-center uk-margin-large-top">Entre em <b>contacto</b></h1>
<h2 style="color: white;" class="uk-text-center uk-margin-large-top">Qualquer questão que tiver ou informação que precisar,
  estaremos disponíveis para responder.</h2>
  <div class="uk-text-center">
      
<a href="#"> <button class="  uk-button-large uk-button-primary uk-border-pill">ENTRAR EM CONTACTO</button></a>

</div>
</div>
<app-rodape></app-rodape>



-->