
.uk-button-primary {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Subtle shadow effect */
    background: linear-gradient(125deg, rgb(0, 44, 110), rgba(0, 97, 187, 1), rgb(0, 63, 122)) !important;
    color: #ffffff; /* Ensure text is visible on the gradient */
    border: none; /* Remove any default border */
    padding: 10px 10px; /* Add padding for better appearance */
  
    transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
}

.uk-button-primary:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4); /* Stronger shadow on hover */
    transform: translateY(-2px); /* Slight lift effect on hover */
    color: #e6f7ff; /* Slightly lighter text color on hover */
}


.uk-input{
    border-radius: 10px;
}


.autocomplete-list {
   
    max-height: 150px;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
    
    background-color:rgb(224, 224, 224);
  }
  .autocomplete-item {
    padding: 8px 12px;
    cursor: pointer;
  }
  .autocomplete-item:hover {
    background-color: #30518f;
    color: white;
  }


  label{
    font-size: 1.2em;
  }


  .no-arrows {
    -moz-appearance: textfield; /* For Firefox */
    -webkit-appearance: none; /* For Chrome, Safari, Edge */
    appearance: none; /* Modern browsers */
  }
  
  .no-arrows::-webkit-inner-spin-button,
  .no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Remove arrows in Chrome, Safari, Edge */
    margin: 0;
  }