<footer class="site-footer">
    <div class="container">
        <div class="footer-content">

            <!-- First Column: Address and Google Maps -->

            <!-- Second Column: Links and Contact Info -->
            <div class="footer-column">

                <ul class="footer-links">
                    <li> <img style="width: 200px;" src="img/logo-acsa.png"> </li>
                    <li>
                        <b>{{'siga.nos' | translate }} </b>
                        <div class="uk-child-width-expand@s uk-text-left" uk-grid>
                            <div class="uk-margin-small-top">
                                <a href="https://web.facebook.com/AngolaCables/" class="uk-margin-small-right" href="" uk-icon="facebook"></a>
                                <a href="https://www.instagram.com/angolacables/" class="uk-margin-small-right" href="" uk-icon="instagram"></a>
                                <a href="https://ao.linkedin.com/company/angola-cables" class="uk-margin-small-right" href="" uk-icon="linkedin"></a>
                                <a href="https://www.youtube.com/@AngolaCablesTV" class="uk-margin-small-right" href="" uk-icon="youtube"></a>
                                <a href="https://x.com/angola_cables" class="uk-margin-small-right" href="" uk-icon="twitter"></a>

                            </div>
                        </div>
                    </li>

                    <li class="uk-margin-medium-top"> &copy; Copyright 2025.<br> Angola Cables, SA </li>

                </ul>
            </div>


            <!-- Third Column: Social Media Links and Contact Info -->
            <div class="footer-column">

                <ul class="footer-links">

                    <li class="uk-margin-medium-top"> <b>{{'link.uteis' | translate }} </b></li>

                    <li class="uk-margin-medium-top">

                        <a href="https://clouds2africa.com/#!/"><p class="uk-margin-remove">Angonix</p></a>
                        <a href="https://www.angonix.net/"><p class="uk-margin-remove">Clouds2Africa</p> </a>
                        <a><p class="uk-margin-remove">{{'termos.condicoes' | translate }} </p></a>
                        <a><p class="uk-margin-remove">{{'politica.privacidade' | translate }} </p></a>
                    </li>


                </ul>
            </div>

            <div class="footer-column">

                <ul class="footer-links">

                    <li class="uk-margin-medium-top"> <b> {{'sobre.nos' | translate }} </b></li>

                    <li class="uk-margin-medium-top">
                     <a routerLink="/acerca">   <p class="uk-margin-remove"> {{'menu-conheca' | translate }} </p></a>
                       <a routerLink="/eventos"> <p class="uk-margin-remove"> {{'menu-eventos' | translate }}</p> </a>
                       <a routerLink="/blog"> <p class="uk-margin-remove"> {{'menu-blog' | translate }}</p> </a>
                       <a routerLink="/noticias"> <p class="uk-margin-remove"> {{'menu-noticias' | translate }}</p> </a>
                       <a routerLink="/trust-center"> <p class="uk-margin-remove"> {{'menu-trust' | translate }}</p> </a>
                       <a routerLink="/recrutamento"> <p class="uk-margin-remove"> {{'menu-recrutamento' | translate }}</p> </a>
                        


                    </li>


                </ul>
            </div>



            <div class="footer-column">

                <ul class="footer-links">

                    <li class="uk-margin-medium-top"> <b> {{'escritorios' | translate }} </b></li>

                    <li class="uk-margin-medium-top">
                        <a href="https://angolacables.co.ao/">Angola</a> <br>
                        <a href="https://telcables.co.za/">África do Sul</a> <br>
                        <a href="https://telcables.com.br/">Brasil</a> <br>
                        <a href="https://telcables.net/">EUA</a> <br>
                        <a href="https://telcables.pt/">Portugal</a>



                    </li>


                </ul>
            </div>


            <div class="footer-column">

                <img src="img/linked.png"> 

            </div>

        </div>
    </div>


</footer>
<footer>
  
</footer>