<!-- Footer Section -->
<footer class="site-footer">
    <div class="container">
        <div class="footer-content">

            <!-- Column 1: Logo and Social Media -->
            <div class="footer-column">
                <ul class="footer-links">
                    <li>
                        <img class="footer-logo" src="/img/logo-tcng.png" alt="Angola Cables Logo">
                    </li>
                    <li class="margem-superior">
                        <div class="social-icons">
                            <img style="width: 50px;" class="uk-border-rounded"
                                src="img/first-interconected-angola-cables.png" />
                            <img style="height: 50px;" class="uk-border-rounded" src="img/selocplp-pt-2024.png" />
                            <img style="width: 50px;" class="uk-border-rounded" src="img/conectada-mundo.png" />
                        </div>
                    </li>

                </ul>
            </div>

            <!-- Column 2: Useful Links -->
            <div class="footer-column">
                <ul class="footer-links">
                    <li><b>Network</b></li>
                    <li><a href="https://www.angonix.net/">> Lagos Metro</a></li>
                    <li><a href="https://clouds2africa.com/#!/">> Global map and Cloud presence</a></li>
                    <li><a href="https://www.angonix.net/"> > Remote peering locations</a></li>

                </ul>
            </div>

            <!-- Column 3: About Us -->
            <div class="footer-column">
                <ul class="footer-links">
                    <li><b>Contact Us</b></li>
                    <li><a routerLink="/sobre">> partner&#64;telcables.ng</a></li>

                    <li><a routerLink="/eventos">> sales&#64;telcables.ng</a></li>
                    <li><a routerLink="/blog">> info&#64;telcables.ng</a></li>

                </ul>
            </div>

            <!-- Column 4: Offices -->
            <div class="footer-column">
                <ul class="footer-links">
                    <li><b>{{'escritorios' | translate }}</b></li>
                    <li><a href="https://angolacables.co.ao/"><span class="uk-margin-small-right" uk-icon="location"></span> 
5, Jeremaiah Ugwu street, off babatunde anjous, Lekki,
                            Lagos</a></li>

                    <!--                     <li><a href="https://telcables.co.za/">África do Sul</a></li>
                    <li><a href="https://telcables.com.br/">Brasil</a></li>
                    <li><a href="https://telcables.net/">EUA</a></li>
                    <li><a href="https://telcables.ng/">Nigeria</a></li>
                    <li><a href="https://telcables.pt/">Portugal</a></li> -->

                </ul>
            </div>

            <!-- Column 5: Image/Linked Content 
            <div class="footer-column">
                <img src="img/linked.png" alt="Additional footer image" style="max-width: 100%; height: auto;">
            </div>-->
        </div>

            
    </div>
<p style="color: white" class="uk-text-center">

    &copy; Copyright 2025. 
                        <a routerLink="/">TelCables Nigeria</a>
</p>

</footer>