<div class="fundo-cabecalho">

    <div class=" gradiente-texto-cabecalho">

        <div class=" conteudo-cabecalho uk-margin-medium-top   ">
            <div class="uk-container uk-margin-large-bottom">
                <h1 style="color:white; font-weight: bolder;">Trânsito IP: A Chave para a Eficiência e Fiabilidade na
                    Transferência de Dados Globais
                </h1>
            </div>

        </div>

    </div>

</div>
<div class="fundo-artigo">
    <div class="uk-container">
        <div class="uk-grid-large" uk-grid>
            
            <!-- Main Article Section -->
            <div class="uk-width-expand">
                <article style="color:white" class="uk-article uk-margin-large-top">
                    <div class="">
                        <table class="uk-table">
                            <tbody>
                                <tr>
                                    <td style="color: rgba(255, 255, 255, 0.495);">Escrito por:</td>
                                    <td>Samuel Carvalho</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td style="color: rgba(255, 255, 255, 0.495);">Publicado em:</td>
                                    <td>13 Março 2024</td>
                                </tr>
                            </tbody>
                            
                        </table>
                    </div>

                    <h1 style="color:white" class="uk-article-title"><a class="uk-link-reset" href="">Heading</a></h1>
                    <p style="color:white" class="uk-text-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                    <p style="color:white">Aute minim consectetur consequat sit. Nostrud laboris deserunt excepteur veniam dolore sunt sit in sit ea occaecat dolor pariatur pariatur. Ex dolore eu laborum veniam pariatur occaecat excepteur laboris exercitation ut nulla consectetur aliqua. Laborum consequat occaecat amet amet fugiat consequat occaecat duis fugiat veniam. Deserunt nulla aute nisi laborum minim laborum deserunt laborum exercitation. Laboris cillum nostrud occaecat eu aliquip incididunt anim culpa deserunt. Voluptate sint ex esse cillum sit consequat cillum laborum cillum sunt non.<br>

<p>Mollit duis do veniam laborum. Lorem mollit laborum cillum ut tempor. Ea duis Lorem labore Lorem est mollit. Deserunt consectetur incididunt proident sunt ipsum aute voluptate est sunt sit et aliqua. Cillum proident cillum do laboris occaecat commodo duis qui pariatur enim ut.</p><br> 
<img class="uk-border-rounded" src="img/angonap.png" >
<p>Qui mollit in cillum ipsum in. Culpa occaecat eiusmod sit anim sit esse excepteur reprehenderit do nisi voluptate mollit culpa. Anim eu pariatur excepteur eu laborum ipsum tempor irure aute velit officia eiusmod.Nulla duis consectetur et est id laboris in aliquip. Anim ut consectetur aliqua est ad tempor duis ea consequat labore. Velit irure incididunt sunt et culpa sunt officia elit quis sit officia. Velit cupidatat ad minim nisi laboris labore amet mollit reprehenderit labore. Eiusmod ullamco eu duis dolore ex ut occaecat amet ea laboris. Anim dolore ullamco tempor ea aliqua enim consequat ipsum incididunt sit.</p>

<br>Mollit eiusmod non sint labore fugiat. Velit mollit ut aliquip Lorem culpa voluptate sint adipisicing labore ex excepteur ea. Labore sit ea ea amet nostrud nisi reprehenderit nisi nulla consequat non excepteur exercitation. Sit duis velit dolore dolor eiusmod culpa occaecat eiusmod irure dolor sunt officia exercitation ex. Laboris minim proident esse consectetur incididunt culpa minim do veniam officia velit.
                  
                </article>
            </div>
            
             <!-- Sidebar Section for More Articles -->
           
            
             <aside style="color:white;padding: 30px; border-radius: 8px; " class="fundo-mais-artigos uk-width-1-3@m uk-margin-large-top uk-margin-left">
             
                <h3 style="color:white" class=""><span>Mais Artigos</span></h3>
                <ul class="uk-list uk-list-divider">
                    <li>
                        <div class="">
                            <div class="uk-grid-small" uk-grid>
                                <div>
                                    <img  class="foto-mais-artigos uk-border-rounded" src="img/acsa-partner.jpg" alt="Avatar">
                                </div>
                                <div class="uk-width-expand">
                                    <p style="color: rgba(40, 193, 253, 1)" class=" uk-margin-remove-bottom">Artigo 1</p>
                                    <p  class="uk-text-meta uk-margin-remove-top">Mollit proident consectetur elit adipisicing sunt Lorem nostrud...</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="">
                            <div class="uk-grid-small" uk-grid>
                                <div>
                                    <img  class="foto-mais-artigos uk-border-rounded" src="img/acsa-partner.jpg" alt="Avatar">
                                </div>
                                <div class="uk-width-expand">
                                    <p style="color:rgba(40, 193, 253, 1);" class=" uk-margin-remove-bottom">Artigo 2</p>
                                    <p  class="uk-text-meta uk-margin-remove-top">Mollit proident consectetur elit adipisicing sunt Lorem nostrud...</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="">
                            <div class="uk-grid-small" uk-grid>
                                <div>
                                    <img  class="foto-mais-artigos uk-border-rounded" src="img/acsa-partner.jpg" alt="Avatar">
                                </div>
                                <div class="uk-width-expand">
                                    <p style="color: rgba(40, 193, 253, 1);" class=" uk-margin-remove-bottom">Artigo 2</p>
                                    <p  class="uk-text-meta uk-margin-remove-top">Mollit proident consectetur elit adipisicing sunt Lorem nostrud...</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="">
                            <div class="uk-grid-small" uk-grid>
                                <div>
                                    <img  class="foto-mais-artigos uk-border-rounded" src="img/acsa-partner.jpg" alt="Avatar">
                                </div>
                                <div class="uk-width-expand">
                                    <p style="color: rgba(40, 193, 253, 1);" class=" uk-margin-remove-bottom">Artigo 3</p>
                                    <p  class="uk-text-meta uk-margin-remove-top">Mollit proident consectetur elit adipisicing sunt Lorem nostrud...</p>
                                </div>
                            </div>
                        </div>
            
                    </li>
                    <div class="uk-margin uk-text-center">
                        <a class="uk-margin-large-top" style="color: rgba(40, 193, 253, 1);" href="#">Ver todos</a>

                    </div>
                </ul>
            </aside>
       
        </div>
    </div>
</div>
