<app-menu></app-menu>
<div class="fundo-cabecalho">

    <div class=" gradiente-texto-cabecalho">

        <div class=" conteudo-cabecalho uk-margin-medium-top   ">
            <div class="uk-container uk-margin-large-bottom">

                <h4 class="" style="color:white">Notícias</h4>
                <h1 style="color:rgba(39, 200, 227, 1); font-weight: bolder;"> Nossas informações relacionada a
                    imprensa. </h1>
            </div>

        </div>

    </div>

</div>


<div class="fundo-noticias"></div>

<div class="uk-container uk-margin-large-top uk-margin-large-bottom">

    <div class="uk-grid-small uk-child-width-expand@s uk-text-left" uk-grid>

        <div style="border-radius: 30px;" class="uk-card  uk-border-rounded">

            <img style="border-top-left-radius: 20px; border-top-right-radius: 20px; height: 150px; width: auto:"                class="" src="img/data-traffic.png" alt="">
            <div class="uk-padding "
                style="background-color: rgba(0, 0, 78, 0.918); border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>

                <p class="uk-light">Trânsito IP: A Chave para a Eficiência e Fiabilidade na Transferência de Dados
                    Globais</p>

                    <div class="uk-child-width-expand@s" uk-grid>
                        <div >
                            <div class=" ">
                            <p class="uk-text-left">Economia & Mercado</p>
                            </div>
                        </div>
                        <div>
                            <div class="">
                                <p class="uk-text-right">Ler Mais</p>

                            </div>
                        </div>
                   
                    </div>

            </div>

        </div>


        <div style="border-radius: 30px;" class="uk-card  uk-border-rounded">

            <img style="border-top-left-radius: 20px; border-top-right-radius: 20px; height: 150px; width: auto%;"
                class="" src="img/data-traffic.png" alt="">
            <div class="uk-padding "
                style="background-color: rgba(0, 0, 78, 0.918); border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>

                <p class="uk-light">Trânsito IP: A Chave para a Eficiência e Fiabilidade na Transferência de Dados
                    Globais</p>

                    <div class="uk-child-width-expand@s" uk-grid>
                        <div >
                            <div class=" ">
                            <p class="uk-text-left">Economia & Mercado</p>
                            </div>
                        </div>
                        <div>
                            <div class="">
                                <p class="uk-text-right">Ler Mais</p>

                            </div>
                        </div>
                   
                    </div>

            </div>

        </div>
        <div style="border-radius: 30px;" class="uk-card  uk-border-rounded">

            <img style="border-top-left-radius: 20px; border-top-right-radius: 20px; height: 150px; width: auto%;"
                class="" src="img/data-traffic.png" alt="">
            <div class="uk-padding "
                style="background-color: rgba(0, 0, 78, 0.918); border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>

                <p class="uk-light">Trânsito IP: A Chave para a Eficiência e Fiabilidade na Transferência de Dados
                    Globais</p>

                    <div class="uk-child-width-expand@s" uk-grid>
                        <div >
                            <div class=" ">
                            <p class="uk-text-left">Economia & Mercado</p>
                            </div>
                        </div>
                        <div>
                            <div class="">
                                <p class="uk-text-right">Ler Mais</p>

                            </div>
                        </div>
                   
                    </div>

            </div>

        </div>


       
    
    </div>



    
    <div class="uk-grid-small uk-child-width-expand@s uk-text-left" uk-grid>

        <div style="border-radius: 30px;" class="uk-card  uk-border-rounded">

            <img style="border-top-left-radius: 20px; border-top-right-radius: 20px; height: 150px; width: auto%;"
                class="" src="img/data-traffic.png" alt="">
            <div class="uk-padding "
                style="background-color: rgba(0, 0, 78, 0.918); border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>

                <p class="uk-light">Trânsito IP: A Chave para a Eficiência e Fiabilidade na Transferência de Dados
                    Globais</p>

                    <div class="uk-child-width-expand@s" uk-grid>
                        <div >
                            <div class=" ">
                            <p class="uk-text-left">Economia & Mercado</p>
                            </div>
                        </div>
                        <div>
                            <div class="">
                                <p class="uk-text-right">Ler Mais</p>

                            </div>
                        </div>
                   
                    </div>

            </div>

        </div>


        <div style="border-radius: 30px;" class="uk-card  uk-border-rounded">

            <img style="border-top-left-radius: 20px; border-top-right-radius: 20px; height: 150px; width: auto%;"
                class="" src="img/data-traffic.png" alt="">
            <div class="uk-padding "
                style="background-color: rgba(0, 0, 78, 0.918); border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>

                <p class="uk-light">Trânsito IP: A Chave para a Eficiência e Fiabilidade na Transferência de Dados
                    Globais</p>

                    <div class="uk-child-width-expand@s" uk-grid>
                        <div >
                            <div class=" ">
                            <p class="uk-text-left">Economia & Mercado</p>
                            </div>
                        </div>
                        <div>
                            <div class="">
                                <p class="uk-text-right">Ler Mais</p>

                            </div>
                        </div>
                   
                    </div>

            </div>

        </div>
        <div style="border-radius: 30px;" class="uk-card  uk-border-rounded">

            <img style="border-top-left-radius: 20px; border-top-right-radius: 20px; height: 150px; width: auto%;"
                class="" src="img/data-traffic.png" alt="">
            <div class="uk-padding "
                style="background-color: rgba(0, 0, 78, 0.918); border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>

                <p class="uk-light">Trânsito IP: A Chave para a Eficiência e Fiabilidade na Transferência de Dados
                    Globais</p>

                    <div class="uk-child-width-expand@s" uk-grid>
                        <div >
                            <div class=" ">
                            <p class="uk-text-left">Economia & Mercado</p>
                            </div>
                        </div>
                        <div>
                            <div class="">
                                <p class="uk-text-right">Ler Mais</p>

                            </div>
                        </div>
                   
                    </div>

            </div>

        </div>


       
    
    </div>


    
    <div class="uk-grid-small uk-child-width-expand@s uk-text-left" uk-grid>

        <div style="border-radius: 30px;" class="uk-card  uk-border-rounded">

            <img style="border-top-left-radius: 20px; border-top-right-radius: 20px; height: 150px; width: auto%;"
                class="" src="img/data-traffic.png" alt="">
            <div class="uk-padding "
                style="background-color: rgba(0, 0, 78, 0.918); border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>

                <p class="uk-light">Trânsito IP: A Chave para a Eficiência e Fiabilidade na Transferência de Dados
                    Globais</p>

                    <div class="uk-child-width-expand@s" uk-grid>
                        <div >
                            <div class=" ">
                            <p class="uk-text-left">Economia & Mercado</p>
                            </div>
                        </div>
                        <div>
                            <div class="">
                                <p class="uk-text-right">Ler Mais</p>

                            </div>
                        </div>
                   
                    </div>

            </div>

        </div>


        <div style="border-radius: 30px;" class="uk-card  uk-border-rounded">

            <img style="border-top-left-radius: 20px; border-top-right-radius: 20px; height: 150px; width: auto%;"
                class="" src="img/data-traffic.png" alt="">
            <div class="uk-padding "
                style="background-color: rgba(0, 0, 78, 0.918); border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>

                <p class="uk-light">Trânsito IP: A Chave para a Eficiência e Fiabilidade na Transferência de Dados
                    Globais</p>

                    <div class="uk-child-width-expand@s" uk-grid>
                        <div >
                            <div class=" ">
                            <p class="uk-text-left">Economia & Mercado</p>
                            </div>
                        </div>
                        <div>
                            <div class="">
                                <p class="uk-text-right">Ler Mais</p>

                            </div>
                        </div>
                   
                    </div>

            </div>

        </div>
        <div style="border-radius: 30px;" class="uk-card  uk-border-rounded">

            <img style="border-top-left-radius: 20px; border-top-right-radius: 20px; height: 150px; width: auto%;"
                class="" src="img/data-traffic.png" alt="">
            <div class="uk-padding "
                style="background-color: rgba(0, 0, 78, 0.918); border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>

                <p class="uk-light">Trânsito IP: A Chave para a Eficiência e Fiabilidade na Transferência de Dados
                    Globais</p>

                    <div class="uk-child-width-expand@s" uk-grid>
                        <div >
                            <div class=" ">
                            <p class="uk-text-left">Economia & Mercado</p>
                            </div>
                        </div>
                        <div>
                            <div class="">
                                <p class="uk-text-right">Ler Mais</p>

                            </div>
                        </div>
                   
                    </div>

            </div>

        </div>


       
    
    </div>

</div>

<app-rodape></app-rodape>