<app-menu></app-menu>
<div class="fundo-cabecalho">

    <div class=" gradiente-texto-cabecalho">

        <div class=" conteudo-cabecalho uk-margin-medium-top   ">
            <div class="uk-container uk-margin-large-bottom">

                <h4 class="" style="color:white; font-size: 1.1rem;">Notícias</h4>
                <h1 style="color:rgba(39, 200, 227, 1); margin-top: 20px; font-size: 2.43rem; font-weight: 800;"> Nossas
                    informações relacionadas a
                    imprensa. </h1>
            </div>

        </div>

    </div>

</div>


<div class="uk-container uk-margin-large-top uk-margin-large-bottom">

    <app-noticias-listar></app-noticias-listar>

</div>


<app-rodape></app-rodape>