<app-menu></app-menu>
<div class="fundo-cabecalho">

    <div class=" gradiente-texto-cabecalho">

        <div class=" conteudo-cabecalho uk-margin-medium-top   ">
            <div class="uk-container uk-margin-large-bottom">

                <h4 class="" style="color:white; font-size: 1.1rem;">Notícias</h4>
                <h1 style="color:rgba(39, 200, 227, 1); margin-top: 20px; font-size: 2.43rem; font-weight: 800;"> Nossas
                    informações relacionadas a
                    imprensa. </h1>
            </div>

        </div>

    </div>

</div>


<div class="fundo-noticias"></div>

<div class="uk-container uk-margin-large-top uk-margin-large-bottom">

    <div class="uk-grid-small uk-child-width-expand@s uk-grid-match uk-text-left" uk-grid>

        <div style="border-radius: 30px;" class="uk-card  uk-border-rounded">

            <img style="border-top-left-radius: 20px; border-top-right-radius: 20px; height: 150px; width: auto; object-fit: cover;"
                class="" src="img/noticias/ac-megaport-r.png" alt="">
            <div class=" "
                style="background-color: #1C1C45; padding: 25px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2024-10-18T19:00">Março 18, 2025</time></p>

                <a href="http://angolacables.rds.land/megaport-e-angolacables">
                    <p style="color: white !important;" class="uk-light">Megaport escolhe a Angola Cables como parceiro
                        estratégico, melhorando o acesso imediato a soluções de conetividade para empresas no Brasil,
                        EUA, Europa e África</p>
                </a>

                <div class="uk-child-width-expand@s" uk-grid>
                    <div>
                        <div class=" ">
                            <p style="font-size: .8rem; color: #C2C4D1;" class="uk-text-left">Megaport</p>
                        </div>
                    </div>
                    <div>
                        <div class="">
                            <a style="color:  #28C1FD; font-size: 0.95rem;"
                                href="https://www.capacitymedia.com/article/2dwj7md0fzdmgj64dfn5s/news/article-angola-cables-launches-european-subsidiary">
                                <p class="uk-text-right">Ler Mais</p>
                            </a>

                        </div>
                    </div>

                </div>

            </div>

        </div>


        <div style="border-radius: 30px;" class="uk-card  uk-border-rounded">

            <img style="border-top-left-radius: 20px; border-top-right-radius: 20px; height: 150px; width: 100%; object-fit: cover ;"
                class="" src="img/noticias/ac-start-campus.png" alt="">
            <div class=" "
                style="background-color: #1C1C45; padding: 25px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2024-04-01T19:00">Outubro 18, 2024</time>
                </p>

                <a
                    href="https://www.capacitymedia.com/article/2dwj7md0fzdmgj64dfn5s/news/article-angola-cables-launches-european-subsidiary">
                    <p style="color: white !important;" class="uk-light">Angola Cables lança subsidiária europeia,
                        estabelece novo PoP com a Start Campus <br><br><br></p>
                </a>

                <div class="uk-child-width-expand@s" uk-grid>
                    <div>
                        <div class=" ">
                            <p style="font-size: .8rem; color: #C2C4D1;" class="uk-text-left">Capacity Media</p>
                        </div>
                    </div>
                    <div>
                        <div class="">
                            <a style="color:  #28C1FD; font-size: 0.95rem;"
                                href="https://www.capacitymedia.com/article/2dwj7md0fzdmgj64dfn5s/news/article-angola-cables-launches-european-subsidiary">
                                <p class="uk-text-right">Ler Mais</p>
                            </a>

                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div>

        </div>




    </div>





</div>

<app-rodape></app-rodape>