<div class="uk-container uk-margin-medium-top">
         
    <p class="uk-text-center" style="color: rgb(18, 72, 130);">Descarregar Ficha: 
       
        <span class="icone uk-margin-small-right" uk-icon="file-pdf"  style="color: white !important; "></span> PT | EN | FR</p>
          
</div>
<div class="uk-text-center uk-margin-small-top">
    <a href="#">
      <button class="uk-button-primary uk-border-pill uk-button uk-button-medium">TORNAR-SE PARCEIRO</button>
    </a>
  </div>
<div class="uk-container uk-text-center uk-margin-medium-top">
  <hr class="uk-divider-small" />
  <h3 class="uk-text-center">
    Ao ingressar no Programa de Parceiros da Angola Cables, sua empresa acessa
    soluções avançadas de conectividade, infraestrutura moderna e suporte
    especializado para fortalecer serviços, otimizar operações e impulsionar
    receitas.
  </h3>
</div>

<div class="uk-container uk-margin-large-bottom uk-margin-large-top">
  <ul
    class="uk-text-center uk-border-rounded uk-subnav uk-subnav-pill uk-flex-center"
    uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium"
  >
    <li>
      <a class="texto-2" href="#">Conectividade</a>
    </li>
    <li><a class="texto-2" href="#">ACESSO À INTERNET</a></li>
    <li><a class="texto-2" href="#">Data Center</a></li>
    <li><a class="texto-2" href="#">CLOUD</a></li>
    <li><a class="texto-2" href="#">SEGURANÇA</a></li>
    <li><a class="texto-2" href="#">VIRTUALIZAÇÃO</a></li>


  </ul>

  <div class="uk-switcher uk-margin">
    <div>
      <div
        class="uk-child-width-1-3@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center"
        uk-grid
      >
        <div class="ov-div" >
          <div class="uk-card uk-card-default uk-border-rounded fundo-circuito">
            <div class="uk-card-media-top"></div>
            <div class="uk-card-body">
              <h3 style="font-weight: bold" class="texto uk-card-title">CIRCUITO</h3>
              <p class="texto">
                Soluções de conectividade (EPLC e IPLC) resilientes e de baixa latência, conectando África, Europa, Brasil, EUA, Data Centers e Pontos de Troca de Tráfego.
              </p>
              <a class="texto" href="#"
                ><button
                  class="texto uk-button-default uk-button uk-border-rounded"
                >
                  Detalhes
                </button></a
              >
            </div>
          </div>
        </div>

        <div>
          <div class="uk-card uk-card-default uk-border-rounded fundo-remote">
            <div class="uk-card-media-top"></div>
            <div class="uk-card-body">
              <h3  style="font-weight: bold" class="uk-card-title texto">REMOTE PEERING</h3>
              <p class="texto">
                Permite estabelecer peering sem presença física, utilizando a Angola Cables como provedor remoto para se conectar a <b>6.000</b> acordos de peering em mais de <b>27</b> Pontos de Troca de Tráfego mundiais.
              </p>
              <a
                href="https://obj-lad01.clouds2africa.com/v1/AUTH_59c5acbe70034b7ea3a68fbc7ddc96b5/marketing/salespartner_web/Conectividade/Peering Remoto.pdf"
                ><button
                  class="texto uk-button-default uk-button uk-border-rounded"
                >
                  Detalhes
                </button></a
              >
            </div>
          </div>
        </div>

        

        

      

          <div>
            <div class="uk-card uk-card-default uk-border-rounded fundo-gdi">
              <div class="uk-card-media-top"></div>
              <div class="uk-card-body">
                <h3  style="font-weight: bold"class="texto uk-card-title">GDI</h3>
                <p class="texto">
                  Ligação directa aos principais Data Centers internacionais, proporcionando acesso fácil a todas as empresas presentes nesses data centers através do cross connect.
                </p>
                <a
                  class="texto"
                  href="https://obj-lad01.clouds2africa.com/v1/AUTH_59c5acbe70034b7ea3a68fbc7ddc96b5/marketing/salespartner_web/Conectividade/GDI.pdf"
                  ><button
                    class="texto uk-button-default uk-button uk-border-rounded"
                  >
                    Detalhes
                  </button></a
                >
              </div>
            </div>
          </div>
      </div>
    </div>
    <div>
      <div
        class="uk-child-width-1-3@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center"
        uk-grid
      >

      <div>
        <div class="uk-card uk-card-default uk-border-rounded fundo-dia">
          <div class="uk-card-media-top"></div>
          <div class="uk-card-body">
            <h3 style="font-weight: bold" class="texto uk-card-title">DIA</h3>
            <p class="texto">
              A solução oferece acesso seguro a CDNs e Tier 1 globais sem ASN, conectando 27 IXPs estrategicamente.
            </p>
            <a
              class="texto"
              href="https://obj-lad01.clouds2africa.com/v1/AUTH_59c5acbe70034b7ea3a68fbc7ddc96b5/marketing/salespartner_web/Serviços de IP/Transito_IP.pdf"
              ><button
                class="texto uk-button-default uk-button uk-border-rounded"
              >
                Detalhes
              </button></a
            >
          </div>
        </div>
      </div>
        <div>
          <div
            class="uk-card uk-card-default uk-border-rounded fundo-iptransit"
          >
            <div class="uk-card-media-top"></div>
            <div class="uk-card-body">
              <h3 style="font-weight: bold;" class="texto uk-card-title">IP TRÂNSITO</h3>
              <p class="texto">
                Beneficie de opções de roteamento locais e internacionais para redes Tier 1, CDNs e principais pontos de troca de tráfego (IXPs).
              </p>
              <a
                class="texto"
                href="https://obj-lad01.clouds2africa.com/v1/AUTH_59c5acbe70034b7ea3a68fbc7ddc96b5/marketing/salespartner_web/Serviços de IP/Transito_IP.pdf"
                ><button
                  class="texto uk-button-default uk-button uk-border-rounded"
                >
                  Detalhes
                </button></a
              >
            </div>
          </div>
        </div>
        <!--
        <div>
          <div class="uk-card uk-card-default uk-border-rounded fundo-cards">
            
            <div class="uk-card-body">
              <h3 class="texto uk-card-title">DIA</h3>
              <p class="texto">
                A solução oferece acesso seguro a CDNs e Tier 1 globais sem ASN, conectando 27 IXPs estrategicamente.
              </p>
              <a
                class="texto"
                href="https://obj-lad01.clouds2africa.com/v1/AUTH_59c5acbe70034b7ea3a68fbc7ddc96b5/marketing/salespartner_web/Serviços de IP/Transito_IP.pdf"
                ><button
                  class="texto uk-button-default uk-button uk-border-rounded"
                >
                  Detalhes
                </button></a
              >
            </div>
          </div>
        </div>
        -->

        <div>
          <div class="uk-card uk-card-default fundo-ipgamer uk-border-rounded">
            <div class="uk-card-media-top"></div>
            <div class="uk-card-body">
              <h3 style="font-weight: bold;" class="uk-card-title texto">IP GAMER</h3>
              <p class="texto">
                Conectividade local e internacional com CDNs, ISPs Tier 1 e IXPs, garantindo alto desempenho e acesso robusto.
              </p>
              <a href="#"
                ><button
                  class="texto uk-button-default uk-button uk-border-rounded"
                >
                  Detalhes
                </button></a
              >
            </div>
          </div>
        </div>

        <div>
          <div class="uk-card uk-card-default uk-border-rounded fundo-ipx">
            <div class="uk-card-media-top"></div>
            <div class="uk-card-body">
              <h3 style="font-weight: bold;" class="uk-card-title texto">IP EXCHANGE</h3>
              <p class="texto">
                Troca de tráfego com mais de 27 IXPs em África, Europa, Brasil e EUA através de uma única ligação.
              </p>
              <a href="#"
                ><button
                  class="texto uk-button-default uk-button uk-border-rounded"
                >
                  Detalhes
                </button></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>


    <div>
      <div
        class="uk-child-width-1-3@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center"
        uk-grid
      >
        <div>
          <div class="uk-card uk-card-default uk-border-rounded fundo-angonap">
            <div class="uk-card-media-top"></div>
            <div class="uk-card-body">
              <h3 style="font-weight: bold;" class="texto uk-card-title">ANGONAP</h3>
              <p class="texto">
                Disponibilizamos infraestrutura de alto nível nos datacenters de Angola e Brasil, com segurança, capacidade de expansão e redundância energética, garantindo serviços de alojamento e conectividade contínuos.

              </p>
              <a class="texto" href="#"
                ><button
                  class="texto uk-button-default uk-button uk-border-rounded"
                >
                  Detalhes
                </button></a
              >
            </div>
          </div>
        </div>

        <div>
          <div class="uk-card uk-card-default fundo-managed uk-border-rounded">
            <div class="uk-card-media-top"></div>
            <div class="uk-card-body">
              <h3 style="font-weight: bold;" class="uk-card-title texto">MANAGED SERVICES</h3>
              <p class="texto">
                Suporte especializado em roteamento, switching, segurança, VoIP e infraestrutura, com equipa da Angola Cables a gerir a rede, reduzindo erros e custos de mão-de-obra.
              </p>
              <a href="#"
                ><button
                  class="texto uk-button-default uk-button uk-border-rounded"
                >
                  Detalhes
                </button></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>



    <div>
      <div
        class="uk-child-width-1-3@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center"
        uk-grid
      >
        <div>
          <div class="uk-card uk-card-default uk-border-rounded fundo-clouds2br">
            <div class="uk-card-media-top"></div>
            <div class="uk-card-body">
              <h3 style="font-weight: bold;"class="texto uk-card-title">CLOUDS2AFRICA</h3>
              <p class="texto">
                Serviços avançados de armazenamento, processamento e gestão de bases de dados, garantindo segurança, agilidade, optimização de custos e maximização da performance.
              </p>
              <a
                class="texto"
                href="https://obj-lad01.clouds2africa.com/v1/AUTH_59c5acbe70034b7ea3a68fbc7ddc96b5/marketing/salespartner_web/ICT/Clouds2Africa.pdf"
                ><button
                  class="texto uk-button-default uk-button uk-border-rounded"
                >
                  Detalhes
                </button></a
              >
            </div>
          </div>
        </div>

        <div>
          <div class="uk-card uk-card-default fundo-clouds2br uk-border-rounded">
            <div class="uk-card-media-top"></div>
            <div class="uk-card-body">
              <h3 style="font-weight: bold;" class="uk-card-title texto">CLOUDS2BRASIL</h3>
              <p class="texto">
                Serviços avançados de armazenamento, processamento e gestão de bases de dados, garantindo segurança, agilidade, otimização de custos e maximização da performance.              </p>
              <a
                href="https://obj-lad01.clouds2africa.com/v1/AUTH_59c5acbe70034b7ea3a68fbc7ddc96b5/marketing/salespartner_web/ICT/Clouds2Brasil.pdf"
                ><button
                  class="texto uk-button-default uk-button uk-border-rounded"
                >
                  Detalhes
                </button></a
              >
            </div>
          </div>
        </div>

        <div>
          <div class="uk-card uk-card-default uk-border-rounded fundo-backups2">
            <div class="uk-card-media-top"></div>
            <div class="uk-card-body">
              <h3 style="font-weight: bold;" class="uk-card-title texto">BACKUP2AFRICA</h3>
              <p class="texto">
                Armazenamento seguro na nuvem com recuperação rápida, minimizando riscos e garantindo a continuidade do negócio.              </p>
              <a
                href="https://obj-lad01.clouds2africa.com/v1/AUTH_59c5acbe70034b7ea3a68fbc7ddc96b5/marketing/salespartner_web/ICT/Backup2Africa.pdf"
                ><button
                  class="texto uk-button-default uk-button uk-border-rounded"
                >
                  Detalhes
                </button></a
              >
            </div>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-border-rounded fundo-backups2">
            <div class="uk-card-media-top"></div>
            <div class="uk-card-body">
              <h3 style="font-weight: bold;" class="uk-card-title texto">BACKUP2BRASIL</h3>
              <p class="texto">
                Armazenamento seguro na nuvem com recuperação rápida, minimizando riscos e garantindo a continuidade do negócio.              </p>
              <a
                href="https://obj-lad01.clouds2africa.com/v1/AUTH_59c5acbe70034b7ea3a68fbc7ddc96b5/marketing/salespartner_web/ICT/Backup2Brasil.pdf"
                ><button
                  class="texto uk-button-default uk-button uk-border-rounded"
                >
                  Detalhes
                </button></a
              >
            </div>
          </div>
        </div>


        <div>
            <div
              class="uk-card uk-card-default fundo-cards uk-border-rounded fundo-acloud"
            >
              <div class="uk-card-media-top"></div>
              <div class="uk-card-body">
                <h3 style="font-weight: bold" class="uk-card-title texto">ACLOUD CONNECT</h3>
                <p class="texto">
                  Solução em nuvem que melhora performance, produtividade e reduz custos, acessível de qualquer dispositivo com Internet.
                </p>
                <a href="#"
                  ><button
                    class="texto uk-button-default uk-button uk-border-rounded"
                  >
                    Detalhes
                  </button></a
                >
              </div>
            </div>
          </div>

        <div>
          <div class="uk-card uk-card-default uk-border-rounded fundo-sdwan">
            <div class="uk-card-media-top"></div>
            <div class="uk-card-body">
              <h3 style="font-weight: bold;" class="texto uk-card-title">SDWAN</h3>
              <p class="texto">
                Optimiza a rede com várias conexões (MPLS, LTE, Internet), segurança com inspeção SSL e gestão centralizada, reduzindo custos e aumentando segurança e eficiência.
              </p>
              <a class="texto" href="#"
                ><button
                  class="texto uk-button-default uk-button uk-border-rounded"
                >
                  Detalhes
                </button></a
              >
            </div>
          </div>
        </div>

  


      </div>
    </div>


<!--Segurança -->
   <div>
        <div
          class="uk-child-width-1-3@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center"
          uk-grid
        >
          <div>
            <div class="uk-card uk-card-default uk-border-rounded fundo-angonap">
              <div class="uk-card-media-top"></div>
              <div class="uk-card-body">
                <h3 style="font-weight: bold;" class="texto uk-card-title">SHIELDS2AFRICA</h3>
                <p class="texto">
                    O Shields2Africa é uma solução robusta e personalizada da Angola Cables, projectada para proteger de forma eficaz qualquer conteúdo ou empresa contra ataques cibernéticos. 
  
                </p>
                <a class="texto" href="#"
                  ><button
                    class="texto uk-button-default uk-button uk-border-rounded"
                  >
                    Detalhes
                  </button></a
                >
              </div>
            </div>
          </div>
  
          <div>
            <div class="uk-card uk-card-default fundo-managed uk-border-rounded">
              <div class="uk-card-media-top"></div>
              <div class="uk-card-body">
                <h3 style="font-weight: bold;" class="uk-card-title texto">SHIELDS2BRASIL</h3>
                <p class="texto">
                  Suporte especializado em roteamento, switching, segurança, VoIP e infraestrutura, com equipa da Angola Cables a gerir a rede, reduzindo erros e custos de mão-de-obra.
                </p>
                <a href="#"
                  ><button
                    class="texto uk-button-default uk-button uk-border-rounded"
                  >
                    Detalhes
                  </button></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
      <div>
        <div
          class="uk-child-width-1-3@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center"
          uk-grid
        >
        <div>
            <div class="uk-card uk-card-default uk-border-rounded fundo-sdwan">
              <div class="uk-card-media-top"></div>
              <div class="uk-card-body">
                <h3 style="font-weight: bold;" class="texto uk-card-title">SDWAN</h3>
                <p class="texto">
                  Optimiza a rede com várias conexões (MPLS, LTE, Internet), segurança com inspeção SSL e gestão centralizada, reduzindo custos e aumentando segurança e eficiência.
                </p>
                <a class="texto" href="#"
                  ><button
                    class="texto uk-button-default uk-button uk-border-rounded"
                  >
                    Detalhes
                  </button></a
                >
              </div>
            </div>
          </div>
  
        </div>
      </div>
  
 

  </div>
</div>
