<div class="uk-container uk-text-center uk-margin-medium-top  ">
    <hr class="uk-divider-small">
    <h3 class="uk-text-center">
        Ao ingressar no Programa de Parceiros da Angola Cables, sua empresa acessa soluções avançadas de conectividade, infraestrutura moderna e suporte especializado para fortalecer serviços, otimizar operações e impulsionar receitas.    </h3>
</div>

<div class="uk-container uk-margin-large-bottom">






    <ul class="uk-text-center uk-border-rounded uk-subnav uk-subnav-pill uk-flex-center" uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium" >
        <li>
        <a class="texto-2" href="#">Conectividade</a></li>
        <li> <a class="texto-2" href="#">Serviços de IP</a></li>
        <li><a class="texto-2" href="#">Data Center</a></li>
        <li><a class="texto-2" href="#">ICT</a></li>

    </ul>
    
    <div class="uk-switcher uk-margin">
        <div>
            <div class="uk-child-width-1-4@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-border-rounded  fundo-cards">
                        <div class="uk-card-media-top">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="texto uk-card-title">CIRCUITO</h3>
                            <p class="texto">O Produto de conectividade (EPLC e IPLC) Angola Cables, permite diversidade de conexões ponto-a-ponto ou multi-ponto, com alta resiliência e baixa latência para os principais destinos de sourcing de conteúdos digitais (Data Centers e Pontos de Troca de Tráfego) em África, Europa, Brasil e USA.</p>
                            <a class="texto" href="#"><button class="texto uk-button-default uk-button uk-border-rounded">Detalhes</button></a>
                        </div>
                    </div>
                </div>
                
             

                <div>
                    <div class="uk-card uk-card-default uk-border-rounded fundo-cards">
                        <div class="uk-card-media-top">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title texto">REMOTE PEERING</h3>
                            <p class="texto">O serviço de peering remoto permite ao cliente beneficiar de uma ligação (peering) sem o requisito de ter uma presença física, usando, ao invés, um provedor remoto para suportar essa ligação (neste caso a Angola Cables) para se conectar aos diversos Pontos de Trocas de Tráfego, as chamadas IXP's.</p>
                            <a href="https://obj-lad01.clouds2africa.com/v1/AUTH_59c5acbe70034b7ea3a68fbc7ddc96b5/marketing/salespartner_web/Conectividade/Peering Remoto.pdf"><button class="texto uk-button-default uk-button uk-border-rounded">Detalhes</button></a>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default fundo-cards uk-border-rounded">
                        <div class="uk-card-media-top">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title texto">ACLOUD CONNECT</h3>
                            <p class="texto">O AC Cloud é uma solução flexível e escalonável de entrega de serviços de computação em nuvem que proporciona ganhos de performance, produtividade e redução de custos ao seu negócio. Disponibilizamos recursos como processamento, memória e armazenamento alocados em nuvem, permitindo o acesso via qualquer dispositivo conectado à Internet.</p>
                            <a  href="#"><button class=" texto uk-button-default uk-button uk-border-rounded">Detalhes</button></a>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default uk-border-rounded fundo-cards">
                        <div class="uk-card-media-top">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="texto uk-card-title">GDI</h3>
                            <p class="texto">Ligação direta para os principais Data Centers Internacionais
                                Esteja à distância de um cross connect para todas as empresas presentes nos principais datacenters internacionais</p>
                            <a class="texto" href="https://obj-lad01.clouds2africa.com/v1/AUTH_59c5acbe70034b7ea3a68fbc7ddc96b5/marketing/salespartner_web/Conectividade/GDI.pdf"><button class="texto uk-button-default uk-button uk-border-rounded">Detalhes</button></a>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
        <div>
            <div class="uk-child-width-1-3@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-border-rounded  fundo-cards">
                        <div class="uk-card-media-top">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="texto uk-card-title">IP TRÂNSITO</h3>
                            <p class="texto">Cresça com a Angola Cables, beneficie de múltiplas opções de roteamento locais e internacionais para redes Tier 1, rede de distribuição de conteúdos (CDNs) e principais pontos de atratividade IP (IXP ́s).</p>
                            <a class="texto" href="https://obj-lad01.clouds2africa.com/v1/AUTH_59c5acbe70034b7ea3a68fbc7ddc96b5/marketing/salespartner_web/Serviços de IP/Transito_IP.pdf"><button class="texto uk-button-default uk-button uk-border-rounded">Detalhes</button></a>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default uk-border-rounded  fundo-cards">
                        <div class="uk-card-media-top">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="texto uk-card-title">DIA</h3>
                            <p class="texto">A solução DIA da Angola Cables garante acesso seguro e dedicado para redes de conteúdos digitais (CDN´s) e provedores
                                Tier 1 globais, excluindo a necessidade de um ASN (Autonomous System Number). A entidade passa a beneficiar de uma
                                estrutura intercontinental multivalente que interliga estrategicamente mais de 27 pontos de atratividade IP</p>
                            <a class="texto" href="https://obj-lad01.clouds2africa.com/v1/AUTH_59c5acbe70034b7ea3a68fbc7ddc96b5/marketing/salespartner_web/Serviços de IP/Transito_IP.pdf"><button class="texto uk-button-default uk-button uk-border-rounded">Detalhes</button></a>
                        </div>
                    </div>
                </div>
                
                <div>
                    <div class="uk-card uk-card-default fundo-cards uk-border-rounded">
                        <div class="uk-card-media-top">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title texto">IP GAMER</h3>
                            <p class="texto">A Angola Cables proporciona conectividade local e internacional para provedores de conteúdos (CDNs) e acesso aos principais ISP ́s (Tier 1). Com uma diversidade de acordos de troca de tráfego estratégicos, o IP Trânsito da Angola Cables oferece um elevado desempenho no acesso aos maiores IXP ́s internacionais, assegurando uma infraestrutura robusta.</p>
                            <a  href="#"><button class=" texto uk-button-default uk-button uk-border-rounded">Detalhes</button></a>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default uk-border-rounded fundo-cards">
                        <div class="uk-card-media-top">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title texto">IP EXCHANGE</h3>
                            <p class="texto">O IP Exchange é a solução customizada da Angola Cables, que permite aos operadores trocar tráfego com todos os operadores interligados aos mais de 20 pontos de atração de tráfego IP (IXP) em África, Europa e Brasil e Estados Unidos numa só ligação.</p>
                            <a href="#"><button class="texto uk-button-default uk-button uk-border-rounded">Detalhes</button></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div>
            <div class="uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-border-rounded  fundo-cards">
                        <div class="uk-card-media-top">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="texto uk-card-title">ANGONAP</h3>
                            <p class="texto">Infraestrutura desenhada com elevados padrões de segurança, capacidade de expansão e redundância energética capaz de providenciar serviços de alojamento e conectividade contínua.</p>
                            <a class="texto" href="#"><button class="texto uk-button-default uk-button uk-border-rounded">Detalhes</button></a>
                        </div>
                    </div>
                </div>
                
                <div>
                    <div class="uk-card uk-card-default fundo-cards uk-border-rounded">
                        <div class="uk-card-media-top">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title texto">MANAGED SERVICES</h3>
                            <p class="texto">O AC Cloud é uma solução flexível e escalonável de entrega de serviços de computação em nuvem que proporciona ganhos de performance, produtividade e redução de custos ao seu negócio. Disponibilizamos recursos como processamento, memória e armazenamento alocados em nuvem, permitindo o acesso via qualquer dispositivo conectado à Internet.</p>
                            <a  href="#"><button class=" texto uk-button-default uk-button uk-border-rounded">Detalhes</button></a>
                        </div>
                    </div>
                </div>

             
            </div>
            
        </div>
        <div>
            <div class="uk-child-width-1-4@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-border-rounded  fundo-cards">
                        <div class="uk-card-media-top">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="texto uk-card-title">CLOUDS2AFRICA</h3>
                            <p class="texto">Maximize a segurança e mantenha o seu negócio live. Proteja o seu servidor, servço e infraestrutura de ataques cibernéticos.
                            </p>
                            <a class="texto" href="https://obj-lad01.clouds2africa.com/v1/AUTH_59c5acbe70034b7ea3a68fbc7ddc96b5/marketing/salespartner_web/ICT/Clouds2Africa.pdf"><button class="texto uk-button-default uk-button uk-border-rounded">Detalhes</button></a>
                        </div>
                    </div>
                </div>
                
                <div>
                    <div class="uk-card uk-card-default fundo-cards uk-border-rounded">
                        <div class="uk-card-media-top">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title texto">CLOUDS2BRASIL</h3>
                            <p class="texto">O SD-WAN é um serviço disponibilizado pela Angola Cables que garante uma gestão eficaz e inteligente da sua rede WAN.</p>
                            <a  href="https://obj-lad01.clouds2africa.com/v1/AUTH_59c5acbe70034b7ea3a68fbc7ddc96b5/marketing/salespartner_web/ICT/Clouds2Brasil.pdf"><button class=" texto uk-button-default uk-button uk-border-rounded">Detalhes</button></a>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="uk-card uk-card-default uk-border-rounded fundo-cards">
                        <div class="uk-card-media-top">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title texto">BACKUP2AFRICA</h3>
                            <p class="texto">A Angola Cables proporciona conectividade usando dark-fiber local e internacional para provedores de conteúdos (CDNs) e acesso aos principais ISP ́s (Tier 1).</p>
                            <a href="https://obj-lad01.clouds2africa.com/v1/AUTH_59c5acbe70034b7ea3a68fbc7ddc96b5/marketing/salespartner_web/ICT/Backup2Africa.pdf"><button class="texto uk-button-default uk-button uk-border-rounded">Detalhes</button></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-border-rounded fundo-cards">
                        <div class="uk-card-media-top">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title texto">BACKUP2BRASIL</h3>
                            <p class="texto">O AC Cloud é uma solução flexível e escalonável de entrega de serviços de computação em nuvem que proporciona ganhos de performance, produtividade e redução de custos ao seu negócio.</p>
                            <a href="https://obj-lad01.clouds2africa.com/v1/AUTH_59c5acbe70034b7ea3a68fbc7ddc96b5/marketing/salespartner_web/ICT/Backup2Brasil.pdf"><button class="texto uk-button-default uk-button uk-border-rounded">Detalhes</button></a>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="uk-card uk-card-default uk-border-rounded  fundo-cards">
                    <div class="uk-card-media-top">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="texto uk-card-title">SDWAN</h3>
                        <p class="texto">Ligação direta para os principais Data Centers Internacionais
                            Esteja à distância de um cross connect para todas as empresas presentes nos principais datacenters internacionais</p>
                        <a class="texto" href="#"><button class="texto uk-button-default uk-button uk-border-rounded">Detalhes</button></a>
                    </div>
                </div>
            </div>

            
            <div>
                <div class="uk-card uk-card-default uk-border-rounded  fundo-cards">
                    <div class="uk-card-media-top">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="texto uk-card-title">Anti-DDoS</h3>
                        <p class="texto">Ligação direta para os principais Data Centers Internacionais
                            Esteja à distância de um cross connect para todas as empresas presentes nos principais datacenters internacionais</p>
                        <a class="texto" href="#"><button class="texto uk-button-default uk-button uk-border-rounded">Detalhes</button></a>
                    </div>
                </div>
            </div>
            
        </div>
       

    </div>



</div>