
.uk-navbar-container {
    z-index: 1000; /* Ensure it overlays other elements */
    position: fixed;
    top: 0;
    width: 100%;
    ; /* Background color for the navbar */
    box-shadow: 0 -2px 20px rgba(0, 0, 0, 1); /* Optional shadow for better visibility */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}

/* Media query for padding-bottom on larger screens */
@media (min-width: 960px) {
    .uk-navbar-container {
        padding-bottom: 5%; /* Apply padding only for desktop view */
    }
}

.uk-navbar-center {
    display: flex;
    justify-content: center;
    flex: 1;
    
}

.uk-navbar-container  {
    background: linear-gradient(180deg,  rgb(129, 148, 170), rgb(99, 122, 146));
    background-color: #005f73; /* Fallback for older browsers */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 6vh;

}

.uk-offcanvas-bar {
    background-color: #fff; /* Background color for the offcanvas bar */
    
}

.texto{
    color: #fff ;
}

.texto:hover{
    color: #d0d0d0 ;
}


.icone-branco{
    color: white;
}

.uk-navbar-nav>li>a{
    color: #ffffff;
    font-weight: bold;
    font-family: inherit
    
}

.uk-navbar-nav>li>a:hover{
    color: #050045;
    font-weight: bold;
    font-family: inherit
    
}





.uk-button-primary {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Subtle shadow effect */
    background: linear-gradient(125deg, rgb(0, 44, 110), rgba(0, 97, 187, 1), rgb(0, 63, 122)) !important;
    color: #ffffff; /* Ensure text is visible on the gradient */
    border: none; /* Remove any default border */
    padding: 10px 20px; /* Add padding for better appearance */
    border-radius: 5px; /* Rounded corners for a modern look */
    transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
}

.uk-button-primary:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4); /* Stronger shadow on hover */
    transform: translateY(-2px); /* Slight lift effect on hover */
    color: #e6f7ff; /* Slightly lighter text color on hover */
}



div
{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 1rem 0rem;
}

p, .translated
{
  background-color: #d4f3ff;
  padding:0.5rem 1rem;
}

button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 0.25rem 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #005f73;
  }
}

.title {
  background-color: #bde8f8;
  padding: 0.5rem 2rem 1.5rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}