<nav class="uk-navbar-container uk-navbar" uk-navbar>
    <div class="uk-container">
        <div class="uk-navbar-left uk-hidden@m">
            <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#" uk-toggle="target: #offcanvas-nav"></a>
        </div>
        
        <div class="uk-navbar-center uk-visible@m">
            <ul class="uk-navbar-nav">
                <li>
                    <a routerLink="/" class="texto "><img class="uk-border-rounded" style="height: auto; width: 250px;" src="/img/ac-partner-logo.png"></a>
                </li>
                <li>
                    <a class="" routerLink="/">Visão Geral</a>
                    
                </li>

                <li>
                    <a class="" routerLink="/">Benefícios</a>
                </li>

                <li>
                    <a class="" routerLink="/">Tipos de Parceiros</a>
                </li>

                <li>
                    <a class="" routerLink="/">Serviços</a>
                </li>

                <li>
                    <a class="" routerLink="/">Contacto</a>
                </li>


                <li class=" uk-flex uk-flex-middle">
                    <div class="uk-flex uk-flex-middle">
                      <a routerLink="/login"> <button (click)="login()"  class="uk-button uk-button-primary uk-border-rounded">
                            
                            LOGIN</button></a> 
                    </div>
                </li>


                <li class=" uk-flex uk-flex-middle">
                    <div class="uk-flex uk-flex-middle">
                       <a routerLink="/conta"> <button  class="uk-button uk-button-primary uk-border-rounded">
                            
                            Criar Conta</button></a>
                    </div>
                </li>
                
            </ul>
        </div>

        <div class="uk-navbar-right uk-visible@m"></div>
    </div>
</nav>

<div id="offcanvas-nav" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-default">
            <li>
                <a class=""><img style="height: auto; width: 100px;" src="/img/logo.png"></a>
            </li>
            <li>
                <a class="" routerLink="/ubuntu">Sobre o Programa</a>
            </li>
            <li>
                <a class="" routerLink="/ubuntu">Tornar-se Parceiro</a>
            </li>

            
            
        </ul>
    </div>
</div>