<nav class="uk-navbar-container uk-navbar" uk-navbar>
    <div class="uk-container">
        <div class="uk-navbar-left uk-hidden@m">
            <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#" uk-toggle="target: #offcanvas-nav"></a>
        </div>

        <div class="uk-navbar-center uk-visible@m">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#inicio" uk-scroll="offset: 100" class="texto "><img class="uk-border-rounded"
                            style="height: auto; width: 180px;" src="/img/logo-acsa-2.png"></a>
                </li>


                <li>
                    <a class="" href="#" uk-scroll>{{ 'menu-empresa' | translate }}</a>
                    <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                        <div class=" uk-drop-grid uk-child-width-1-2" uk-grid>
                            <div class="">
                                <ul class="uk-margin-medium-left uk-nav uk-navbar-dropdown-nav">

                                    <li class="uk-margin-small-bottom uk-active"><a routerLink="/acerca"> <b> {{
                                                'menu-conheca' | translate }}</b></a> </li>
                                    <li class="uk-margin-small-bottom uk-active"><a routerLink="/eventos"> <b> {{
                                                'menu-eventos' | translate }}</b></a> </li>
                                    <li class="uk-margin-small-bottom uk-active"><a routerLink="/blog"> <b> {{
                                                'menu-blog' | translate }}</b> </a> </li>
                                    <li class="uk-margin-small-bottom uk-active"><a routerLink="/noticias"> <b> {{
                                                'menu-noticias' | translate }}</b> </a> </li>
                                </ul>
                            </div>
                            <div class="">
                                <ul class="uk-margin-medium-right uk-nav uk-navbar-dropdown-nav">

                                    <li class="uk-margin-small-bottom uk-active"> <a routerLink="/trust-center"> <b> {{
                                                'menu-trust' | translate }}</b> </a> </li>
                                    <li class="uk-margin-small-bottom uk-active"> <a routerLink="/recrutamento"> <b> {{
                                                'menu-recrutamento' | translate }}</b></a> </li>
                                    <li class="uk-margin-small-bottom uk-active"><a href="https://talents-seedz.ao/">
                                            <b> {{ 'menu-talent' | translate }}</b> </a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li>


                    <a class="" href="#" uk-scroll>{{ 'menu-servicos' | translate }}</a>
                    <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                        <div class=" uk-drop-grid uk-child-width-1-2" uk-grid>
                            <div class="">
                                <ul class="uk-margin-medium-left uk-nav uk-navbar-dropdown-nav">

                                    <li class="uk-margin-small-bottom uk-active"> <a routerLink="/conectividade"> <b> {{
                                                'menu-conectividade' | translate }}</b> </a> </li>
                                    <li class="uk-margin-small-bottom uk-active"> <a routerLink="/cloud"><b> {{
                                                'menu-cloud' | translate }}</b></a> </li>
                                    <li class="uk-margin-small-bottom uk-active"> <a routerLink="/seguranca"><b> {{
                                                'menu-seguranca' | translate }}</b> </a> </li>
                                </ul>
                            </div>
                            <div class="">
                                <ul class="uk-margin-medium-right uk-nav uk-navbar-dropdown-nav">

                                    <li class="uk-margin-small-bottom uk-active"><a routerLink="/datacenter"><b> {{
                                                'menu-datacenter' | translate }}</b> </a></li>
                                    <li class="uk-margin-small-bottom uk-active"><a routerLink="/virtualizacao"><b> {{
                                                'menu-virtual' | translate }}</b> </a></li>
                                    <li class="uk-margin-small-bottom uk-active"><a routerLink="/erp"><b> {{ 'menu-erp'
                                                | translate }}</b> </a></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                </li>

                <li>
                    <a class="" href="https://partners.angolacables.co.ao/" uk-scroll>{{ 'menu-parceiros' | translate }}</a>
                </li>
                <li>
                    <a class="" href="https://acservices.atlanticconnect.com.br/latencies/one-way/" uk-scroll>{{
                        'menu-latencias' | translate }}</a>

                </li>
                <li class=" uk-flex uk-flex-middle">
                    <div class="uk-flex uk-flex-middle  ">
                        <a style="color:#fff" href="" class="uk-icon-link  uk-margin-small-right"
                            uk-icon="icon:question; ratio: 1.5"></a>

           

                        <a style="color:#fff" href="" class="uk-icon-link  uk-margin-small-right"
                            uk-icon="icon:world; ratio: 1.5"></a>
                            <div class="uk-navbar-dropdown uk-navbar-dropdown-width-3 " style="min-width: 700px;">
                                <div class="uk-grid-collapse uk-text-center  " uk-grid>
                                    <!-- Primeira coluna (maior) -->
                                    <div class="uk-width-expand uk-margin-large-top ">
                                        <div class="uk-card uk-card-body uk-margin-small-left uk-margin-small-right uk-padding">
                                            <h2 style="font-weight: bold;" class="uk-text-left uk-margin-medium-left"> {{ 'menu-ac-title' | translate }}</h2>
                                            <p class="uk-text-left uk-margin-medium-left "> {{ 'menu-angolacables' | translate }}</p>
                                        </div>
                                    </div>
                            
                                    <!-- Segunda coluna (menor) -->
                                    <div class="uk-width-1-3">
                                        <div class="uk-height-1-1 uk-flex uk-flex-column">
                                            <div class="uk-card uk-card-body uk-margin-small-left uk-margin-small-right uk-margin-auto-top uk-padding">
                                                <ul class="uk-margin-medium-right uk-nav uk-navbar-dropdown-nav uk-text-left">
                                                    <li class="uk-margin-small-bottom"><b>{{ 'menu-escritorios' | translate }}</b></li>
                                                    <li class="uk-margin-small-bottom"> <a href="https://angolacables.co.ao/">Angola</a></li>
                                                    <li class="uk-margin-small-bottom"><a href="https://telcables.co.za/">África do Sul</a></li>
                                                    <li class="uk-margin-small-bottom"><a href="https://telcables.com.br/">Brasil</a></li>
                                                    <li class="uk-margin-small-bottom"><a href="https://telcables.net/">EUA</a></li>
                                                    <li class="uk-margin-small-bottom"><a href="https://telcables.pt/">Portugal</a></li>


                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                      <!-- Ícone de pesquisa que abre o modal -->
<a style="color:#fff" href="#" class="uk-icon-link" uk-icon="icon: search; ratio: 1.5" uk-toggle="target: #search-modal"></a>

<!-- Modal de pesquisa -->
<div id="search-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Pesquisar</h2>
        <form>
            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="Digite sua pesquisa...">
            </div>
            <button class="uk-button uk-button-primary" type="submit">Buscar</button>
        </form>
    </div>
</div>


                        
                    </div>
                </li>





                <!-- Language Dropdown -->
                <li>
                    <form>
                        <div class="uk-margin">
                            <div uk-form-custom="target: > * > span:first-child">
                                <select aria-label="Custom controls" (change)="onLanguageChange($event)">
                                    <option value="pt">PT</option>
                                    <option value="en">EN</option>
                                </select>
                                <button class="uk-button uk-button-default" type="button" tabindex="-1">
                                    <span>
                                        <img class="bandeiras" [src]="selectedFlag" id="selected-flag">
                                        <span id="selected-language">{{ selectedLanguage }}</span>
                                    </span>
                                    <span uk-icon="icon: chevron-down"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </li>

            </ul>
        </div>

        <div class="uk-navbar-right uk-visible@m"></div>
    </div>
</nav>

<div id="offcanvas-nav" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-default uk-margin-small-left">
            <li class=" ">
                <a style="color: black;" href="#inicio" uk-scroll="offset: 100" class="texto "><img
                        class="uk-border-rounded" style="height: auto; width: 250px;" src="/img/logo-acsa.png"></a>
            </li>
            <li>
                <a style="color: black;" class="" routerLink="/acerca" uk-scroll>{{ 'menu-conheca' | translate }}</a>
            </li>
            <li>
                <a style="color: black;" class="" routerLink="/eventos" uk-scroll="offset: 100">{{ 'menu-eventos' |
                    translate }} </a>
            </li>
            <li>
                <a style="color: black;" class="" href="/blog" uk-scroll="offset: 100" i18n>{{ 'menu-blog' | translate
                    }}</a>
            </li>
            <li>
                <a style="color: black;" class="" routerLink="/noticias" uk-scroll="offset: 100" i18n>{{ 'menu-noticias'
                    | translate }} </a>
            </li>
            <li>
                <a style="color: black;" class="" routerLink="/trust-center" uk-scroll="offset: 100" i18n>{{
                    'menu-trust' | translate }} </a>
            </li>
            <li>
                <a style="color: black;" class="" routerLink="/recrutamento" uk-scroll="offset: 100" i18n>{{
                    'menu-recrutamento' | translate }} </a>
            </li>

            <li>
                <a style="color: black;" class="" href="https://talents-seedz.ao/" uk-scroll="offset: 100" i18n> {{
                    'menu-talent' | translate }} </a>
            </li>



            <li class="uk-flex uk-flex-middle">
                <a style="color: black;" (click)="useLanguage('pt')"> PT</a>
            </li>
            <li class="uk-flex uk-flex-middle">
                <a style="color: black;" (click)="useLanguage('en')"> EN</a>
            </li>
        </ul>
    </div>
</div>