<app-menu></app-menu>




<div id="servicos" class="uk-container uk-margin-large-bottom uk-margin-large-top">
    <ul class="uk-text-center uk-border-rounded uk-subnav uk-subnav-pill uk-flex-center"
        uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
        <li>
            <a class="texto-2" href="#">{{ 'dashboard-blog' | translate }}</a>
        </li>
        <li><a class="texto-2" href="#">{{ 'dashboard-noticias' | translate }}</a></li>
        <li><a class="texto-2" href="#">{{ 'dashboard-empregos' | translate }}</a></li>
        <li><a class="texto-2" href="#">{{ 'dashboard-eventos' | translate }}</a></li>
        <li><a class="texto-2" href="#">{{ 'dashboard-paineis' | translate }}</a></li>
    </ul>

    <div class="uk-switcher uk-margin">
        <div>
            <div class="uk-child-width-1-1@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center" uk-grid>
                <div class="ov-div">
                    <div class="uk-card uk-card-default uk-border-rounded fundo-circuito">
                        <div class="uk-card-media-top"></div>
                        <div class="uk-card-body">

                            <app-artigo-postar></app-artigo-postar>

                            <div class="uk-container uk-margin-large-bottom">
                                <h3 class="uk-text-left uk-margin-large-top uk-text-bold" style=" font-weight: bolder;">
                                    Artigos publicados</h3>

                                <app-artigo-lista></app-artigo-lista>
                            </div>


                        </div>
                    </div>
                </div>



            </div>
        </div>

        <div>
            <div class="uk-child-width-1-1@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-border-rounded fundo-dia">
                        <div class="uk-card-media-top"></div>
                        <div class="uk-card-body">

                            <app-noticias-postar></app-noticias-postar>

                            <div class="uk-container uk-margin-large-bottom">
                                <h3 class="uk-text-left uk-margin-large-top uk-text-bold" style=" font-weight: bolder;">
                                    Notícias publicadas</h3>

                                <app-noticias-listar></app-noticias-listar>
                            </div>


                        </div>
                    </div>
                </div>


            </div>

        </div>

        <div>
            <div class="uk-child-width-1-1@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center" uk-grid>


                <div>
                    <div class="uk-card uk-card-default fundo-clouds2br uk-border-rounded">
                        <div class="uk-card-media-top"></div>
                        <div class="uk-card-body">
                            <app-vagas-criar></app-vagas-criar>
                            <div class="uk-container uk-margin-large-bottom">
                                <h3 class="uk-text-left uk-margin-large-top uk-text-bold" style=" font-weight: bolder;">
                                    Vagas Abertas</h3>

                                <app-vagas-listar></app-vagas-listar>
                            </div>

                        </div>
                    </div>
                </div>








            </div>
        </div>


        <!--Segurança -->
        <div>
            <div class="uk-child-width-1-1@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-border-rounded fundo-angonap">
                        <div class="uk-card-media-top"></div>
                        <div class="uk-card-body">
                            <app-eventos-postar></app-eventos-postar>
                            <div class="uk-container uk-margin-large-bottom">
                                <h3 class="uk-text-left uk-margin-large-top uk-text-bold" style=" font-weight: bolder;">
                                    Vagas Abertas</h3>

                                <app-vagas-listar></app-vagas-listar>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>


        <div>
            <div class="uk-child-width-1-1@m uk-child-width-1-1@s uk-grid-match uk-grid uk-text-center" uk-grid>


                <div>
                    <div class="uk-card uk-card-default uk-border-rounded fundo-sdwan">
                        <div class="uk-card-media-top"></div>
                        <div class="uk-card-body">
                            <app-paineis-postar></app-paineis-postar>

                            <div class="uk-container uk-margin-large-bottom">
                                <h3 class="uk-text-left uk-margin-large-top uk-text-bold" style=" font-weight: bolder;">
                                    Painéis publicados</h3>

                                <app-paineis-listar></app-paineis-listar>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>
</div>