<app-menu></app-menu>
<div class="fundo-cabecalho">
    <div class="gradiente-texto-cabecalho">
        <div class="conteudo-cabecalho uk-margin-medium-top">
            <div class="uk-container uk-margin-large-bottom">
                <h4 style="color:white">Conectividade</h4>
                <h1 style="color:rgba(39, 200, 227, 1); font-weight: bolder;">Acesso rápido e eficiente às principais <br>redes e hubs digitais do mundo.</h1>
            </div>
        </div>
    </div>
</div>

<div class="uk-container">
    <div class="uk-grid-column-small uk-grid-row-small uk-child-width-1-2@s uk-text-left uk-margin-large-top " uk-grid>
        
        <!-- Global Data Center Interconnection -->
        <div>
            <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column">
                <div class="uk-card-media-top">
                    <img class="border-2 card-image" src="img/servicos/cloud.jpeg" width="1800" height="1200" alt="">
                    <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder;"><b>Clouds2Africa</b></h2>
                    <p>Serviços avançados de armazenamento, processamento e gestão de bases de dados, garantindo segurança, agilidade, otimização de custos e maximização da performance. Soluções personalizadas para empresas que buscam escalabilidade, eficiência operacional e suporte técnico especializado, com infraestrutura de ponta e alta disponibilidade para operações críticas.



                    </p>
         
                </div>
                <!-- Switcher Section -->
                <div class="uk-margin-small-left uk-margin-small-right uk-margin-large-top uk-flex-1 uk-flex uk-flex-column">
                    <ul class="uk-subnav uk-subnav-pill" uk-switcher>
                        <li style="font-weight: bold"><a class="texto-abas-cronologia">Benefícios</a></li>
                        <li><a class="texto-abas-cronologia">Características</a></li>
                    </ul>
                    <div class="uk-switcher uk-flex-1">
                        <div style="background-color: white;" class="uk-child-width-expand@s" uk-grid>
                            <div class="uk-grid-item-match">
                                - O nosso serviço de IP Trânsito proporciona conectividade internacional 
                                <br>- O nosso serviço de IP Trânsito proporciona conectividade internacional 
                                <br>- O nosso serviço de IP Trânsito proporciona conectividade internacional 
                            </div>
                        </div>
                        <div>Hello again!</div>
                    </div>
                </div>
                <!-- Button -->
                <a style="font-weight: bold;" href="#">
                    <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">Guia do produto</button>
                </a>
            </div>
        </div>

        <!-- IP Transit -->
        <div>
            <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column">
                <div class="uk-card-media-top">
                    <img class="border-2 card-image" src="img/servicos/cloud.jpeg" width="1800" height="1200" alt="">
                    <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder;"><b>Clouds2Brasil</b></h2>
                    <p>Serviços avançados de armazenamento, processamento e gestão de bases de dados, garantindo segurança, agilidade, otimização de custos e maximização da performance. Soluções personalizadas para empresas que buscam escalabilidade, eficiência operacional e suporte técnico especializado, com infraestrutura de ponta e alta disponibilidade para operações críticas.

                    </p>
                </div>
                <!-- Switcher Section -->
                <div class="uk-margin-small-left uk-margin-small-right uk-margin-large-top uk-flex-1 uk-flex uk-flex-column">
                    <ul class="uk-subnav uk-subnav-pill" uk-switcher>
                        <li style="font-weight: bold"><a class="texto-abas-cronologia">Benefícios</a></li>
                        <li><a class="texto-abas-cronologia">Características</a></li>
                    </ul>
                    <div class="uk-switcher uk-flex-1">
                        <div style="background-color: white;" class="uk-child-width-expand@s" uk-grid>
                            <div class="uk-grid-item-match">
                                - O nosso serviço de IP Trânsito proporciona conectividade internacional 
                                <br>- O nosso serviço de IP Trânsito proporciona conectividade internacional 
                                <br>- O nosso serviço de IP Trânsito proporciona conectividade internacional 
                            </div>
                        </div>
                        <div>Hello again!</div>
                    </div>
                </div>
                <!-- Button -->
                <a style="font-weight: bold;" href="#">
                    <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">Guia do produto</button>
                </a>
            </div>
        </div>


        <div>
            <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column">
                <div class="uk-card-media-top">
                    <img class="border-2 card-image" src="img/servicos/backups.png" width="1800" height="1200" alt="">
                    <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder;"><b>Backups2Africa</b></h2><br>
                    <p>Serviços avançados de armazenamento, processamento e gestão de bases de dados, garantindo segurança, agilidade, otimização de custos e maximização da performance. Soluções personalizadas para empresas que buscam escalabilidade, eficiência operacional e suporte técnico especializado, com infraestrutura de ponta e alta disponibilidade para operações críticas.</p>
                </div>
                <!-- Switcher Section -->
                <div class="uk-margin-small-left uk-margin-small-right uk-margin-large-top uk-flex-1 uk-flex uk-flex-column">
                    <ul class="uk-subnav uk-subnav-pill" uk-switcher>
                        <li style="font-weight: bold"><a class="texto-abas-cronologia">Benefícios</a></li>
                        <li><a class="texto-abas-cronologia">Características</a></li>
                    </ul>
                    <div class="uk-switcher uk-flex-1">
                        <div style="background-color: white;" class="uk-child-width-expand@s" uk-grid>
                            <div class="uk-grid-item-match">
                                - O nosso serviço de IP Trânsito proporciona conectividade internacional 
                                <br>- O nosso serviço de IP Trânsito proporciona conectividade internacional 
                                <br>- O nosso serviço de IP Trânsito proporciona conectividade internacional 
                            </div>
                        </div>
                        <div>Hello again!</div>
                    </div>
                </div>
                <!-- Button -->
                <a style="font-weight: bold;" href="#">
                    <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">Guia do produto</button>
                </a>
            </div>
        </div>



        <div>
            <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column">
                <div class="uk-card-media-top">
                    <img class="border-2 card-image" src="img/servicos/backups.png" width="1800" height="1200" alt="">
                    <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder;"><b>Backups2Brasil</b></h2><br>
                    <p>A melhor experiência de jogo com latências reduzidas, conectando diretamente aos principais servidores globais e garantindo desempenho superior, estabilidade, qualidade e uma conexão confiável para jogadores mais exigentes, com suporte dedicado, acesso a plataformas de última geração e roteamento otimizado para máxima eficiência.



                    </p>
                </div>
                <!-- Switcher Section -->
                <div class="uk-margin-small-left uk-margin-small-right uk-margin-large-top uk-flex-1 uk-flex uk-flex-column">
                    <ul class="uk-subnav uk-subnav-pill" uk-switcher>
                        <li style="font-weight: bold"><a class="texto-abas-cronologia">Benefícios</a></li>
                        <li><a class="texto-abas-cronologia">Características</a></li>
                    </ul>
                    <div class="uk-switcher uk-flex-1">
                        <div style="background-color: white;" class="uk-child-width-expand@s" uk-grid>
                            <div class="uk-grid-item-match">
                                - O nosso serviço de IP Trânsito proporciona conectividade internacional 
                                <br>- O nosso serviço de IP Trânsito proporciona conectividade internacional 
                                <br>- O nosso serviço de IP Trânsito proporciona conectividade internacional 
                            </div>
                        </div>
                        <div>Hello again!</div>
                    </div>
                </div>
                <!-- Button -->
                <a style="font-weight: bold;" href="#">
                    <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">Guia do produto</button>
                </a>
            </div>
        </div>
        
        <div>
            <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column">
                <div class="uk-card-media-top">
                    <img class="border-2 card-image" src="img/servicos/ip-exchange.png" width="1800" height="1200" alt="">
                    <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder;"><b>ACloud Connect</b></h2><br>
                    <p>ACloud Connect é um serviço de conectividade fornecido pela Angola Cables que é caracterizado por um alto nível de desempenho e segurança. Este serviço é projectado para clientes corporativos e garante previsibilidade de aplicativos hospedados na nuvem. Em uma única interface, o cliente tem acesso a várias conexões privadas globalmente (MS Azure, AWS, Oracle, Google Cloud Platform e IBM).





                    </p>
                </div>
                <!-- Switcher Section -->
                <div class="uk-margin-small-left uk-margin-small-right uk-margin-large-top uk-flex-1 uk-flex uk-flex-column">
                    <ul class="uk-subnav uk-subnav-pill" uk-switcher>
                        <li style="font-weight: bold"><a class="texto-abas-cronologia">Benefícios</a></li>
                        <li><a class="texto-abas-cronologia">Características</a></li>
                    </ul>
                    <div class="uk-switcher uk-flex-1">
                        <div style="background-color: white;" class="uk-child-width-expand@s" uk-grid>
                            <div class="uk-grid-item-match">
                                - O nosso serviço de IP Trânsito proporciona conectividade internacional 
                                <br>- O nosso serviço de IP Trânsito proporciona conectividade internacional 
                                <br>- O nosso serviço de IP Trânsito proporciona conectividade internacional 
                            </div>
                        </div>
                        <div>Hello again!</div>
                    </div>
                </div>
                <!-- Button -->
                <a style="font-weight: bold;" href="#">
                    <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">Guia do produto</button>
                </a>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default uk-card-body border-2 uk-flex uk-flex-column">
                <div class="uk-card-media-top">
                    <img class="border-2 card-image" src="img/servicos/vods2africa.png" width="1800" height="1200" alt="">
                    <h2 style="color: rgba(9, 0, 67, 1); font-weight: bolder;"><b>Vods2Africa</b></h2><br>
                    <p>O Remote Peering permite conexão remota a pontos de troca de tráfego (IXPs) globais, oferecendo maior eficiência, redução de custos e latência otimizada. Ideal para empresas que buscam interconectar-se diretamente a múltiplas redes, melhorando desempenho e alcance global com infraestrutura robusta e segura.




                    </p>
                </div>
                <!-- Switcher Section -->
                <div class="uk-margin-small-left uk-margin-small-right uk-margin-large-top uk-flex-1 uk-flex uk-flex-column">
                    <ul class="uk-subnav uk-subnav-pill" uk-switcher>
                        <li style="font-weight: bold"><a class="texto-abas-cronologia">Benefícios</a></li>
                        <li><a class="texto-abas-cronologia">Características</a></li>
                    </ul>
                    <div class="uk-switcher uk-flex-1">
                        <div style="background-color: white;" class="uk-child-width-expand@s" uk-grid>
                            <div class="uk-grid-item-match">
                                - O nosso serviço de IP Trânsito proporciona conectividade internacional 
                                <br>- O nosso serviço de IP Trânsito proporciona conectividade internacional 
                                <br>- O nosso serviço de IP Trânsito proporciona conectividade internacional 
                            </div>
                        </div>
                        <div>Hello again!</div>
                    </div>
                </div>
                <!-- Button -->
                <a style="font-weight: bold;" href="#">
                    <button class="botao-guia uk-margin-medium-top uk-button uk-border-pill uk-width-1-1">Guia do produto</button>
                </a>
            </div>
        </div>


          
    </div>
    <app-ad2></app-ad2>

</div>

<app-rodape></app-rodape>