<div class="uk-margin-small-bottom uk-margin-large-top">
  <p style="font-weight: 900; font-size:35px; color: #022561" class="uk-text-center texto-div">
    {{ 'nossas_certificacoes' | translate }}
  </p>
  <p class="uk-text-center">Building Confidence Through Certification</p>
</div>

<div class="fundo-selos uk-container">
  <div style="border:20px" class="uk-flex uk-flex-center uk-flex-wrap uk-padding">
      <img style="height: 100px; display: block;" src="img/iso/iso1.png" alt="" />
      <img style="height: 100px; display: block;" src="img/iso/iso2.png" alt="" />
      <img style="height: 100px; display: block;" src="img/iso/iso3.png" alt="" />
      <img style="height: 100px; display: block;" src="img/iso/iso4.png" alt="" />
      <img style="height: 100px; display: block;" src="img/iso/iso5.png" alt="" />
      <img style="height: 100px; display: block;" src="img/iso/iso6.png" alt="" />
      <img style="height: 100px; display: block;" src="img/iso/iso7.png" alt="" />
  </div>
</div>