<div class="uk-margin-medium-bottom uk-margin-large-top">
  <h3 style="font-weight: bold" class="uk-text-center texto-div">
    {{ 'nossas_certificacoes' | translate }}
  </h3>
</div>

<div class="fundo-selos uk-container">
  <div class="uk-flex uk-flex-center uk-flex-wrap">
      <img style="height: 150px; display: block;" src="img/iso/iso1.png" alt="" />
      <img style="height: 150px; display: block;" src="img/iso/iso2.png" alt="" />
      <img style="height: 150px; display: block;" src="img/iso/iso3.png" alt="" />
      <img style="height: 150px; display: block;" src="img/iso/iso4.png" alt="" />
      <img style="height: 150px; display: block;" src="img/iso/iso5.png" alt="" />
      <img style="height: 150px; display: block;" src="img/iso/iso6.png" alt="" />
      <img style="height: 150px; display: block;" src="img/iso/iso7.png" alt="" />
      <img style="height: 150px; display: block;" src="img/iso/tier.png" alt="" />
  </div>
</div>