<div class="uk-text-center uk-margin-large-top">
  <p style="font-weight: 900; font-size:35px; color: #022561" class="uk-text-center texto-div">
    {{ 'nossas_certificacoes' | translate }}
  </p>
  <img src=" img/conectada-mundo.png" style="width: auto; height: 80px ">
  <p> We have the 23rd most interconnected network int he world accordingo CAIDA Rankingsc .
  </p>
  <p style="font-weight: 600 ;"> Building Confidence Through Certification
  </p>



  <div class="fundo-selos uk-container uk-margin-medium-bottom">
    <div class="uk-flex uk-flex-center uk-flex-wrap ">
      <img style="height: 100px; display: block;" src="img/iso/iso1.png" alt="" />
      <img style="height: 100px; display: block;" src="img/iso/iso2.png" alt="" />
      <img style="height: 100px; display: block;" src="img/iso/iso3.png" alt="" />
      <img style="height: 100px; display: block;" src="img/iso/iso4.png" alt="" />
      <img style="height: 100px; display: block;" src="img/iso/iso5.png" alt="" />
      <img style="height: 100px; display: block;" src="img/iso/iso6.png" alt="" />
      <img style="height: 100px; display: block;" src="img/iso/iso7.png" alt="" />
    </div>
  </div>

</div>