<app-menu></app-menu>
<div class="fundo-cabecalho">

    <div class=" gradiente-texto-cabecalho">

        <div class=" conteudo-cabecalho uk-margin-medium-top   ">
            <div class="uk-container uk-margin-large-bottom">

                <h4 class="" style="color:white">Contacto</h4>
                <h1 style="color:rgba(39, 200, 227, 1); font-weight: bolder;"> Entre em contacto<br> connosco</h1>
            </div>

        </div>

    </div>

</div>




<div class="fundo-artigo ">
    <div class="uk-container ">
        <div class="uk-grid-large uk-margin-large-bottom" uk-grid>


            <!-- Sidebar Section for More Articles -->


            <aside style="color:white;padding: 30px; border-radius: 8px; "
                class=" uk-width-1-3@m uk-margin-large-top uk-margin-left">

                <p style="color:white" class=""><span>País/Região</span></p>

                <div class="uk-margin">
                    <div uk-form-custom="target: > * > span:first-child">
                        <select aria-label="Custom controls">
                            <option value="">Angola</option>
                            <option value="1">Brasil</option>
                            <option value="2">Nigeria</option>
                            <option value="3">África do Sul</option>
                            <option value="4">Portugal</option>
                        </select>
                        <button class="uk-button uk-button-secondary" type="button" tabindex="-1">
                            <span></span>
                            <span uk-icon="icon: chevron-down"></span>
                        </button>
                    </div>
                </div>


                <ul class="uk-list">
                    <li>
                        <div class="">
                            <div class="uk-grid-small" uk-grid>

                                <div class="uk-width-expand uk-margin-large-top">
                                    <p style="color: white;" class=" uk-margin-remove-bottom">Sede</p>
                                    <p class="uk-margin-small-top" style="color: rgb(216, 216, 216);">

                                        Edifício Cellwave, Via AL5 Zona,XR6B
                                        <br>Talatona, Luanda Sul, Angola
                                        <br>+244 927 686 206
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="">
                            <div class="uk-grid-small" uk-grid>

                                <div class="uk-width-expand uk-margin-large-top">
                                    <p style="color: white;" class=" uk-margin-remove-bottom">Data Center - AngoNap
                                        <br>Luanda
                                    </p>
                                    <p class="uk-margin-small-top" style="color: rgb(216, 216, 216);">


                                        Avenida Pedro Castro Van Dúnem Loy
                                        <br>Talatona, Luanda Sul, Angola
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li>
                        <div class="uk-margin-large-top">
                            Email: <a> support&#64;clouds2africa.com </a>
                        </div>
                    </li>

                    
                    <li>
                        <div class="uk-margin-medium-top">
                            <a class="uk-margin-medium-right" href="" uk-icon="facebook"></a>
                                <a class="uk-margin-medium-right" href="" uk-icon="instagram"></a>
                                <a class="uk-margin-medium-right" href="" uk-icon="linkedin"></a>
                                <a class="uk-margin-medium-right" href="" uk-icon="youtube"></a>
                                <a class="uk-margin-medium-right" href="" uk-icon="twitter"></a>
                        </div>
                    </li>

                </ul>
            </aside>


            <!-- Main Article Section -->

            <div class="uk-width-expand  uk-margin">
                <form class="uk-grid-small uk-padding fundo-form" uk-grid>
                    <h3 style="color:rgba(24, 24, 50, 1); font-weight: bold;">Somos rápidos a responder!</h3>
                    <div class="uk-width-1-2@s">
                        <b>Primeiro nome</b>
                        <input class="uk-input uk-border-rounded" type="text" placeholder="50" aria-label="50">
                    </div>
                    <div class="uk-width-1-2@s">
                        <b>Último nome</b>
                        <input class="uk-input uk-border-rounded" type="text" placeholder="50" aria-label="50">
                    </div>
                    <div class="uk-width-1-1">
                        <b>Número de telefone</b>
                        <input class="uk-input" type="text" placeholder="100" aria-label="100">
                    </div>

                    <div class="uk-width-1-2@s">
                        <b>Regiãoe</b>
                        <input class="uk-input uk-border-rounded" type="text" placeholder="50" aria-label="50">
                    </div>
                    <div class="uk-width-1-2@s">
                        <b>Departamento</b>
                        <input class="uk-input uk-border-rounded" type="text" placeholder="50" aria-label="50">
                    </div>
                    <div class="uk-width-1-2@s">
                        <b>Nome da empresa</b>
                        <input class="uk-input uk-border-rounded" type="text" placeholder="50" aria-label="50">
                    </div>
                    <div class="uk-width-1-2@s">
                        <b>Cargo na empresa</b>
                        <input class="uk-input uk-border-rounded" type="text" placeholder="50" aria-label="50">
                    </div>

                    <div class="uk-width-1-1">
                        <b>E-mail</b>
                        <input class="uk-input" type="text" placeholder="100" aria-label="100">
                    </div>

                    <div class="uk-width-1-1">
                        <b>Mensagem</b>
                        <textarea class="uk-textarea" rows="5" placeholder="Textarea" aria-label="Textarea"></textarea>
                    </div>

                </form>
            </div>


        </div>
    </div>
</div>

<app-rodape></app-rodape>