.fundo-cabecalho{
    background-image: url('/img/layout/cabecalho-pagina.jpeg');

    background-color: #000;
    position: relative;
    min-height: 400px; /* Adjust based on design */
}

.logo-cabecalho-pagina{
    height: 40px;
    width: auto;

}

.conteudo-cabecalho{
    
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 78, 0.918), rgba(0, 0, 78, 0.918), rgba(0, 0, 255, 0)); /* Blue to transparent */
}


.fundo-noticias{
    background-color: rgba(247, 247, 247, 1);
}


.fundo-cabecalho{
    background-image: url('/img/contacto.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-color: #000;
    position: relative;
    min-height: 400px; /* Adjust based on design */
}

.logo-cabecalho-pagina{
    height: 40px;
    width: auto;

}

.conteudo-cabecalho{
    
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 78, 0.918), rgba(0, 0, 78, 0.918), rgba(0, 0, 255, 0)); /* Blue to transparent */
}

.fundo-artigo{
    background-color: rgba(5, 5, 51, 1);;
}

.foto-mais-artigos{
    width: auto;
    height: 100px;
}

.fundo-mais-artigos{
    background-color: rgba(255, 255, 255, 0.1);
    background-size: cover;
    height: 50%;

}

.fundo-partilha-artigo{
    background-color: rgba(5, 5, 51, 1);;

}

.fundo-form{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    box-shadow: 0px -8px 0px rgba(39, 200, 227, 1);
}


.fundo-form input,
.fundo-form textarea {
    background-color: rgba(240, 240, 248, 1); /* Light grayish-blue background */
}