/* You can add global styles to this file, and also import other style files */
body, a, p, h1, h2, h3, h4, li, ul {
  
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}   


.border {
    border-radius: 30px;
}

.border-2 {
    border-radius: 30px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}
