<div class="uk-position-relative uk-visible-toggle uk-light uk-margin-large-top uk-margin-large-bottom " tabindex="-1"
    uk-slider="center: true">

    <div class=" uk-slider-items uk-grid">
        <div style="height: 600px;" class="uk-width-3-4">
            <div class="modern-gradient-bg uk-panel">
                <div class="">

                    <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m" uk-grid
                        style="display: flex; justify-content: center; align-items: center;">


                        <!-- Card 1 -->
                        <div class="">
                            <div class="uk-text-left uk-margin-medium-top uk-height-1-1">

                                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
                                    uk-slideshow="autoplay: true; autoplay-interval: 3000; ratio: 4:4">

                                    <div class="uk-slideshow-items">
                                        <div class="uk-padding uk-margin-large-left ">

                                            <p style="color:white">We are TelCables Nigeria</p>
                                            <h1 style="font-weight: bolder; color:#fff "
                                                class="uk-text-left uk-margin-small-bottom uk-margin-small-top ">
                                                <b>
                                                    Africa's Most
                                                    Interconnected Operator
                                                </b>
                                            </h1>

                                            <p class=" angola-cables-texto" style="color:#fff">
                                                TelCables Nigeria, powered by the global Angola Cables network, is
                                                Africa’s leading carriers’ carrier
                                                We
                                                set industry benchmark for performance, resilience, and innovation
                                            </p>
                                            <a href="/sobre" class="">
                                                <button
                                                    style="background-color: #FAA61A; color: #002561; font-weight: 700; padding: 8px 40px;"
                                                    class=" uk-button  uk-button-small uk-border-pill uk-padding uk-margin-large-top">
                                                    <span class="uk-padding"> + More
                                                        about
                                                        us</span> </button>
                                            </a>

                                        </div>

                                    </div>

                                </div>




                            </div>
                        </div>

                        <!-- 
          Through continuous investment in a
            fully
            integrated and interconnected digital ecosystem, we deliver world-class connectivity, cloud solutions,
            colocation services, and international data capacity via advanced submarine cable systems enabling
            digital
            transformation, and driving sustainable growth for businesses across Nigeria, Africa and beyond.
          -->

                        <!-- Card 2 -->
                        <div>
                            <div class="">

                                <img src="/img/westafrica-mapa2025.png" alt="" srcset="" style=" border-radius: 30px;">

                            </div>
                        </div>

                    </div>




                </div>
            </div>
        </div>
        <div style="height: 600px;" class="uk-width-3-4">
            <div class="modern-gradient-bg uk-panel">
                <div class="">

                    <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m" uk-grid
                        style="display: flex; justify-content: center; align-items: center;">


                        <!-- Card 1 -->
                        <div class="">
                            <div class="uk-text-left uk-margin-medium-top uk-height-1-1">

                                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
                                    uk-slideshow="autoplay: true; autoplay-interval: 3000; aspect-ratio: 4:4">

                                    <div class="uk-slideshow-items">
                                        <div class="uk-padding uk-margin-large-left uk-margin-large-top ">

                                            <!--   <p style="color:white">We are TelCables Nigeria</p> -->
                                            <img src="/img/cl2.png" alt="Angola Cables Logo"
                                                class="uk-margin-small-bottom" style="width: 150px; height: auto;">
                                            <h1 style="font-weight: bolder; color:#fff "
                                                class="uk-text-left uk-margin-small-bottom uk-margin-small-top ">
                                                <b>
                                                    Local Cloud for Every Business Operations
                                                </b>
                                            </h1>

                                            <p class=" angola-cables-texto" style="color:#fff">
                                                With Clouds2Africa in three local nodes we provide a NGN billed and
                                                scalable cloud service to businesses accros Nigeria.
                                            </p>
                                            <a href="/sobre" class="">
                                                <button
                                                    style="background-color: #FAA61A; color: #002561; font-weight: 700; padding: 8px 40px;"
                                                    class=" uk-button  uk-button-small uk-border-pill uk-padding uk-margin-medium-top">
                                                    <span class="uk-padding"> + More
                                                        about
                                                        us</span> </button>
                                            </a>

                                        </div>

                                    </div>

                                </div>




                            </div>
                        </div>

                        <!-- 
          Through continuous investment in a
            fully
            integrated and interconnected digital ecosystem, we deliver world-class connectivity, cloud solutions,
            colocation services, and international data capacity via advanced submarine cable systems enabling
            digital
            transformation, and driving sustainable growth for businesses across Nigeria, Africa and beyond.
          -->

                        <!-- Card 2 -->
                        <div>
                            <div class="uk-margin-medium-top">

                                <img src="/img/TelcablesNG-CloudMapDigital.png" alt="" srcset=""
                                    style=" border-radius: 30px;">

                            </div>
                        </div>

                    </div>




                </div>
            </div>

        </div>
        <div style="height: 600px;" class="uk-width-3-4">
            <div class=" modern-gradient-bg uk-panel">
                <div class="modern-gradient-bg uk-panel">
                    <div class="">

                        <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m" uk-grid
                            style="display: flex; justify-content: center; align-items: center;">


                            <!-- Card 1 -->
                            <div class="">
                                <div class="uk-text-left uk-margin-medium-top uk-height-1-1">

                                    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
                                        uk-slideshow="autoplay: true; autoplay-interval: 3000;">

                                        <div class="uk-slideshow-items">
                                            <div class="uk-padding uk-margin-large-left ">

                                                <h1 style="font-weight: bolder; color:#fff "
                                                    class="uk-text-left uk-margin-small-bottom uk-margin-small-top ">
                                                    <b>
                                                        TelCables Nigeria Unleashes
                                                        Metro Connect in Lagos!

                                                    </b>
                                                </h1>

                                                <p class=" angola-cables-texto" style="color:#fff">
                                                    Blazing-fast, ultra-reliable interconnection is here linking Lagos'
                                                    digital core with the world
                                                </p>
                                                <a href="/sobre" class="">
                                                    <button
                                                        style="background-color: #FAA61A; color: #002561; font-weight: 700; padding: 8px 40px;"
                                                        class=" uk-button  uk-button-small uk-border-pill uk-padding uk-margin-large-top">
                                                        <span class="uk-padding"> + More
                                                            about
                                                            us</span> </button>
                                                </a>

                                            </div>

                                        </div>

                                    </div>




                                </div>
                            </div>

                            <!-- 
          Through continuous investment in a
            fully
            integrated and interconnected digital ecosystem, we deliver world-class connectivity, cloud solutions,
            colocation services, and international data capacity via advanced submarine cable systems enabling
            digital
            transformation, and driving sustainable growth for businesses across Nigeria, Africa and beyond.
          -->

                            <!-- Card 2 -->
                            <div>
                                <div class="">

                                    <img src="/img/redewioccmapa-site.png" alt="" srcset=""
                                        style=" border-radius: 30px;">

                                </div>
                            </div>

                        </div>




                    </div>
                </div>

            </div>
        </div>


        <div style="height: 600px;" class="uk-width-3-4">
            <div class="modern-gradient-bg uk-panel">
                <div class="">

                    <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m" uk-grid
                        style="display: flex; justify-content: center; align-items: center;">


                        <!-- Card 1 -->
                        <div class="">
                            <div class="uk-text-left uk-margin-medium-top uk-height-1-1">

                                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
                                    uk-slideshow="autoplay: true; autoplay-interval: 3000;">

                                    <div class="uk-slideshow-items">
                                        <div class="uk-padding uk-margin-large-left ">

                                            <!--   <p style="color:white">We are TelCables Nigeria</p> -->
                                            <img src="/img/cl2.png" alt="Angola Cables Logo"
                                                class="uk-margin-small-bottom" style="width: 150px; height: auto;">
                                            <h1 style="font-weight: bolder; color:#fff "
                                                class="uk-text-left uk-margin-small-bottom uk-margin-small-top ">
                                                <b>
                                                    Local Cloud for Every Business Operations
                                                </b>
                                            </h1>

                                            <p class=" angola-cables-texto" style="color:#fff">
                                                With Clouds2Africa in three local nodes we provide a NGN billed and
                                                scalable cloud service to businesses accros Nigeria.
                                            </p>
                                            <a href="/sobre" class="">
                                                <button
                                                    style="background-color: #FAA61A; color: #002561; font-weight: 700; padding: 8px 40px;"
                                                    class=" uk-button  uk-button-small uk-border-pill uk-padding uk-margin-medium-top">
                                                    <span class="uk-padding"> + More
                                                        about
                                                        us</span> </button>
                                            </a>

                                        </div>

                                    </div>

                                </div>




                            </div>
                        </div>

                        <!-- 
          Through continuous investment in a
            fully
            integrated and interconnected digital ecosystem, we deliver world-class connectivity, cloud solutions,
            colocation services, and international data capacity via advanced submarine cable systems enabling
            digital
            transformation, and driving sustainable growth for businesses across Nigeria, Africa and beyond.
          -->

                        <!-- Card 2 -->
                        <div>
                            <div class="">

                                <img src="/img/TelcablesNG-CloudMapDigital.png" alt="" srcset=""
                                    style=" border-radius: 30px;">

                            </div>
                        </div>

                    </div>




                </div>
            </div>

        </div>
        

    </div>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous
        uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next
        uk-slider-item="next"></a>

</div>