
<div class="uk-padding uk-margin-large-top fundo">

    <div class="uk-margin-large-top uk-margin-large-left uk-margin-large-right  uk-child-width-expand@s uk-text-left" uk-grid>
        <div>
            <h1 style="color:white">
                <b>Infraestrutura Tier III de acesso à internet com capacidade flexível dentro de uma rede global, eficiente e de baixa latência.</b>     </h1>
                <p style="color:white" class="uk-margin-small-top"> Os Datacenter ANGONAP da Angolacables são desenhados com elevados padrões de segurança, capacidade de expansão e <br>redundância energética capaz de providenciar serviços de alojamento e conectividade contínua.</p>
        </div>
        <div>
        </div>
        
  
    </div>

    
    <div class=" uk-margin-large-left uk-margin-large-right uk-child-width-1-2 uk-text-center uk-grid-match" uk-grid>
   
        <div >
            <div class="  uk-child-width-1-2 uk-text-center uk-grid-match" uk-grid>
                <div>
                    <div class="border uk-card uk-card-primary uk-card-body">
                        <h3>Angonap 1</h3>
                        <p>Luanda, Angola</p>
                        <button class="uk-margin-small-top uk-button uk-button-default uk-border-pill">Saber mais</button>

                    </div>
                </div>
                <div>
                    <div class= "border uk-card uk-card-primary uk-card-body">
                        <h3>Angonap 2</h3>
                        <p>Fortaleza, Brasil</p>
                        <button class="uk-margin-small-top uk-button uk-button-default uk-border-pill">Saber mais</button>
                    </div>
                </div>
            </div>
        </div>
    
        <div>
            <div class="border fundo-cloud uk-card uk-card-default uk-card-body uk-text-left">
                <h3  style="color:  white;">Marcar Visita</h3>
                <p style="color: white;">
                    Faça um tour pelas instalações dos Angonaps. Descubra o poder de computação, resiliência, segurança e conexão que podemos colocar a disposção da sua empresa</p>
                    <a href="#modal-visita" uk-toggle><button class="uk-button uk-button-primary uk-button-large uk-border-pill">Começar Visita</button></a>
                </div>
        </div>
    </div>






</div>


<!-- This is a button toggling the modal -->

<!-- This is an anchor toggling the modal -->

<!-- This is the modal -->
<div id="modal-visita" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Vista virual aos Data Centers ANGONAP</h2>
        <p>Permita-nos conhecer-te antes de levar-tes nesta visita vitual.</p>


        <form class="uk-form-stacked uk-border-rounded">

            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Nome completo</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="">
                </div>
                <label class="uk-form-label" for="form-stacked-text">Seu E-mail</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="">
                </div>
            </div>
        
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-select">Qual Data Center pretende visitar ?</label>
                <div class="uk-form-controls">
                    <select class="uk-select" id="form-stacked-select">
                        <option>Angonap 1 (Luanda, Angola)</option>
                        <option>Angonap 2 (Fortaleza, Brasil)</option>
                    </select>
                </div>
            </div>
        
            
        </form>
        <p class="uk-text-right">
            <button class="uk-button uk-button-primary" type="button">Começar visita</button>
        </p>
    </div>
</div>