<div class="uk-container">

    
<div class="fundo-telcables uk-margin-large-bottom">
        <h2 class="uk-padding uk-text-center" style="color:white">{{ 'nossas.operacoes' | translate }}</h2>


    <div class="uk-child-width-expand@s uk-text-center uk-margin-large-left uk-margin-large-right" uk-grid>
        <div>
           <a href="https://angolacables.co.ao/"> <img class="uk-margin-large-bottom" src="img/telcables/acsa.png" ></a>
          </div>
          <div>
           <a href="https://telcables.co.za/"> <img class="uk-margin-large-bottom" src="img/telcables/telcables_sa.png"  /></a>
          </div>
          <div>
           <a href="https://telcables.ng/"> <img class="uk-margin-large-bottom" src="img/telcables/telcables_nigeria.png"  /> </a>
          </div>
          <div>
           <a href="https://telcables.com.br/"><img class="uk-margin-large-bottom" src="img/telcables/telcables_brasil.png" /> </a> 
          </div>
          <div>
           <a href="https://telcables.net/"> <img class="uk-margin-large-bottom" src="img/telcables/telcables_us.png"   /> </a>
          </div>
          <div>
           <a href="https://telcables.pt/"> <img class="uk-margin-large-bottom" src="img/telcables/telcables_europe.png" /> </a>
          </div> 
         
    </div>

   
</div>